<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $_SN[$space[uid]]}-->{$_SN[$space[uid]]} - <!--{/if}-->$_SCONFIG[sitename] - Powered by UCenter Home</title>

<script language="javascript" type="text/javascript" src="source/jquery-1.4.1.min.js"></script>
<script language="javascript" type="text/javascript" src="source/script_cookie.js"></script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>

<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<script language="javascript" type="text/javascript" src="source/script_face.js"></script>
<script language="javascript" type="text/javascript" src="source/script_manage.js"></script>
<script language="javascript" type="text/javascript" src="source/menu.js"></script>
<script type="text/javascript">
//滚动插件
(function(jQuery){
jQuery.fn.extend({
Scroll:function(opt,callback){
//参数初始化
if(!opt) var opt={};
	var _this=this.eq(0).find("ul:first");
	var lineH=_this.find("li:first").height(),//获取行高
	line=opt.line?parseInt(opt.line,10):parseInt(this.height()/lineH,10), //每次滚动的行数，默认为一屏，即父容器高度
	speed=opt.speed?parseInt(opt.speed,10):500, //卷动速度，数值越大，速度越慢（毫秒）
	timer=opt.timer?parseInt(opt.timer,10):3000; //滚动的时间间隔（毫秒）
if(line==0) line=1;
var upHeight=0-line*lineH;
//滚动函数
scrollUp=function(){
_this.animate({
	marginTop:upHeight
	},speed,function(){
for(i=1;i<=line;i++){
	_this.find("li:first").appendTo(_this);
}
	_this.css({marginTop:0});
});
}
//鼠标事件绑定
_this.hover(function(){
clearInterval(timerID);
},function(){
	timerID=setInterval("scrollUp()",timer);
}).mouseout();
}       
})
})(jQuery);
jQuery(document).ready(function(){
       		initMenuEx();
			jQuery("#login_adv_bottom").Scroll({line:2,speed:2000,timer:5000});
        });
</script>
<style type="text/css">
@import url(template/default/style.css);
<!--{if $_TPL['css']}-->
@import url(template/default/{$_TPL[css]}.css);
<!--{/if}-->
<!--{if !empty($_SGLOBAL['space_theme'])}-->
@import url(theme/$_SGLOBAL[space_theme]/style.css);
<!--{elseif $_SCONFIG[template] != 'default'}-->
@import url(template/$_SCONFIG[template]/style.css);
<!--{/if}-->
<!--{if !empty($_SGLOBAL['space_css'])}-->
$_SGLOBAL[space_css]
<!--{/if}-->
@import url(template/$_SCONFIG[template]/galleriffic.css);
</style>
<link rel="shortcut icon" href="image/favicon.ico" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />
</head>
<body>

<div id="append_parent">

</div>

<div id="ajaxwaitid"></div>
<div id="bm_header">
<form id="ssform" name="ssform" method="get" action="/subject_search">     
    <a href="index.php" title="豆瓣"><img src="template/$_SCONFIG[template]/image/bm_logo.jpg" alt="$_SCONFIG[sitename]" class="logo"/></a>
    <div id="nav">
            <a class="now" href="space.php?do=all"><span>首页</span></a>
   <!--{if $_SGLOBAL[supe_uid]}-->
    		<a href="space.php?do=all"><span>我的弹指</span></a>
   <!--{/if}-->
            <a  href="space.php?do=bookmark"><span>导航</span></a>
            <a  href="space.php?do=digg"><span>$_SC['digg_name']</span></a>
            <!--<a  href="/movie/"><span>热荐</span></a>-->
            <a  href="cp.php?ac=link"><span>上榜</span></a>
   <!--{if $_SGLOBAL[supe_uid]&&checkperm('allowdigg') }-->
			<a href="cp.php?uid=$_SGLOBAL[supe_uid]&&ac=digg&op=add"><span>提交$_SC['digg_name']</span></a>
   <!--{/if}-->
   <!--{if $_SGLOBAL[supe_uid]&&checkperm('managelink') }-->
			<a href="cp.php?uid=$_SGLOBAL[supe_uid]&ac=link&op=manage"><span>验证</span></a>
    <!--{/if}-->
	<!--{if $_SGLOBAL[supe_uid]&&checkperm('manageconfig') }-->
			<a href="admincp.php"><span>管理</span></a>
    <!--{/if}-->
    </div>    
<div id="searbar">
		<span><a id=homepage style="CURSOR: pointer" onclick="this.style.behavior='url(#default#homepage)';javascript:add_favorite();">加为收藏</a></span>
        <span>设为首页</span>

</div>
    <div id="status">
   <!--{if $_SGLOBAL[supe_uid]}-->
			<span class="pl">你好，<a href="space.php?do=bookmark" target=_blank><span>$_SGLOBAL['supe_username']</span></a>，欢迎回来！</span>
   <!--{else}-->
            <span class="pl">你好，请<a href="do.php?ac=$_SCONFIG[login_action]">登录</a>或<a href="do.php?ac=$_SCONFIG[register_action]">注册</a></span>
   <!--{/if}-->
    </div>
</form>
</div>
	<div id="wrap">

<!--{/if}-->
