<!--<static popular>--> 
<div class="prse">
<p>
		<!--{loop $_SGLOBAL['popularbar'] $key $value}-->
					<!--{if $key==1 }-->
							<span id="toolbar_$key" class="currentx">$value['classname']</span>
					<!--{else}-->
							<span id="toolbar_$key">$value['classname']</span>
					<!--{/if}-->
		<!--{/loop}--> 
</p>
<!--{loop $_SGLOBAL['popularsite'] $key $value}-->
					<!--{if $key==1 }-->
							<ul class="toolbar_$key" style="display: block;">
					<!--{else}-->
							<ul class="toolbar_$key" style="display: none;">
					<!--{/if}-->
					<!--{loop $value $k $val}-->
									<!--{if ($k%$_SGLOBAL['popularbar'][$key]['rownum'])==0 }-->
											<!--{if (($k%($_SGLOBAL['popularbar'][$key]['rownum']*2))==0)}-->
												<li class="row-list">
											<!--{else}-->
												<li class="row-list_l">
											<!--{/if}-->
									<!--{/if}-->
									<em>
									<!--{if $ac=='linktoolbar'}-->
											<a href="admincp.php?ac=linktoolbar&op=edit&linktoolbarid=$val[toolbarid]">$val[name]</a>  
									<!--{else}-->
											<!--{if empty($val[namecolor]) }-->
											<a href="$val[url]" >$val[name]</a> 
											<!--{else}-->
											<a href="$val[url]" style="color:$val[namecolor]">$val[name]</a>  
											<!--{/if}-->
									<!--{/if}-->
									</em>
					<!--{/loop}-->
					</ul>
<script language="javascript" type="text/javascript">		
		$(".toolbar_$key em").attr("style","width:$_SGLOBAL['popularbar'][$key]['width']px");
		$(".toolbar_$key a").attr("target","_blank");
		$(".toolbar_$key a").each(function(){
			this.title=$(this).text();
		});	
</script> 
<!--{/loop}-->  
</div>
<!--</static>--> 
 