<ul class="bklt" id="bklist">
			<!--{loop $bookmarklist $key $value}-->
			<li>
					<h3>
						<a class="url id_bm_$value['bmid']" id="$value['bmid']"></a>
						<p class="num_con">
								<strong><!--{eval linkaward($value[award],0);}--></strong>
								.<!--{eval linkaward($value[award],1);}-->
						<em>($value[storenum]人收藏)</em>
						</p>
					</h3>
					<!--{if empty($space['style'])}-->
						<div class="d_avatar avatar125">
								<a class="url id_bm_$value['bmid']" id="$value['bmid']">
									 <!--{if empty($value['picflag'])}-->
										<img src="template/default/image/webloading.gif">
									 <!--{else}-->
										<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
									 <!--{/if}-->										
								</a>
						</div>						
						<!--{if !empty($value['description'])}-->
						<p class="message">
									$value['description'] ...
						<!--{else}-->
						<p class="message ">
							<span class="id_nodes" id="$value['bmid']"></span>
						<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{else}-->						
							<!--{if !empty($value['description'])}-->
							<p class="messagenopic">
									$value['description'] ...
							<!--{else}-->
							<p class="message">
								<span class="id_nodes" id="$value['bmid']"></span>
							<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{/if}-->
					<p class="tags"> 
						<!--{if !empty($value['tag'])}-->
							<!--{loop $value[tag] $subkey $subvalue}-->
								<a id="$subkey" class="id_bm_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
							$_SC['unknown_tag']
						<!--{/if}-->
					</p>					
					<p class="oper">		 
						<a class="share nhot" id="$value['bmid']"></a>
						<span>|</span><a class="get" id="$value['bmid']"></a><span>|</span><a class="edit" id="$value['bmid']"></a><span>|</span><a class="delete" id="$value['bmid']"></a>
					</p> 
				</li>

				<!--{/loop}-->
			</ul>
<div class="page">$bookmark_multi</div>
<div class="bloglist_ad">
		<img src="./template/default/image/468x60.jpg">
</div>
<script language="javascript" type="text/javascript" charset="$_SC[charset]">	
		var gpid=$groupid;
		var bsid=$browserid;
		bookmarkload();
		$(".bklt .delete").each(function(){
			this.href =this.href+"&at=$at";			
		});
		$(".bklt .edit").each(function(){
			this.href =this.href+"&at=$at";			
		});	
<!--{loop $bookmarklist $key $value}-->	
		var id_bm_$value['bmid']_title="$value['subject']";
		$(".id_bm_$value['bmid']").attr("href","$value[url]").attr("title",id_bm_$value['bmid']_title);		
		$(".id_bm_$value['bmid']:empty").html(id_bm_$value['bmid']_title);
<!--{/loop}-->		
</script>
	

