<div id="network">
	<div class="box_l">
		<h2 class="ntitle">
			<div class="lgpnm">$item[subject]</div>			
		</h2>
		<div class="siteinfo">
					<div class="sitepic">
					<a target="_target" class="playpic" href="$item['url']" onclick="updatelinkview($item[linkid])">
					<img alt="$item['$subject']" src="$item['pic']/$item['md5url'].$_SC['link_image_suffix']">
					<em></em>
					</a>
					</div>
					<div class="sitedetail">
						<p>
							<strong>名称: </strong>
							<a href="$item['url']" target="_blank" onclick="updatelinkview($item[linkid])">$item['subject']</a>
							<span class="num_con"><span><strong><!--{eval linkaward($item[award],0);}--></strong>.<!--{eval linkaward($item[award],1);}--></span><em>(<em>$item['storenum']</em>人收)</em></span>
						</p>
						<p>
							<strong>地址: </strong>
							<a href="$item['url']" target="_blank" onclick="updatelinkview($item[linkid])">$item['url']</a>
						</p>
						<p>
							<strong>所属分类: </strong>
							<a href="type,area/movie,1" target="_blank">韩国</a>
						</p>						
						<p>
							<strong>标签: </strong>
							<!--{loop $item['link_tag'] $subkey $subvalue}-->
									<a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
							<!--{/loop}-->
						</p>
						<p>
						<div class="siteact">
							<p><strong>收录日期: </strong><span><!--{date('Y-m-d',$item[link_dateline],1)}--></span></p>
							<p><strong>收藏人数: </strong><span>$item[storenum]</span></p>
							<p><strong>浏览次数: </strong><span id="view_num">$item[viewnum]</span></p>
						<p>
							<a target="_target" href="$item['url']" onclick="updatelinkview($item[linkid])">访问</a> 
							<!--{if $ac=='link' }-->
							<a  href="cp.php?ac=link&linkid=$item[linkid]&op=bookmark">收藏</a>
							<a  onclick="ajaxmenuEx(event,'img_seccode_$linkitem[linkid]', this.id,1);" id="bookmark_reporterr_$item[linkid]" href="cp.php?ac=link&op=reporterr&linkid=$item[linkid]">举报</a>
							<!--{/if}-->
							<!--{if $_SGLOBAL[supe_uid]&&checkperm('managelink') }-->
								<a onclick="ajaxmenuEx(event,'img_seccode_$item[bmid]', this.id,1);" id="link_edit2_$item[bmid]" href="cp.php?ac=bookmark&bmid=$item[bmid]&op=edit">编辑</a>
								<a onclick="ajaxmenuEx(event,'img_seccode_$item[bmid]', this.id,1);" id="link_delete_$item[bmid]" href="cp.php?ac=bookmark&bmid=$item[bmid]&op=delete">删除</a>
							<!--{/if}-->
						</p>
						</div>
						<div class="sitescore">
							<p><strong>评价</strong> <span>(点击顶踩评价)</span></p>
							<span>
								<span class="rate">
									<a target="_self" onclick="updatelinkup($item[linkid])"  href="javascript:void(0)"></a>
								</span>
								(<span id="up_num">$item['up']</span>人顶)</span>&nbsp;&nbsp;&nbsp;
								<span class="rate">
									<a  target="_self"  onclick="updatelinkdown($item[linkid])"  href="javascript:void(0)"></a>
								</span>
								(<span id="down_num">$item['down']</span>人踩)
							</span>	  
						</div>
					</div>
					


				</div>
				<h3>站点简介</h3>
				<div class="siteintro">
					<p>$item[description]</p>
					<p>&nbsp;</p>
				</div>
		
	</div>
	<div class="box_r">
		<h2 class="ntitle">
			<div class="rgpnm">类似站点</div>
		</h2>
		<div style="padding:10px 22px;">
			<img src="template/default/image/adv_240x200.jpg">
		</div>
		<!--
		-->
		   <dl class="drank">
				<!--{template hotdigg}-->
		   </dl>
		<!--
		-->
	</div>
	<div class="box_l" style="height:250px;">			
		<h2 class="ntitle">				
			<div class="lgpnm">相似站点»</div>
		</h2>
			<!--{template space_navigation_list}-->
	</div>
</div>
