<!--{template bm_header}-->
<!--{if $_GET[op] == 'delete'}-->
<div style="padding:1em;border: 3px solid #FF8E00;background: #FCF9E6;">
<h1>删除收藏</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=bookmark&op=delete&bmid=$bmid&browserid=$browserid">
	<p>确定删除指定的收藏吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>
	<iframe style="position:absolute;z-index:-1;width:expression(this.previousSibling.offsetWidth);height:expression(this.previousSibling.offsetHeight);top:expression(this.previousSibling.offsetTop);left:expression(this.previousSibling.offsetLeft);background-color:#FCF9E6;"   frameborder="0"></iframe>


<!--{elseif $_GET[op] == 'edithot'}-->

<h1>调整热度</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=blog&op=edithot&blogid=$blogid">
	<p class="btn_line">
		新的热度：<input type="text" name="hot" value="$blog[hot]" size="5"> 
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="hotsubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
<!--{elseif $op == 'get'}-->
	<!--{template bookmark_item_detail}-->
<!--{else}-->

<div style="padding:1em;border: 3px solid #CEE89F;background: #EEF9EB;" id="innerdiv">
<h1>编辑收藏</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=bookmark&op=edit&bmid=$bmid&browserid=$browserid">
<table cellspacing="0" cellpadding="3">
<tr>
<th><label for="subject">名称：</label></th>
<td>	
<input type="text" id="subject" name="subject" value="$item[subject]" onfocus="clearwarning($('subject_tip'));" style="width: 396px;" class="t_input" tabindex="1"  />
<p id="subject_tip"></p>
</td>
</tr>
<tr>
<th><label for="address">地址：</label></th>
<td>
<input type="text" id="address" name="address" value="$item[url]" onfocus="clearwarning($('address_tip'));" style="width: 396px;" class="t_input" tabindex="1"  />
<p style="color:gray">请正确填写网页地址(http(s)://)</p>
<p id="address_tip"></p>
</td>
</tr>
<tr>
<th><label for="tag">标签：</label></th>
<td>
<input type="text" id="tag" name="tag" value="$item[tag]" style="width: 396px;" class="t_input" tabindex="1"  />
<p style="color:gray">多个标签请用空格隔开</p>
</td>
</tr>

<tr>
<th style="vertical-align: top;"><label for="description">描述：</label></th>
<td><textarea id="description" name="description" cols="40" rows="4" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');">$item['description']</textarea></td>
</tr>
	<!--{if $_SCONFIG['seccode_register']}-->
	<!--{if $_SCONFIG['questionmode']}-->
	<tr>
		<th style="vertical-align: top;">请先回答问题</th>
		<td>
			<p><!--{eval question();}--></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th style="vertical-align: top;">验证码</th>
		<td>
		<!--{if empty($_SGLOBAL['inajax'])}-->
			<script>seccode()</script>
			<input type="text" id="seccode" name="seccode" value="" size="4" class="t_input"  tabindex="5" autocomplete="off" />&nbsp;<span id="checkseccode"></span>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>			
		<!--{else}-->
			<img id="img_seccode_$item[bmid]" src='' align="absmiddle">
			<input type="text" id="seccode" name="seccode" value="" maxlength="4" onfocus="clearwarning($('checkseccode'));" class="t_input"  tabindex="5" autocomplete="off" />
			<p id="checkseccode"></p>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccodeex('img_seccode_$item[bmid]')">更换一张</a></p>
		<!--{/if}-->
		</td>
	</tr>
	<!--{/if}-->
	<!--{/if}-->
<tr>
<th>&nbsp;</th>
<td>
<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
<input type="hidden" name="category" value="$_SC['bookmark_type_site']" />
<input type="hidden" name="editsubmit" value="true" />
<!--{if empty($_SGLOBAL['inajax'])}-->
<input type="button" name="btnsubmit" value="确定" class="submit"  onclick="bookmark_validate(this);"/>
<!--{else}-->
<input type="button" name="btnsubmit" value="确定" class="submit"  onclick="bookmark_validate(this);"/>
<!--{/if}-->
</td>
</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>

	<iframe style="position:absolute;z-index:-1;width:expression(this.previousSibling.offsetWidth);height:expression(this.previousSibling.offsetHeight);top:0;left:0;"   frameborder="0"></iframe>	
<!--{/if}-->
<!--{template footer}-->
