<!--{template header}-->	 
<!--{if $op == 'delete'}-->
<div style="padding:1px;">
<h1>删除话题</h1>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=$ac&op=$_GET[op]&diggpoolid=$diggpoolid">
	<p>确定删除指定的话题吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>
<!--{else}-->
<!--{if $op == 'add'}-->
<div>
<!--{else}-->
<div style="padding:1px;">
<div class="popupmenu_inner">
<!--{/if}-->
<form method="post" action="cp.php?ac=$ac&op=$op">
<table cellpadding="0" cellspacing="0" class="formtable">
<caption>
<h2>添加$_SC['digg_name']</h2> 
<p>请完整填写以下信息进行注册。<br>注册完成后，该帐号将作为您在本站的通行帐号，您可以享受本站提供的各种服务。</p>
</caption>
	<tr>
		<th width="40"><label for="subject">名称</label></th>
		<td>	
		<input type="text" id="subject" name="subject" value="$diggpoolitem[subject]" onfocus="clearwarning('subject_tip');" style="width: 396px;" class="t_input" tabindex="1"  />
		<p id="subject_tip"></p>
		</td>
	</tr>
	<tr>
		<th width="40"><label for="address">地址</label></th>
		<td>
	<!--{if empty($diggpoolitem[url])}-->
		<input type="text" id="address" name="address" style="width: 396px;" class="t_input" tabindex="2" onfocus="javascript:if('http://'==this.value)this.value='';clearwarning('address_tip');" onblur="javascript:if(''==this.value)this.value='http://'" id="share_link" style="width:98%;" value="http://" />
	<!--{else}-->
		<input type="text" id="address" name="address" value="$diggpoolitem[url]" style="width: 396px;" class="t_input" tabindex="2" onfocus="javascript:if('http://'==this.value)this.value='$diggpoolitem[url]';clearwarning('address_tip');" onblur="javascript:if(''==this.value)this.value='$diggpoolitem[url]'" id="share_link" style="width:98%;" />
	<!--{/if}-->
		<p style="color:gray">请正确填写网页地址(http(s)://)</p>
		<p id="address_tip"></p>
		</td>
	</tr>
	<tr>
		<th width="40"><label for="tag">标签</label></th>
		<td>
		<input type="text" id="tag" name="tag" value="$diggpoolitem[tag]" onfocus="clearwarning('tag_tip');" style="width: 396px;" class="t_input" tabindex="3"  />
		<p style="color:gray">多个标签请用空格隔开</p>
		<p id="tag_tip"></p>
		</td>
	</tr>
	<tr>
		<th width="40">&nbsp;</th>
		<td>
				<div class="cont">
					<ul class="type-1">
						<li class="ll">
							<ul class="type-2">
							<!--{loop $diggtaglist $key $value}-->
								<li><a id="tag_li_$key" href="javascript:fSetTag('$value');">$value</a></li>								
							<!--{/loop}-->
							</ul>
					 </ul>
					</li>
				 </div>
		</td>
	</tr>
	<tr width="40">
		<th style="vertical-align: top;"><label for="description">描述</label></th>
		<td>
		<textarea id="description" name="description" cols="40" rows="4" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');" onfocus="clearwarning('description_tip');" tabindex="5">$diggpoolitem[description]</textarea>
		<p style="color:gray">简要描述(10~200字符)</p>
		<p id="description_tip"></p>
		</td>
	</tr>
<tr>
	<th>&nbsp;</th>
	<td>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<!--{if $op == 'add'}-->
		<input type="hidden" name="addsubmit" value="true" />
		<!--{else}-->
		<input type="hidden" name="editsubmit" value="true" />
		<!--{/if}-->
		<input type="button" id="diggbutton" name="diggbutton" value="提交发布" onclick="digg_validate(this,'seccode');" style="display: none;" />
	</td>
</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<table cellpadding="0" cellspacing="0" class="formtable" >
	<tr>
		<th width="40"><label>图片</label></th>
		<td>
			<input type="button" name="clickbutton[]" value="上传图片" class="button" style="float:left" tabindex="6" onclick="edit_album_show('pic')">
		</td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" class="formtable"  id="tanzhi-edit-pic"  style="display:none;">
	<tr>
		<th width="40">&nbsp;</th>
		<td> 
			<table summary="Upload" cellspacing="2" cellpadding="0">
				<tbody id="attachbodyhidden" style="display:none">
					<tr>
						<td>
							<form method="post" id="upload" action="cp.php?ac=upload" enctype="multipart/form-data" target="uploadframe" style="background: transparent;">
								<input type="file" name="attach" class="t_input" size="60"/>
								<span id="localfile"></span>
								<input type="hidden" name="uploadsubmit" id="uploadsubmit" value="true" />
								<input type="hidden" name="albumid" id="albumid" value="0" />
								<input type="hidden" name="formhash"  value="<!--{eval echo formhash();}-->" />
							</form>
						</td>
					</tr>
				</tbody>
				<tbody id="attachbody"></tbody>
			</table>
			<table cellpadding="0" cellspacing="0" class="formtable">
				<tr>
					<td>
						<select name="albumid" id="uploadalbum" onchange="addSort(this)" style="display:none;">
						</select>
					<script src="source/script_upload.js" type="text/javascript"></script>
					<iframe id="uploadframe" name="uploadframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank"></iframe>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" class="formtable">
	<!--{if $_SCONFIG['seccode_register']}-->
	<!--{if $_SCONFIG['questionmode']}-->
	<tr>
		<th style="vertical-align: top;">请先回答问题</th>
		<td>
			<p><!--{eval question();}--></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" tabindex="7" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th width="40" style="vertical-align: top;">验证码</th>
		<td>
			<!--{if empty($_SGLOBAL['inajax'])}-->
			<script>seccode()</script>
			<input type="text" id="seccode" name="seccode" value="" size="4" class="t_input"  onfocus="clearwarning('checkseccode');" tabindex="5" autocomplete="off" />
			<p id="checkseccode"></p>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>			
		<!--{else}-->
			<img id="img_seccode_$diggpoolitem[diggpoolid]" src='' align="absmiddle">
			<input type="text" id="seccode" name="seccode" value="" maxlength="4" onfocus="clearwarning('checkseccode');" class="t_input"  tabindex="5" autocomplete="off" />
			<p id="checkseccode"></p>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccodeex('img_seccode_$diggpoolitem[diggpoolid]')">更换一张</a></p>
		<!--{/if}-->
		</td>
	</tr>
	<!--{/if}-->
	<!--{/if}-->
	<tr>
		<th width="40">&nbsp;</th>
		<td>
			<input type="button" name="btnsubmit" value="确定" class="submit"   onclick="$('#diggbutton').click();"/>
		</td>
	</tr>
</table>

</div>
</div>
<!--{/if}-->
<!--{template footer}-->
