<!--{template bm_header}-->
<!--{if $op == 'delete'}-->
<div style="padding:1em;border: 3px solid #FF8E00;background: #FCF9E6;">
<h1>删除</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=link&op=delete&linkid=$linkitem['linkid']">
	<p>确定删除标题为<span style="color:#368332">$linkitem['subject']</span>的站点吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>
	<iframe style="position:absolute;z-index:-1;width:expression(this.previousSibling.offsetWidth);height:expression(this.previousSibling.offsetHeight);top:expression(this.previousSibling.offsetTop);left:expression(this.previousSibling.offsetLeft);background-color:#FCF9E6;"   frameborder="0"></iframe>
<!--{elseif $op == 'get'}-->
<div id="network">
	<div class="nbox_c">
		<h2 class="ntitle">$linkitem[link_subject]</h2>
		<div class="movieInfo">
					<div class="moviePic">
					<a target="_target" class="playpic" href="$linkitem['url']">
					<img alt="$linkitem['$link_subject']" src="$linkitem['pic']/$linkitem['md5url'].$_SC['link_image_suffix']">
					<em></em>
					</a>
					</div>
					<div class="movieDetail">
						<p><strong>名称: </strong><a href="person/305484" target="_blank">$linkitem['link_subject']</a></p>
						<p><strong>地址: </strong><a class="link-lb-ff0000" href="person/112280" target="_blank">$linkitem['url']</a></p>		<p><strong>所属分类: </strong><a href="type,area/movie,1" target="_blank">韩国</a></p>						<p><strong>标签: </strong><a href="type,genre/movie,Action" target="_blank">动作</a></p>
						<p>
						<div style="float:left;width:220px;">
						<p><strong>收录日期: </strong><span>2009-04-23</span></p>
						<p><strong>收藏人数: </strong><span>15</span></p>
						<p><a>点击访问</a> <a>加入收藏</a> <a>举报错误</a></p>
						</div>
						<div class="movieScore">
							<p><strong id="pj_title">评价</strong> <span id="my_score">(滑动星星评价)</span></p>
							<span>
								<span class="rate"><a id="movie_item_t_1" target="_self" href="javascript:void(0)"></a></span>
								(<span id="pj_all_num">1280人价</span>)</span>&nbsp;&nbsp;&nbsp;
								<span class="rate"><a id="movie_item_t_1" target="_self" href="javascript:void(0)"></a></span>
								(<span id="pj_all_num">1280人价</span>)</span>

						</div>
						</p>
					</div>
					


				</div>
				<h3>站点简介</h3>
				<div class="movieIntro">
					<p>　　清晨在江华岛，中午在郁陵岛？！一定要留意她！　　伪装为旅行社职员的拥有六年资历的国家情报院要员秀芝，过去的历史可以曝光，但决不能暴露身份。于是她对男友才俊时常是谎话连篇.</p>
				</div>
		
	</div>
	<div class="nbox_s side_rbox side_rbox_w">
		<h2 class="ntitle">类似站点</h2>
		<div style="padding:10px 22px;">
			<img src="template/default/image/adv_240x200.jpg">
		</div>
		<!--
		-->
		<ol class="rank" style="display: block;">
			<li class="n1">
			<div class="pack pack_video_brief  ">
			<div class="pic">
				<div class="quick">
					<a class="quick_hook" title="添加到便利豆单" icode="HA1J-g0AmKE" href="#"></a>
				</div>
			<a class="inner" target="new" title="妖精的尾巴 第26话" href="http://www.tudou.com/programs/view/HA1J-g0AmKE/">
			<img height="90" width="120" coords="_eAA" src="http://i01.img.tudou.com/data/imgs/i/049/979/002/m35.jpg" class="pack_clipImg"></a>
			</div>
			<div class="txt">
				<h6 class="caption">
				<a coords="_eAB" href="http://www.tudou.com/programs/view/HA1J-g0AmKE/" target="new" title="妖精的尾巴 第26话"> 妖精的尾巴 第26话 </a></h6>
					<ul class="info">
						<li>播客:
						<a coords="_eK" title="闘神威布的主页" href="http://www.tudou.com/home/kenny1234/" target="_blank">闘神威布</a>
						</li>
					</ul>
			</div>
			</div>
			</li>
			<li class="n2">
			<a coords="_eB" href="http://www.tudou.com/programs/view/3MH-uLc91k4/" title="无法逃离的背叛 第2话" target="new">无法逃离的背叛 第2话</a></li>
			<li class="n3">
				<a coords="_eC" href="http://www.tudou.com/programs/view/B1R1gfLKIUs/" title="海贼王 第447话" target="new">海贼王 第447话</a></li>
			<li class="n4"><a coords="_eD" href="http://www.tudou.com/programs/view/XMZ-6L9XR_k/" title="薄樱鬼 第3话" target="new">薄樱鬼 第3话</a></li>
			<li class="n5"><a coords="_eE" href="http://www.tudou.com/programs/view/RFi6xbq4geE/" title="会长是女仆 第3话" target="new">会长是女仆 第3话</a>
			</li>
			</ol>
		<!--
		-->
	</div>
	<div class="nbox_c">			
		<h2 class="ntitle">				
		<div class="groupname">相似站点»</div>
		</h2>
		<!--
		-->
		<div id="thumbs" class="navigation floatleft nav_1ogin">
			<ul class="thumbs noscript">
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="数万首歌曲音乐在线试听" onclick="getrelatedlinkfromid(1);">
			<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="数万首歌曲音乐在线试听">
			</a>
			<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="数万首歌曲音乐在线试听" onclick="getrelatedlinkfromid(2);">
			<img src="snapshot/7/4/1/5/52dda3cf118965987ad84a533706da47.jpg" alt="数万首歌曲音乐在线试听">
			</a>
			<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bwofrdf%3D%25C7%25F4%25C4%25F1%26amp%3Btype%3D1%26amp%3Bmore%3Dtrue">好听音乐网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" onclick="getrelatedlinkfromid(3);">
			<img src="snapshot/6/3/1/5/580b23629f65c8455cd4baa93b5a0da2.jpg" alt="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比">
			</a>
			<p><a href="link.php?url=http://www.goalhi.com">GoalHi足球</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="" onclick="getrelatedlinkfromid(4);">
			<img src="snapshot/4/4/0/5/9e9ccd263c2c516efd96da226e4556c5.jpg" alt="">
			</a>
			<p><a href="link.php?url=http://www.txzqw.com">天下足球网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" onclick="getrelatedlinkfromid(5);">
			<img src="snapshot/1/7/4/6/4f12a25ee6cc3d6123be77df850e343e.jpg" alt="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资">
			</a>
			<p><a href="link.php?url=http://www.sina.com.cn">新浪首页</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" onclick="getrelatedlinkfromid(6);">
			<img src="snapshot/6/5/3/5/8239c5d74a80ad380e7e415cc7356b1b.jpg" alt="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、">
			</a>
			<p><a href="link.php?url=http://www.dangdang.com">当当网&mdash;网</a></p>							
			</li>
			</ul>
		</div>
	  	<!--
		-->
		<div class="content_login_r">
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="txt_tag">
				<p><span>热门分类:</span>
				<a href="http://movies.xunlei.com/type,genre/movie,Action" title="动作" blockid="2217">动作</a>|<a href="http://movies.xunlei.com/type,genre/movie,Adventure" title="冒险" blockid="2217">冒险</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CComedy%2Cvod_free" title="喜剧" blockid="2217">喜剧</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CHorror%2Cvod_free" title="恐怖" blockid="2217">恐怖</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CSci-Fi%2Cvod_free" title="科幻" blockid="2217">科幻</a>|<a href="http://movies.xunlei.com/type,genre/movie,Crime" title="警匪" blockid="2217">警匪</a>
				</p>
				<p><span>特色频道:</span>
				<a href="http://hd.xunlei.com/" title="720P" blockid="2218">720P</a>|<a href="http://movie.xunlei.com/shoubo/" title="首播" blockid="2218">首播</a>|<a href="http://movie.xunlei.com/online/dapian_index.html" title="大片" blockid="2218">大片</a>|<a href="http://movie.xunlei.com/new,movie" title="新片" blockid="2218">新片</a>|<a href="http://movie.xunlei.com/top/" title="风云榜" blockid="2218">风云榜</a>|<a href="http://movies.xunlei.com/list,movie/" title="组合查询" blockid="2218">组合查询</a>
				</p>
				</div>
		</div>
		<!--
		-->
	</div>
</div>
<!--{elseif $op == 'bookmark'}-->
<form id="registerform" name="registerform" method="post" action="cp.php?ac=bmdir&op=add" class="c_form">
<table cellpadding="0" cellspacing="0" class="formtable">
	<caption>
		<h2>我要收藏</h2>
		<p>请完整填写以下信息进行注册。<br>注册完成后，该帐号将作为您在本站的通行帐号，您可以享受本站提供的各种服务。</p>
	</caption>
	<tr>
		<th width="40">标题</th>
		<td>
		<input type="text" id="subject" name="subject" value="$linkitem[link_subject]" style="width: 396px;" class="t_input"" tabindex="1" />&nbsp;
		<span id="checkusername">&nbsp;</span>
		</td>
	</tr>
	<tr>
		<th width="40">地址</th>
		<td>
		<!--{if empty($linkitem[url])}-->
		<input type="text" id="address" name="address" value="http://" style="width: 396px;" class="t_input" tabindex="2" onfocus="javascript:if('http://'==this.value)this.value='http://';" onblur="javascript:if(''==this.value)this.value='http://'" id="share_link" style="width:98%;" />
		<!--{else}-->
		<input type="text" id="address" name="address" value="$linkitem[url]" style="width: 396px;" class="t_input" tabindex="2" onfocus="javascript:if('http://'==this.value)this.value='$diggitem[url]';" onblur="javascript:if(''==this.value)this.value='$diggitem[url]'" id="share_link" style="width:98%;" />
		<!--{/if}-->
		<p style="color:gray">请正确填写网页地址(http(s)://)</p>
		</td>
	</tr>
	<tr>
		<th width="40">标签</th>
		<td>
		<input type="text" id="tag" name="tag" value="$linkitem[link_tag]" style="width: 396px;" class="t_input"  tabindex="3" />&nbsp;
		<p style="color:gray">多个标签请用空格隔开</p>
		</td>
	</tr>
	<tr>
		<th width="40">&nbsp;</th>
		<td>
				<div class="cont">
					<ul class="type-1">
						<li class="ll">
							<ul class="type-2">
							<!--{loop $taglist $key $value}-->
								<li><a id="tag_li_$key" href="javascript:fSetTag('$value');">$value</a></li>								
							<!--{/loop}-->
							</ul>
					 </ul>
					</li>
				 </div>
		</td>
	</tr>
	<tr>
		<th style="vertical-align: top;" width="40"><label for="description">描述</label></th>
		<td>
			<textarea id="description" name="description" cols="40" rows="4" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');" tabindex="4">
			$linkitem[link_description]
			</textarea>
		</td>
	</tr>
	<tr>
		<th style="vertical-align: top;" width="40"><label for="directory">分类</label></th>
		<td>
				<input type="hidden" name="browserid" id="browserid" value='$browserid'/>
				<input type="hidden" name="bmdirid" id="browsergroupid"  value="0"/>
				<div class="menu_item">
						<div id="browserdirtree">
								<!--{template space_browser}-->
						</div>

                </div>
		</td>
	</tr>
	<!--{if $_SCONFIG['seccode_register']}-->
	<!--{if $_SCONFIG['questionmode']}-->
	<tr>
		<th style="vertical-align: top;">请先回答问题</th>
		<td>
			<p><!--{eval question();}--></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th style="vertical-align: top;">验证码</th>
		<td>
			<script>seccode();</script>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>
		</td>
	</tr>
	<!--{/if}-->
	<!--{/if}-->	

	<tr><th>&nbsp;</th>
		<td>
		<input type="hidden" name="category" value="0" />
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" id="address" name="address" value="$linkitem[url]" />
		<input type="hidden" name="bookmarksubmit" value="true" />
		<input type="submit" id="addsubmit" name="addsubmit" value="提交" class="submit_disabled" tabindex="6" />
		</td>
	</tr>
	<tr><th>&nbsp;</th><td id="__registerform" style="color:red; font-weight:bold;"></td></tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{elseif $op == 'relate'}-->
		<!--{template relatedsite_show}-->
<!--{elseif $op == 'pass'}-->
<div style="padding:1em;border: 3px solid #FF8E00;background: #FCF9E6;">
<h1>通过</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=link&op=pass&linkid=$linkitem['linkid']">
	<p>确定通过标题为<span style="color:#368332">$linkitem['subject']</span>站点的验证吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="passsubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>
<iframe style="position:absolute;z-index:-1;width:expression(this.previousSibling.offsetWidth);height:expression(this.previousSibling.offsetHeight);top:expression(this.previousSibling.offsetTop);left:expression(this.previousSibling.offsetLeft);background-color:#FCF9E6;"   frameborder="0"></iframe>
<!--{elseif $op == 'edithot'}-->

<h1>调整热度</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=blog&op=edithot&blogid=$blogid">
	<p class="btn_line">
		新的热度：<input type="text" name="hot" value="$blog[hot]" size="5"> 
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="hotsubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

</div>
<!--{elseif $op == 'manage'}-->
<div class="nbox"">

	<div class="nbox_c">
	<div id="bmcontent">
		<!--{template space_link_list}-->
	</div>
</div>
<!--{else}-->
<script>
	function register(id, result) {
		if(result) {
			$('registersubmit').disabled = true;
			window.location.href = "$jumpurl";
		} else {
			updateseccode();
		}
	}
</script>

<form id="registerform" name="registerform" action="cp.php?ac=link" method="post" class="c_form">
<table cellpadding="0" cellspacing="0" class="formtable">
	<caption>
		<h2>注册本站帐号</h2>
		<p>请完整填写以下信息进行注册。<br>注册完成后，该帐号将作为您在本站的通行帐号，您可以享受本站提供的各种服务。</p>
	</caption>
	<tr>
		<th width="40">标题</th>
		<td>
		<input type="text" id="subject" name="subject" value="$_GET[title]" style="width: 396px;" class="t_input"" tabindex="1" />&nbsp;
		<span id="checkusername">&nbsp;</span>
		</td>
	</tr>
	<tr>
		<th width="40">地址</th>
		<td>
		<input type="text" id="address" name="address" value="$_GET[url]" style="width: 396px;" class="t_input" onBlur="checkUrl()" tabindex="2" />&nbsp;
		<span id="checkusername">&nbsp;</span>
		<p style="color:gray">请正确填写网页地址</p>
		</td>
	</tr>
	<tr>
		<th width="40">标签</th>
		<td>
		<input type="text" id="tag" name="tag" value="$_GET[tag]" style="width: 396px;" class="t_input"  tabindex="3" />&nbsp;
		<p style="color:gray">多个标签请用空格隔开</p>
		</td>
	</tr>
	<tr>
		<th width="40">&nbsp;</th>
		<td>
				<div class="cont">
					<ul class="type-1">
						<li class="ll">
							<ul class="type-2">
							<!--{loop $taglist $key $value}-->
								<li><a id="tag_li_$key" href="javascript:fSetTag('$value');">$value</a></li>								
							<!--{/loop}-->
							</ul>
					 </ul>
					</li>
				 </div>
		</td>
	</tr>
	<tr>
		<th style="vertical-align: top;" width="40"><label for="description">描述</label></th>
		<td>
			<textarea id="description" name="description" cols="40" rows="4" style="width: 400px; height: 150px;" onkeydown="ctrlEnter(event, 'pmsubmit_btn');" tabindex="4">
			$_GET[content]
			</textarea>
		</td>
	</tr>

<tr>
		<th width="40">分类</th>
		<td>
			<div class="cont">
				<ul class="type-1">
				<!--
					<li class="ll">						
						<ul class="type-2">
							<li><a style="color:#00ADEF;">科技</a></li>
							<li style="height:20px;">
								<div class="dropmenu" id="usettingli" onmouseover="showMenu(this.id)"><a id="category_li_1" href="cp.php">个人<img src="image/more.gif" align="absmiddle"></a></div>
								<ul id="usettingli_menu" class="categorymenu_drop" style="display:none;">
										<li><a href="javascript:setcategoryid('usettingli','我的头像',1)">我的头像</a></li>
										<li><a href="javascript:setcategoryid('usettingli','个人资料',1)">个人资料</a></li>
										<li><a href="javascript:setcategoryid('usettingli','主页风格',1)">主页风格</a></li>
										<li><a href="javascript:setcategoryid('usettingli','我的积分',1)">我的积分</a></li>
								</ul>
							</li>
							<li style="height:20px;">
								<div class="dropmenu" id="usettingli_2" onmouseover="showMenu(this.id)"><a id="category_li_2" href="cp.php" >个人 <img src="image/more.gif" align="absmiddle"></a></div>
								<ul id="usettingli_2_menu" class="categorymenu_drop" style="display:none;">
										<li><a href="javascript:setcategoryid('usettingli_2','我的头像',2)">我的头像</a></li>
										<li><a href="javascript:setcategoryid('usettingli_2','个人资料',2)">个人资料</a></li>
										<li><a href="javascript:setcategoryid('usettingli_2','主页风格',2)">主页风格</a></li>
										<li><a href="javascript:setcategoryid('usettingli_2','我的积分',2)">我的积分</a></li>
								</ul>
							</li>

							<li><a id="category_li_3" href="javascript:fSetCategorySelect(3);">设计</a></li>
							<li><a id="category_li_4" href="javascript:fSetCategorySelect(4);">数码</a></li>
							<li><a id="category_li_5" href="javascript:fSetCategorySelect(5);">产品</a></li>
							<li><a id="category_li_6" href="javascript:fSetCategorySelect(6);">酷站</a></li>
							<li><a id="category_li_3" href="javascript:fSetCategorySelect(3);">设计</a></li>
							<li><a id="category_li_4" href="javascript:fSetCategorySelect(4);">数码</a></li>
							<li><a id="category_li_5" href="javascript:fSetCategorySelect(5);">产品</a></li>
							<li><a id="category_li_6" href="javascript:fSetCategorySelect(6);">酷站</a></li>
							<li><a id="category_li_3" href="javascript:fSetCategorySelect(3);">设计</a></li>
							<li><a id="category_li_4" href="javascript:fSetCategorySelect(4);">数码</a></li>
							<li><a id="category_li_5" href="javascript:fSetCategorySelect(5);">产品</a></li>
							<li><a id="category_li_6" href="javascript:fSetCategorySelect(6);">酷站</a></li>
							<li><a id="category_li_3" href="javascript:fSetCategorySelect(3);">设计</a></li>
							<li><a id="category_li_4" href="javascript:fSetCategorySelect(4);">数码</a></li>
							<li><a id="category_li_5" href="javascript:fSetCategorySelect(5);">产品</a></li>
							<li><a id="category_li_6" href="javascript:fSetCategorySelect(6);">酷站</a></li>
						</ul>
					</li>
					<li class="ll" >						
						<ul class="type-2">
							<li><a style="color:#00ADEF;">娱乐</a></li>
							<li><a id="category_li_8" href="javascript:fSetCategorySelect(8);">美女</a></li>
						</ul>
					</li>
					-->
					<!--{loop $classlist $key $value}-->
								<ul class="type-2">
									<li><a style="color:#00ADEF;">$value['classname']</a></li>
									<!--{loop $value[son] $key $valueson}-->
											<!--{if empty($valueson[grandson])}-->
												<li><a id="category_li_$valueson['classid']" href="javascript:fSetCategorySelect($valueson['classid']);">$valueson['classname']</a></li>
											<!--{else}-->
												<li>
													<div class="dropmenu" id="usettingli_$valueson['classid']" onmouseover="showMenu(this.id)"><a id="category_li_$valueson['classid']" href="javascript:;">$valueson['classname']<img src="image/more.gif" align="absmiddle"></a></div>
														<ul id="usettingli_$valueson['classid']_menu" class="categorymenu_drop" style="display:none;">
														<!--{loop $valueson[grandson] $key $valuegrandson}-->
															<li><a href="javascript:setcategoryid('usettingli_$valueson['classid']','$valuegrandson['classname']',$valuegrandson['classid'])">$valuegrandson['classname']</a></li>
														<!--{/loop}-->
														</ul>
												</li>
											<!--{/if}-->
									<!--{/loop}-->
								</ul>
					<!--{/loop}-->
				
				</ul>
			</div>
	</td>
</tr>
	<!--{if $_SCONFIG['seccode_register']}-->
	<!--{if $_SCONFIG['questionmode']}-->
	<tr>
		<th style="vertical-align: top;">请先回答问题</th>
		<td>
			<p><!--{eval question();}--></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th style="vertical-align: top;">验证码</th>
		<td>
			<script>seccode();</script>
			<input type="text" id="seccode" name="seccode" value="" class="t_input" onBlur="checkSeccode()" tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>
		</td>
	</tr>
	<!--{/if}-->
	<!--{/if}-->	

	<tr><th>&nbsp;</th>
		<td>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="addsubmit" value="true" />
		<input type="submit" id="btnsubmit" name="btnsubmit" value="提交" class="submit_disabled" tabindex="6" disabled="true"/>
		</td>
	</tr>
	<tr><th>&nbsp;</th><td id="__registerform" style="color:red; font-weight:bold;"></td></tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" /></form>

<script type="text/javascript">
<!--
	$('subject').focus();
	var lastUserName = lastPassword = lastEmail = lastSecCode = '';
	function checkUrl() {
	}
	function checkSeccode() {
		var seccodeVerify = $('seccode').value;
		if(seccodeVerify == lastSecCode) {
			return;
		} else {
			lastSecCode = seccodeVerify;
		}
		ajaxresponse('checkseccode', 'op=checkseccode&seccode=' + (is_ie && document.charset == 'utf-8' ? encodeURIComponent(seccodeVerify) : seccodeVerify));
	}
	function ajaxresponse(objname, data) {
		var x = new Ajax('XML', objname);
		x.get('cp.php?ac=link&' + data, function(s){
			var obj = $(objname);
			s = trim(s);
			if(s.indexOf('succeed') > -1) {
				obj.style.display = '';
				obj.innerHTML = '<img src="image/check_right.gif" width="13" height="13">';
				obj.className = "warning";
				$('btnsubmit').disabled=false;
				$('btnsubmit').className="submit";
			} else {
				warning(obj, s);
				$('btnsubmit').disabled=true;
				$('btnsubmit').className="submit_disabled";
			}
		});
	}
	function warning(obj, msg) {
		if((ton = obj.id.substr(5, obj.id.length)) != 'password2') {
			$(ton).select();
		}
		obj.style.display = '';
		obj.innerHTML = '<img src="image/check_error.gif" width="13" height="13"> &nbsp; ' + msg;
		obj.className = "warning";
	}
	function setcategoryid(key,str,n)
	{
		$(key).innerHTML='<a id=category_li_'+n+' href="cp.php">'+str+'<img src="image/more.gif" align="absmiddle"></a>';	
		

		 var oLi = $("category_li_"+n);
		 if(window.selectLi!=oLi){
		    oLi.className += " on";
			if(window.selectLi){
					window.selectLi.className = window.selectLi.className.replace(" on","");
			 }
			 window.selectLi = oLi;
		 } 

	}
	function fSetTag(tag)
	{
		$('tag').value=$('tag').value+tag+' ';
	}
//-->
</script>	
<!--{/if}-->
<!--{template bm_footer}-->
