<div class="dgst">
	<dl  class="drank">
		<!--{loop $_SGLOBAL['hotdigg'] $key $value}-->
			<!--{if $key }-->
				<!--{eval $key=$key+1;}-->
					<dt class="l$key">
						<a target="new" title="$value[subject]" href="$value[url]">$value[subject]</a>
					</dt>
			<!--{else}-->
					<dt class="l1">
						<div class="pack ">
							<h6><a title="$value[subject]" target="new" href="#">$value[subject]</a></h6>
							<!--{if $value['picflag'] }-->
								<div class="pic">
									<a href="#" title="$value[subject]" target="new" >
										<img  src="$value[pic]">
									</a>
								</div>
							<!--{/if}-->
								<div class="info">
									$value[description]..
									<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
									<a class="publisher" href="space.php?do=digg&uid=$value['postuid']">$value[username]</a>
								</div>
						</div>										
					 </dt>
			<!--{/if}-->
		<!--{/loop}--> 
	</dl>
</div>