<div class="box">
		<div class="box_l">
			<h2 class="ntitle">
<!--{if $do!='digg' }-->
				<span><a href="space.php?do=digg">更多$_SC['digg_name']</a></span>
<!--{/if}-->
<!--{if !empty($tagname) }-->
				<p>$tagname &raquo;</p>
 <!--{else}-->
<!--{if !empty($diggusername) }-->
				<p>$diggusername 的$_SC['digg_name'] &raquo;</p>
 <!--{else}-->
				<p>$_SC['digg_name'] &raquo;</p>
<!--{/if}-->
<!--{/if}-->
			</h2>
			<div id="diggcontent">
				<!--{template digg_list}-->
			</div>
		</div>
		<div class="box_r">
				<!--{template digg_sortlist}-->
		</div>
</div>
