<div class="tlist">		
<ul>
<!--{loop $digglist $key $value}-->			
			<li>
				<div class="lf">
						<div style="float: left;" class="avatar48">
							<a href="space.php?do=digg&uid=$value[postuid]">
								<!--{avatar($value[uid],small)}-->
							</a>
						</div>						
				</div>
				<!--{if $value[picflag] }-->
				<div class="rt_p">
						<div class="lfx_p">
				<!--{else}-->
				<div class="rt">
						<div class="lfx">
				<!--{/if}-->	
							 <div class="tle">
								<a class="id_dg_$value['diggid']"></a>
								<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
								<span class="gray" id="digg_ud_$value['diggid']"></span>
							 </div>
							 <div class="ds">
								<a class="id_dg_$value['diggid']">$value[description]...</a> 
							</div>
						</div>
						<div class="rb gray">
							   <p class="tags">					
							   标签:
								<!--{loop $value[tag] $tagid $tagname}-->
									<a id="$tagid" class="id_dg_tag">$tagname</a>
								<!--{/loop}-->					
							   </p>	
							   <p>
								发布者:
								 <a href="space.php?do=digg&uid=$value[postuid]" class="publisher">$value[username]</a>
								</p>
							   <p class="emnum" id="digg_view_num_id_$value[diggid]">$value[viewnum]</p>
							   <p>弹指人参与围观</p>
							    <p>	
								<!--{if empty($_SGLOBAL[supe_uid]) }-->
									<a class="up thickbox" id="$value[diggid]" href="do.php?ac=$_SCONFIG['login_action']"></a>
								<!--{else}-->
									<a class="up up_u" id="$value[diggid]"></a>
								<!--{/if}-->
								</p>

								<!--{if $value[uid]=$_SGLOBAL[supe_uid]||checkperm('allowdigg') }-->
								<p>
									<a class="edit" id="$value[diggid]"></a>
								</p>
								<p>
									<a class="delete diggbtn" id="$value[diggid]"></a>			
								</p>
								<!--{/if}-->
						</div>				
				</div>
					<!--{if $value[picflag] }-->	
						<div class="rightx">						
							<div class="d_avatar avatar125">
							   <a class="id_dg_$value['diggid']">
									<img src="$value[pic]">
							   </a>
						  </div>				  
						</div>
					<!--{/if}-->
			</li>
<!--{/loop}-->    
</ul>
<div class="page">$diggmulti</div>
</div>
<script language="javascript" type="text/javascript">	
		diggload();
<!--{loop $digglist $key $value}-->	
		var id_dg_$value['diggid']_title="$value['subject']";
		$(".id_dg_$value['diggid']").attr({
			href:"link.php?diggid=$value['diggid']",
			title:id_dg_$value['diggid']_title, onclick:"updatestatics('digg','updatediggviewnum',$value[diggid],'digg_view_num_id_$value[diggid]');",
			target:"diggid_frame"
		});		
		$(".id_dg_$value['diggid']:empty").html(id_dg_$value['diggid']_title);
<!--{/loop}-->
</script>		

