<!--{if $value[relate][picflag] }-->
<div class="rt_p">	
			<div class="lfx_p">
<!--{else}-->
<div class="rt">	
			<div class="lfx">
<!--{/if}-->	
				 <div class="tle">										
						<a class="dg_im_$value[relate][diggid]">$value[title_template]</a>
						<a class="dg_im_$value[relate][diggid]">$value[body_template]</a> 
						<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
				 </div>
				 <div class="ds">
						<a class="dg_im_$value[relate][diggid]">$value[relate][description]...</a> 
				</div>
			</div>
			<div class="rb gray">
					   <span class="tags">						
							   标签:
								<!--{loop $value[relate][tag] $tagid $tagname}-->
									<a href="space.php?do=diggtag&diggid=$tagid" >$tagname</a>
								<!--{/loop}-->					
					   </span>					
							   发布者:
							   <a href="space.php?do=feed&uid=$value[relate][postuid]" class="publisher">$value[relate][username]</a>
								 有
							   <span class="emnum" id="digg_view_num_id_$value[diggid]">$value[relate][viewnum]</span>
								弹指人参与围观	
			</div>
</div>
<!--{if $value[relate][picflag] }-->	
			<div class="rightx">						
					<div class="d_avatar avatar125">
						   <a class="dg_im_$value[relate][diggid]">
								<img src="$value[relate][pic]">
						   </a>
					  </div>				  
			</div>
<!--{/if}-->
<script type="text/javascript">
	$(".dg_im_$value[relate][diggid]").each(function(){
			this.href = "link.php?diggid=$value[relate][diggid]";
			this.target = "diggid_frame";
			$(this).unbind('click').removeAttr('onclick').click(function(){ 
				updatestatics('digg','updatediggviewnum',$value[relate][diggid],'digg_view_num_id_$value[relate][diggid]');
			});			
	});	
</script>
						