<div class="rt">							
	<div class="lfx_p">
		 <div class="tle">
				$value[title_template]
				<a class="id_st_$value['relate']['siteid']">$value[body_template]</a>
				<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
		 </div>
		 <div class="ds">
				<a class="id_st_$value['relate']['siteid']">$value[relate][description]...</a> 
		</div>
	</div>
	<div class="rb gray">
	    <span class="tags">
			标签:
				<!--{loop $value[relate][tag] $tagid $tagname}-->
					<a class="id_st_tag_$value['relate']['siteid']" id="$tagid">$tagname</a>
				<!--{/loop}-->					
		</span>	
 	    发布者:
		   <a href="space.php?do=feed&uid=$value[uid]" class="publisher">$value[username]</a>
			 有
		   <span class="emnum" id="site_view_num_id_$value[siteid]">$value[relate][viewnum]</span>
			弹指人参与围观	
	</div>
</div>
<div class="rightx">						
	<div class="d_avatar avatar125">
		 <a class="id_st_$value['relate']['siteid']">
				<!--{if empty($value['picflag'])}-->
					<img src="$value[relate]['tmppic']">
				<!--{else}-->
					<img src="$value[relate]['pic']/$value[relate]['md5url'].$_SC['link_image_suffix']">
				<!--{/if}-->
		 </a>
	</div>				  
</div>
<script language="javascript" type="text/javascript">
		$(".id_st_$value['relate']['siteid']").attr("href","$value[relate][url]").attr("target","_blank").attr("title","$value['relate']['subject']").attr("onclick","updatebookmarkview($value['relate']['siteid'])");
		$(".id_st_tag_$value['relate']['siteid']").each(function(){
			this.href = "space.php?do=sitetag&tagid=" + this.id;
		});
</script> 