<!--{if empty($_SGLOBAL['inajax'])}-->
<!--<static footer>--> 
	<!--{if empty($_TPL['nosidebar'])}-->
		<!--{if $_SGLOBAL['ad']['contentbottom']}--><br style="line-height:0;clear:both;"/><div id="ad_contentbottom"><!--{ad/contentbottom}--></div><!--{/if}-->
		<div id="bottom"></div>
	<!--/main-->
	<!--{/if}-->
	<script type="text/javascript">

	</script>
</div>
<!--/wrap-->
	<div class="fbbottom"></div>
	<div id="footer">
		<!--{if $_TPL['templates']}-->
		<div class="chostlp" title="切换风格"><img id="chostlp" src="{$_TPL['default_template']['icon']}" onmouseover="showMenu(this.id)" alt="{$_TPL['default_template']['name']}" /></div>
		<ul id="chostlp_menu" class="chostlp_drop" style="display: none">
		<!--{loop $_TPL['templates'] $value}-->
			<li><a href="cp.php?ac=common&op=changetpl&name=$value[name]" title="$value[name]"><img src="$value[icon]" alt="$value[name]" /></a></li>
		<!--{/loop}-->
		</ul>
		<!--{/if}-->
		
		<p class="r_option">
			<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">
					&nbsp;
			</a>
		</p>
		
		<!--{if $_SGLOBAL['ad']['footer']}-->
		<p style="padding:5px 0 10px 0;"><!--{ad/footer}--></p>
		<!--{/if}-->
			
		<!--{if $_SCONFIG['close']}-->
		<p style="color:blue;font-weight:bold;">
			提醒：当前站点处于关闭状态
		</p>
		<!--{/if}-->
		<p>
			$_SCONFIG[sitename] - 
			<a href="mailto:$_SCONFIG[adminemail]">联系我们</a>
			<!--{if $_SCONFIG['miibeian']}--> - <a  href="http://www.miibeian.gov.cn" target="_blank">$_SCONFIG[miibeian]</a><!--{/if}-->
		</p>
		<p>
			Powered by <a  href="http://www.tanzhi.com" target="_blank"><strong>tanzhi.com</strong></a> <span title="<!--{eval echo X_RELEASE;}-->"><!--{eval echo X_VER;}--></span>
			<!--{if !empty($_SCONFIG['licensed'])}--><a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}-->
			&copy; 2001-2009 <a  href="http://www.tanzhi.com" target="_blank">tanzhi Inc.</a>
		</p>
		<!--{if $_SCONFIG['debuginfo']}-->
		<p><!--{eval echo debuginfo();}--></p>
		<!--{/if}-->
	</div>



<!--{if $_SGLOBAL['ad']['couplet']}-->
<script language="javascript" type="text/javascript" src="source/script_couplet.js"></script>
<div id="uch_couplet" style="z-index: 10; position: absolute; display:none">
	<div id="couplet_left" style="position: absolute; left: 2px; top: 60px; overflow: hidden;">
		<div style="position: relative; top: 25px; margin:0.5em;" onMouseOver="this.style.cursor='hand'" onClick="closeBanner('uch_couplet');"><img src="image/advclose.gif"></div>
		<!--{ad/couplet}-->
	</div>
	<div id="couplet_rigth" style="position: absolute; right: 2px; top: 60px; overflow: hidden;">
		<div style="position: relative; top: 25px; margin:0.5em;" onMouseOver="this.style.cursor='hand'" onClick="closeBanner('uch_couplet');"><img src="image/advclose.gif"></div>
		<!--{ad/couplet}-->
	</div>
	<script type="text/javascript">
		lsfloatdiv('uch_couplet', 0, 0, '', 0).floatIt();
	</script>
</div>
<!--{else}-->
<iframe style="position:absolute;z-index:-1;width:expression(this.previousSibling.offsetWidth);height:expression(this.previousSibling.offsetHeight);top:0;left:0;"   frameborder="0">
</iframe>
<!--{/if}-->
</body>
</html>
<!--</static>--> 
<!--{/if}-->