.nbox h4 {font: 12px;color:#2c629e; overflow: hidden; width: 970px; border-bottom: #ddd 1px solid; position: relative; height: 22px}
.recommleft{float:left;height:220px;}
.recommleft .description{height:40px;width:320px;;}
.container{float:left;width:400px;height:220px;}
div.navigation {
	float:right;
	width:370px;
	padding-left:2px;
	height:220px;
}
div.navigation a {
	text-decoration: none;
	color: #777;
}
div.navigation a:focus, div.navigation a:hover, div.navigation a:active {
	text-decoration: underline;
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}
ul.thumbs li p{
	text-align:center;
	padding: 0;
	margin: 0;
	width:70px;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}
a.thumb {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
	background: #000;
}
a.thumb:focus {
	outline: none;
}
ul.thumbs img {
	height:75px;
	width:75px;
	border: none;
	display: block;
}

div.content{
	float:right;
	width:250px;
	height:220px;
}


div.slideshow a img {
	height: 120px;
	width:150px;
/*	vertical-align: middle;*/
	border: 1px solid #ccc;
	padding:2px;
	text-align:center;
	margin:5px 45px 0

}
div.slideshow-container a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}

div.slideshow-container img {
	height: 120px;
	width:150px;
/*	vertical-align: middle;*/
	border: 1px solid #ccc;
	margin:5px 15px 0;
	padding:2px;
	text-align:center;

}