


/*
.container{float:left;width:400px;height:220px;}

div.navigation {height:220px;}
.nav_1ogin {padding-left:5px;width:265px;}
.nav_relate {padding-left:2px;width:360px;}


div.navigation a {text-decoration: none;color: #777;}
div.navigation a:focus, div.navigation a:hover, div.navigation a:active {
	text-decoration: underline;
}
*/




/*
ul.thumbs {clear: both;	margin: 0;	padding: 0;}
ul.thumbs li { 	float: left; 	padding: 0 3px;	list-style: none;height:100px;width:82px;}
ul.thumbs .mgn2 { margin: 5px 2px 5px 0;}

ul.thumbs li p{	text-align:center;padding: 0;	margin: 0;	width:70px;	white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

ul.thumbs li.selected a.thumb {	background: #000; }
a.thumb:focus {	outline: none; }
ul.thumbs img {		height:75px;	width:75px;		border: none;	display: block;}
*/


/*
.content_login .slideshow a img {
	height: 135px;
	width:180px;
	border: 1px solid #ccc;
	padding:2px;
	text-align:center;
	margin:5px 15px 0

}
.nav_relate .slideshow a img {
	height: 120px;
	width:150px;
	border: 1px solid #ccc;
	padding:2px;
	text-align:center;
	margin:5px 45px 0

}
*/
/*
div.slideshow-container a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}

div.slideshow-container img {
	height: 120px;
	width:150px;
	border: 1px solid #ccc;
	margin:5px 15px 0;
	padding:2px;
	text-align:center;
}
*/
