<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>
<!--{if $_TPL['titles']}-->
	<!--{loop $_TPL['titles'] $value}-->
		<!--{if $value}-->
			$value -
		<!--{/if}-->
	<!--{/loop}-->
	<!--{/if}-->
	<!--{if $_SN[$space[uid]]}-->
		{$space[name]}-
	<!--{/if}-->
	$_SCONFIG[sitename] - Powered by tanzhi.com
</title>
<script language="javascript" type="text/javascript" src="/source/jquery-1.2.1.pack.js"></script>
<script language="javascript" type="text/javascript" src="/source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="/source/script_cookie.js"></script>
<!--
<script language="javascript" type="text/javascript" src="/source/thickbox.js"></script> 
<script language="javascript" type="text/javascript" src="/source/jquery-1.4.1.min.js "></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/source/script_manage.js"></script>
-->
<style type="text/css">
@import url(/template/default/style.css);
@import url(/template/default/thickbox.css);
</style>
<link rel="shortcut icon" href="image/favicon.ico" />
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=$space[uid]" />
</head>
<body onmousedown="setDisplay('sts', 0);">
<div id="header">
			<div class="h_logo">
				<a title="弹指网 tanzhi.com 我的弹指我的爱" href="index.php">弹指网</a>
			</div>
			<div class="h_adv">

			</div>
			<div class="h_r">
					<div class="h_act">
						<a href="javascript:void(0);" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.tanzhi.com/');" class="first">设为首页</a>
						<a onclick="window.external.addFavorite('http://www.tanzhi.com/','弹指网');" target="_self" href="javascript:void(0);">加为收藏</a>
						<a href="http://www.tudou.com/my/soft/">弹指软件</a>
						<a class="gs_upload" href="cp.php?ac=link">我要上榜</a>
					</div>
					<div class="h_user">
						   <!--{if $_SGLOBAL[supe_uid]}-->
							<strong class="first">你好，<a target="_blank" href="space.php?do=all">$_SGLOBAL['name']</a></strong>
							<span><a href="cp.php?ac=common&op=logout&uhash=$_SGLOBAL[uhash]">退出</a></span>
							<span><a href="cp.php">设置</a></span>
						   <!--{if $_SGLOBAL[supe_uid]&&checkperm('manageconfig') }-->
							<span><a href="admincp.php">管理</a></span>
						   <!--{/if}-->
						   <!--{if $_SGLOBAL[supe_uid]&&checkperm('managelinkclass') }-->
								<span><a href="/114/admin" target="_blank">分类</a></span>
						   <!--{/if}-->
						   <!--{else}-->
							<strong class="first">你好，欢迎</strong>
							<span><a href="do.php?ac=$_SCONFIG[login_action]">登录</a></span>
							<span><a href="do.php?ac=$_SCONFIG[register_action]">注册</a></span>
						   <!--{/if}-->
						   <span class="msg_num"><a class="gs_tanzhi" href="space.php?do=all">我的弹指</a></span>
					</div>
			</div>
</div>
<div id="toolbar">
		<div class="tb_m">
			<ul class="tb_menu" >
				<li id="nav_index" class="current"><a  href="index.php" >首页</a></li>
		<!--{if $_SGLOBAL[supe_uid]	}-->
				<li id="nav_mytanzhi"><a  href="space.php?do=all">我的弹指</a> </li>
		<!--{/if}-->
				<li id="nav_navigation"><a  href="space.php?do=navigation">导航</a>        </li>
				<li id="nav_digg"><a  href="space.php?do=digg">$_SC['digg_name']</a>   </li>
		<!--{if $_SGLOBAL[supe_uid]&&checkperm('managelinkclass') }-->
				<!--<li><a href="cp.php?ac=linkclass&op=manage">分类</a></li> -->
		<!--{/if}-->
				<li><a href="space?do=feedback">建议</a>    </li>
				<li><a class="thickbox" href="cp.php?ac=bookmark&bmid=189&groupid=0&browserid=1&op=edit&at=lastvisit&inajax=1" id="189">帮助</a>    </li>
			</ul>
		</div>
</div>
<div id="wrap">
<!--{/if}-->
