<div id="highlight"> 
	<p>
		<span id="todayviewnum">今日访问</span>
		<span id="todaystorenum">今日收藏</span>
		<span id="viewnum">历史访问</span>
		<span id="storenum">历史收藏</span>
	</p>
	<!--{loop $hightlightlist $key $value}-->
		<dl  class="drank $value" style="float:left;width:240px;overflow:hidden;">
		<!--{loop $_SGLOBAL[$value] $k $v}-->
			<!--{eval $k=$k+1;}-->
				<dt class="l$k">
					<a target="new" title="$v[subject]" href="$v[url]">$v[subject]</a>
					<div class="num_con">
								<strong><!--{eval linkaward($v[award],0);}--></strong>
								.<!--{eval linkaward($v[award],1);}--> 
					</div>
				</dt> 
		<!--{/loop}-->
		</dl>
	<!--{/loop}-->		
</div>
<script language="javascript" type="text/javascript" >
	jQuery(document).ready(function(){
			jQuery("#highlight a").css("width","180px");
			jQuery("#highlight p span").css("cursor","pointer");
			jQuery("#highlight span:odd").css("background-color","#7BAD00");
			jQuery("#highlight span:even").css("background-color","#FF8901");
			jQuery("#highlight span:first").css("background-color","#FFF").css("border-color","#fff").addClass("currentx"); 
			jQuery("#highlight dl:not(:first)").hide();
			jQuery("#highlight span").click(function(){ 
				jQuery("#highlight span").removeClass("currentx"); 
				jQuery("#highlight span:odd").css("background-color","#7BAD00");
				jQuery("#highlight span:even").css("background-color","#FF8901");
				jQuery(this).css("background-color","#FFF").css("border-color","#fff").addClass("currentx"); ; 
				jQuery("#highlight dl").hide(); 
				jQuery("."+jQuery(this).attr("id")).show();
		});
	});
</script>
