<script language="javascript" type="text/javascript" src="source/suggest.js"></script>
<script language="javascript" type="text/javascript" >
	jQuery(document).ready(function(){
		jQuery(".popular_site span:first").addClass("currentx");  
			jQuery(".popular_site ul:not(:first)").hide(); 
			jQuery(".popular_site span").click(function(){ 
				jQuery(".popular_site span").removeClass("currentx"); 
				jQuery(this).addClass("currentx"); 
				jQuery(".popular_site ul").hide(); 
				jQuery("."+jQuery(this).attr("id")).show();
		});
	});

	jQuery(document).ready(function(){
			jQuery(".search_area span:first").addClass("currentx");
			currentid= getCookie(getSearchTabCookieName());
			jQuery(".search_area span").click(function(){
				jQuery(".search_area span").removeClass("currentx");  
				jQuery(this).addClass("currentx"); 
				jQuery('#searchform input[type=checkbox]').remove();
				jQuery('#searchform span').remove();

				jQuery("#hidden_form").empty();
				var i=0;
				setSearchTab(jQuery(this).attr("id"));
				var len = searchs[jQuery(this).attr("id")].length;
				for (i = 0; i < len; i++) {
				 //set checkbox
					var f = document.createElement("INPUT");
					f.type = "checkbox";
					f.name = searchs[jQuery(this).attr("id")][i][0];
					f.id = "check_"+i;
					getObj('searchform').appendChild(f);
					getObj(f.id).checked=(searchs[jQuery(this).attr("id")][i][6]==1)?true:false;
					jQuery('#searchform').append('<span>'+searchs[jQuery(this).attr("id")][i][3]+'</span>');
				  //set hidden form
					 hiddenformArr='<form id="searchform_'+i+'" target="_blank" action="'+searchs[jQuery(this).attr("id")][i][1]+'"  method="get" style="display:none">'+' <p> <input type="text" name="'+searchs[jQuery(this).attr("id")][i][2]+'"  id="searchkey_'+i+'"></p></form>';

					
					jQuery("#hidden_form").append(hiddenformArr);					
					//set hidden input						 
					 if (searchs[jQuery(this).attr("id")][i][7]!= null) {
						var c = searchs[jQuery(this).attr("id")][i][7].split(";");
						for (var d = 0, l = c.length; d < l; d++) {
							var e = c[d].split(":");
							var f = document.createElement("INPUT");
							f.type = "hidden";
							f.name = e[0];
							f.id = e[0];
							f.value = e[1];
							getObj('searchform_'+i).appendChild(f);
						}
					}
				 }
				 //set button value				 
				 jQuery("#searchbtn").attr("value",jQuery(this).html()+'搜索');
		});
		if(jQuery('.search_area #'+currentid))
			jQuery('.search_area #'+currentid).click(); 
		else
			jQuery(".search_area span:first").click();
		//jQuery(".popular_site span:first").click();
});	
</script>
<script>
		function searchsubmit()
		{
			 var i=0;
			 jQuery('#searchform input[type=checkbox]').each(function(){ 
					var form_id='searchform_'+i;
					var searchkey_id='searchkey_'+i;
					if(jQuery(this).attr("checked")==true){
						$(searchkey_id).value=$('searchkey').value;		
						$(form_id).submit();
					}
					i++;
			 });
			 return false;
		}
</script>
		<div class="searchinfo">
			<div  style="padding:8px 0px 8px 8px;">
				<div class="nbox_c_1">
									<div class="search_area">
											<!--{template search_area}-->	
									</div>
									<div class="popular_site">
											<!--{template popular_site}-->	
									</div>
				</div>
				<!--{template highlight}-->	
			</div>
		</div>
		<div class="dynamicinfo">
		</div>

