
<style type="text/css">
.search_area,.popular_site{background-color:#fff;border:1px solid #ddd;margin-bottom:5px;}
.search_area {height:95px;}

.search_area p,.popular_site p{font-weight:bold;margin-top:0px;padding: 0px;color:#2C629E}
.search_area p span,.popular_site p span{float:left;background-color:#eee;border:1px solid #ddd;cursor:pointer;margin-top:-1px;padding:0px 16px;line-height:25px;overflow:hidden;border-width:1px 1px 1px 0;}
.search_area p span.currentx,.popular_site p span.currentx{background-color:#fff;border-bottom-color:#fff;border-width:1px 1px 1px 0;}
.search_area >li,.popular_site >li{/*border-bottom:1px dotted #ddd;*/padding-bottom:3px;margin:5px 0;}

 .popular_site {height:115px;}
.allhot_1 li,.mhot_1 li,.related_post_1  li {height:16px;line-height:16px;padding:2px;}

.row-list,.row-list_l{display:block;clear:both;}
.row-list_l{background-color:#F3F3F3;}

.row-list em,.row-list_l em{width:76px;float:left;font-style:normal;padding:0px;text-align:center;}
.row-list em a,.row-list_l em a{overflow:hidden;white-space:nowrap;}
#searchform{height:30px;padding:10px 10px 2px 10px;}
#googlesearchform_s a img,#baidusearchform_s a img {height:25px;width:84px;border:medium none;border:vertical-align:middle;}

#hotsite {background-color:#f7f7f7;height:20px;width:210px;padding:3px 0px;}
#hotsite em{width:18px;float:left;font-style:normal;font-size:100%;overflow:hidden;white-space:nowrap;}
#hotsite span{float:left;padding:0 5px;text-align:center;white-space:nowrap}
#hotsite .hot1{color:#368332}
#hotsite .hot2{color:red}
#hotsite .hot3{color:blue}

.forecastIcon  {  border:medium none;  margin:-3px -10px -4px; vertical-align:middle;}
.currentIcon  {border:medium none;margin:-3px -15px;vertical-align:middle; }

#suggests {
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
display:none;
left:20px;
position:absolute;
top:72px;
width:383px;
z-index:5;
}

</style>
<script language="javascript" type="text/javascript" src="source/suggest.js"></script>
<script language="javascript" type="text/javascript" >
jQuery(document).ready(function(){
		jQuery(".popular_site span:first").addClass("currentx");  // 为第一个span添加 .current 的样式，默认选中
			jQuery(".popular_site ul:not(:first)").hide();  //ul 不是第一个时隐藏
			jQuery(".popular_site span").click(function(){  // 鼠标移到 span 上时触发函数
				jQuery(".popular_site span").removeClass("currentx");  //为第一个 span 移除 .current 样式
				jQuery(this).addClass("currentx");  //为触发的 span 添加样式
				jQuery(".popular_site ul").hide();  // 隐藏 ul
				jQuery("."+jQuery(this).attr("id")).show();  // 这句是核心，class(.) 和触发 span 的ID 一致的 fadeIn(渐显)
		});
});
</script>

<script language="javascript" type="text/javascript" >
jQuery(document).ready(function(){
			jQuery(".search_area span:first").addClass("currentx"); 	
			jQuery(".search_area span").click(function(){
				jQuery(".search_area span").removeClass("currentx");  
				jQuery(this).addClass("currentx"); 
				jQuery('#searchform input[type=checkbox]').remove();
				jQuery('#searchform span').remove();

				 jQuery("#hidden_form").empty();
				 var i=0;
				 var len = searchs[jQuery(this).attr("id")].length;
				 for (i = 0; i < len; i++) {
				 //set checkbox
					var f = document.createElement("INPUT");
					f.type = "checkbox";
					f.name = searchs[jQuery(this).attr("id")][i][0];
					f.id = "check_"+i;
					getObj('searchform').appendChild(f);
					getObj(f.id).checked=(searchs[jQuery(this).attr("id")][i][6]==1)?true:false;
					jQuery('#searchform').append('<span>'+searchs[jQuery(this).attr("id")][i][3]+'</span>');
				  //set hidden form
					 hiddenformArr='<form id="searchform_'+i+'" target="_blank" action="'+searchs[jQuery(this).attr("id")][i][1]+'"  method="get" style="display:none">'+' <p> <input type="text" name="'+searchs[jQuery(this).attr("id")][i][2]+'"  id="searchkey_'+i+'"></p></form>';

					
					jQuery("#hidden_form").append(hiddenformArr);					
					//set hidden input						 
					 if (searchs[jQuery(this).attr("id")][i][7]!= null) {
						var c = searchs[jQuery(this).attr("id")][i][7].split(";");
						for (var d = 0, l = c.length; d < l; d++) {
							var e = c[d].split(":");
							var f = document.createElement("INPUT");
							f.type = "hidden";
							f.name = e[0];
							f.id = e[0];
							f.value = e[1];
							getObj('searchform_'+i).appendChild(f);
						}
					}
				 }
				 //set button value				 
				 jQuery("#searchbtn").attr("value",jQuery(this).html()+'搜索');
		});
		jQuery(".search_area span:first").click(); 
});	
</script>
<script>
		function searchsubmit()
		{
			 var i=0;
			 jQuery('#searchform input[type=checkbox]').each(function(){ 
					var form_id='searchform_'+i;
					var searchkey_id='searchkey_'+i;
					if(jQuery(this).attr("checked")==true){
						$(searchkey_id).value=$('searchkey').value;		
						$(form_id).submit();
					}
					i++;
			 });
			 return false;
		}
</script>
<div class="bd">
	<div class="searchinfo">

<div  style="padding:8px 0px 8px 8px;">
	<div class="nbox_c_1">
		<div class="search_area">
		<p>
			<span id="web_page" class="current">网页</span>
			<span id="tanzhi">弹指</span>
			<span id="music" >音乐</span>
			<span id="video" >视频</span>
			<span id="image" >图片</span>
			<span id="wenda" >知道</span>
			<span id="map" >地图</span>
			<span id="shopping" >购物</span>
		</p>
    
    <ul class="web_page" >
        <li>
          <form id="searchform" target="_blank" action=""  method="get" style="float:left" onsubmit="return searchsubmit();">
               
			   <input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="q" maxlength="255" id="searchkey" class="t_input" style="padding:5px" size="60"  onkeyup="javascript:myhint(event);" autocomplete="off">
                <input class="submit" type="submit" id="searchbtn" value="搜索" onclick="return searchsubmit();">					
		  </form>
		  <span id="suggests" style="display: none;"></span>
		  <div id="hidden_form" style="display:none;">
		  </div>
        </li>
    </ul>
<!--
    <div style="float:left;">
			<span style="float:left;padding:0px 10px 0px 10px;line-height:25px;height:25px;"><a href="#">掘客&raquo;</a></span>
			<div id="diggscroll">                   
						  <ul>
							  <!--{loop $digglist $key $value}-->		
								<li>
									<a class="diggscroll_l" href="$value[url]" class="digg_qi">$value[cutsubject]</a>
									<a class="diggscroll_r" href="#">更多&raquo;</a>
								</li>
							  <!--{/loop}-->
						  </ul>
			</div>
	</div>
<script type="text/javascript">
	function AutoScroll(obj){
		jQuery(obj).find("ul:first").animate({
			marginTop:"-25px"
		},500,function(){
			jQuery(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
		});	
	}
	
	jQuery(document).ready(function(){
		setInterval('AutoScroll("#diggscroll")',5000);
	});
	
</script>
-->	
</div>
<div class="popular_site">
    <p>
		<!--{loop $_SGLOBAL['linktoolbartype'] $key $value}-->
					<!--{if $key==1 }-->
						<span id="toolbar_$key" class="current">$value</span>
					<!--{else}-->
						<span id="toolbar_$key">$value</span>
					<!--{/if}-->
		<!--{/loop}--> 
    </p>
	<!--{loop $_SGLOBAL['linktoolbar'] $key $value}-->
			<ul class="toolbar_$key" style="display: block;">
			<!--{loop $value $k $val}-->
						<!--{if ($k%8)==0 }-->
							<!--{if (($k%16)==0)&&$k }-->
								<li class="row-list_1">
							<!--{else}-->
								<li class="row-list">
							<!--{/if}-->
						<!--{/if}-->
							<em><a title="$val[subject]" target="_blank" href="admincp.php?ac=linktoolbar&op=edit&linktoolbarid=$val[toolbarid]">$val[subject]</a></em>  
			<!--{/loop}-->
			</ul>
	<!--{/loop}-->    
</div>
	</div>
<!--{template highlight}-->	
</div>
	</div>

	<div class="dynamicinfo">
	</div>
</div>
</div>