<script language="javascript" type="text/javascript" >
jQuery(document).ready(function(){
			jQuery(".entry-foot span:first").addClass("currentx");  // 为第一个span添加 .current 的样式，默认选中
			jQuery(".entry-foot ul:not(:first)").hide();  //ul 不是第一个时隐藏
			jQuery(".entry-foot span").mouseover(function(){  // 鼠标移到 span 上时触发函数
				jQuery(".entry-foot span").removeClass("currentx");  //为第一个 span 移除 .current 样式
				jQuery(this).addClass("currentx");  //为触发的 span 添加样式
				jQuery(".entry-foot ul").hide();  // 隐藏 ul
				jQuery("."+jQuery(this).attr("id")).show();  // 这句是核心，class(.) 和触发 span 的ID 一致的 fadeIn(渐显)
		});

		jQuery(".entry-foot_1 span:first").addClass("currentx");  // 为第一个span添加 .current 的样式，默认选中
			jQuery(".entry-foot_1 ul:not(:first)").hide();  //ul 不是第一个时隐藏
			jQuery(".entry-foot_1 span").mouseover(function(){  // 鼠标移到 span 上时触发函数
				jQuery(".entry-foot_1 span").removeClass("currentx");  //为第一个 span 移除 .current 样式
				jQuery(this).addClass("currentx");  //为触发的 span 添加样式
				jQuery(".entry-foot_1 ul").hide();  // 隐藏 ul
				jQuery("."+jQuery(this).attr("id")).show();  // 这句是核心，class(.) 和触发 span 的ID 一致的 fadeIn(渐显)
		});
});
</script>
<style type="text/css">
.entry-foot,.entry-foot_1{background-color:#fff;border:1px solid #ddd;margin-bottom:5px;}
.entry-foot {height:75px;}
.entry-foot_1 {height:115px;}
.entry-foot p,.entry-foot_1 p{font-weight:bold;font-size:110%;margin-top:0px;padding: 0px;color:#2C629E}
.entry-foot p span,.entry-foot_1 p span{float:left;background-color:#eee;border:1px solid #ddd;cursor:pointer;margin-top:-1px;padding:0px 20px;line-height:25px;overflow:hidden;border-width:1px 1px 1px 0;}
.entry-foot p span.currentx,.entry-foot_1 p span.currentx{background-color:#fff;border-bottom-color:#fff;border-width:1px 1px 1px 0;}
.entry-foot >li,.entry-foot_1 >li{/*border-bottom:1px dotted #ddd;*/padding-bottom:3px;margin:5px 0;}


.allhot_1 li,.mhot_1 li,.related_post_1  li {height:16px;line-height:16px;padding:2px;}

.row-list,.row-list_l{display:block;clear:both;}
.row-list_l{background-color:#F3F3F3;}

.row-list em,.row-list_l em{width:78px;float:left;font-style:normal;padding-top:0px;font-size:110%;text-align:center;overflow:hidden;white-space:nowrap;}
#googlesearchform_s,#baidusearchform_s,#searchform{height:30px;padding:10px;}
#googlesearchform_s a img,#baidusearchform_s a img {height:25px;width:84px;border:medium none;border:vertical-align:middle;}
</style>
<script>
	function searchsubmit()
	{
		if($('searchkey').value==''||$('searchkey').value=='请输入关键词')
			{
				$('searchkey').value='请输入关键词';
				return false;
			}
		var key=$('searchkey').value;
		$('searchbaidukey').value=$('searchgooglekey').value=key;
		if($('searchgoogleck').checked==true)
			{
				$('googlesearchform').action="http://www.google.com/search";
				$('googlesearchform').submit();
			}
		if($('searchbaiduck').checked==true)
		{
			$('baidusearchform').action="http://www.baidu.com/s";		
			$('baidusearchform').submit();
		}
		return false;
	}
</script>
<div  class="nbox">
	<div class="nbox_c_1">
		<div class="entry-foot">
    <p>
        <span id="related_post" class="current">
            网页
        </span>
        <span id="mhot" class="">
            淘宝
        </span>
        <span id="allhot" >
            音乐
        </span>
		 <span id="allhot" >
            视频
        </span>
			 <span id="allhot" >
            图片
        </span>
			 <span id="allhot" >
            知道
        </span>
		<span id="allhot" >
            地图
        </span>
		<span id="allhot" >
           影视
        </span>
		<span id="allhot" >
           购物
        </span>
    </p>
    <ul class="related_post" style="display: block;">
        <li>
          <form id="searchform" target="_blank" action=""  method="get" style="float:left">
               <p>
			   <input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="q" maxlength="255" id="searchkey" class="t_input" style="padding:5px" size="50">
                    <input class="submit" type="submit" value="搜索" onclick="return searchsubmit();">
				</p>				
		 </form>
			 <form id="googlesearchform" target="_blank" action=""  method="get" style="float:left">
					<input type="text" name="q"  id="searchgooglekey"  style="display:none" >
			</form>
			<form id="googlesearchform_s" target="_blank" action=""  method="get" style="float:left">
						<input type="checkbox" size="2" maxlength="2" id="searchgoogleck" value="googleck" checked>
						<a target="external" rel="_blank" title="谷歌搜索" href="http://www.google.cn/"><img alt="" src="template/default/image/google_web.png"></a>
			</form>
			<form id="baidusearchform" name="baidusearchform"  target="_blank" action="" method="get" style="float:left">
					<input type="text" name="wd" id="searchbaidukey" style="display:none" >
					<input type="text" name="ie" value="utf-8" style="display:none" >
			</form>
			<form id="baidusearchform_s" name="baidusearchform_s"  target="_blank" action="" method="get" style="float:left">
						<input type="checkbox" size="2" maxlength="2" id="searchbaiduck" value="baiduck" checked>
						<a target="external" rel="_blank" title="百度一下" href="http://www.baidu.com/index.php?tn=monline_5_dg"><img alt="" src="template/default/image/baidu_web.png"></a>
			 </form>
        </li>
    </ul>
    <ul class="mhot" style="display: none;">
        <li>
          <form id="searchform" target="_blank" action=""  method="get" style="float:left">
               <p>
			   <input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="q" maxlength="255" id="searchkey" class="t_input" style="padding:5px" size="50">
                    <input class="submit" type="submit" value="搜索" onclick="return searchsubmit();">
				</p>				
		 </form>
        </li>
    </ul>
    <ul class="allhot" style="display: none;">
         <li>
          <form id="searchform" target="_blank" action=""  method="get" style="float:left">
               <p>
			   <input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="q" maxlength="255" id="searchkey" class="t_input" style="padding:5px" size="50">
                    <input class="submit" type="submit" value="搜索" onclick="return searchsubmit();">
				</p>				
		 </form>
        </li>
    </ul>
</div>
<div class="entry-foot_1">
    <p>
        <span id="related_post_1" class="current">
            常用类
        </span>
        <span id="mhot_1" class="">
            资讯类
        </span>
        <span id="allhot_1" >
            购物类
        </span>
		  <span id="allhot_1" >
            娱乐类
        </span>
		<span id="allhot_1" >
           生活类
        </span>
    </p>
    <ul class="related_post_1" style="display: block;">
        <li class="row-list">        
           
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             
				<em><a title="天涯社区" target="_blank" href="http://www.tianya.cn/">天涯社区</a></em>             
				<em><a title="白社会" target="_blank" href="http://bai.sohu.com/">白社会</a></em> 
				<em><a title="Mtime时光网" target="_blank" href="http://www.mtime.com/">Mtime时光网</a></em>
		 </li>
        <li class="row-list_l">  
					<em><a title="腾讯QQ" target="_blank" href="http://www.qq.com/">腾讯QQ</a></em>						
					<em><a title="和讯股票" target="_blank" href="http://stock.hexun.com/">和讯股票</a></em> 					
					<em><a title="优酷网" target="_blank" href="http://www.youku.com/">优酷网</a></em>						
					<em><a title="迅 雷" target="_blank" href="http://www.xunlei.com/">迅 雷</a></em>  					
					<em><a title="CCTV" target="_blank" href="http://www.cctv.com/">CCTV</a></em>  					
					<em><a title="凤凰网" target="_blank" href="http://www.ifeng.com/">凤凰网</a></em>
					<em><a title="瑞丽女性网" target="_blank" href="http://www.rayli.com.cn/">瑞丽女性网</a></em>             
					<em><a title="携程网" target="_blank" href="http://p.yiqifa.com/c?s=5cd2adf9&amp;w=87791&amp;c=297&amp;i=406&amp;l=0&amp;d=853&amp;e=1&amp;t=http://www.ctrip.com/smartlink/smartlink.asp">携程网</a></em>
					 <em><a title="麒迅特价机票" target="_blank" href="http://extend.oyesgo.com/?ref=firefox_1&amp;url=http://www.oyesgo.com/">麒迅特价机票</a></em>
            
          
            
		</li>
		 <li class="row-list">   
            <em><a title="当 当" target="_blank" href="http://union.dangdang.com/transfer/transfer.aspx?from=P-270288&amp;backurl=http://www.dangdang.com/">当 当</a></em>             
            <em><a title="卓 越" target="_blank" href="http://www.amazon.cn/?source=Mozilla">卓 越</a></em>	               
            <em><a title=" 淘宝网" target="_blank" href="http://adtaobao.allyes.cn/main/adfclick?db=adtaobao&amp;bid=10573,3476,805&amp;cid=36829,581,1&amp;sid=72694&amp;show=ignore&amp;url=http://s.click.alimama.com/ma_a?ne=tSIPNYxvJwgg%2BABaFJJT9yrjMpLs6u363fPiGsQmJhp8I7FL%2FLbH0Ekngc4hpoB9EnYik0vGAnvZ%2Bsy9ULReJ85b%2BDbFRT1lNrt95Zna3IHiVmRLPHiiuDqegZYfKbtNzztGhiVeFPrnDWRfwfBvDnwPJvnBcWhb"> 淘宝网</a></em>	             
            <em><a title="淘宝特卖" target="_blank" href="http://pindao.huoban.taobao.com/channel/channelCode.htm?pid=mm_12811289_0_0">淘宝特卖</a></em>               
            <em><a title="京东商城" target="_blank" href="http://union.360buy.com/Union_default.aspx?union_Id=206">京东商城</a></em>               
            <em><a title="新蛋网" target="_blank" href="http://p.yiqifa.com/c?s=3868c5d5&amp;w=87791&amp;c=280&amp;i=240&amp;l=0&amp;e=d&amp;t=http://www.newegg.com.cn/">新蛋网</a></em>  
			  <em><a title="中国移动" target="_blank" href="http://www.chinamobile.com/">中国移动</a></em>
			  <em><a title="安居客房产网" target="_blank" href="http://www.anjuke.com/">安居客房产网</a></em>
            
            <em><a title="中华英才网" target="_blank" href="http://www.chinahr.com/">中华英才网</a></em>

		 </li>
		 <li class="row-list_l">        
          
           
            <em><a title="99书城" target="_blank" href="http://p.yiqifa.com/c?s=65f8d723&amp;w=87791&amp;c=262&amp;i=152&amp;l=0&amp;e=d&amp;t=http://www.99read.com">99书城</a></em>              
            <em><a title="电器直销网" target="_blank" href="http://www.all3c.com/">电器直销网</a></em>		             
            <em><a title="Vancl服装" target="_blank" href="http://www.vancl.com/websource/websource.aspx?url=http://www.vancl.com&amp;source=mozilla">Vancl服装</a></em>	              
            <em><a title="猫扑大杂烩" target="_blank" href="http://www.mop.com/">猫扑大杂烩</a></em>	               
            <em><a title="开心网" target="_blank" href="http://www.kaixin001.com/">开心网</a></em>	               
            <em><a title="校内/人人网" target="_blank" href="http://www.xiaonei.com/">校内/人人网</a></em>	 
			<em><a title="赶集网" target="_blank" href="http://www.ganji.com/">赶集网</a></em>
			 <em><a title="去哪儿。机票" target="_blank" href="http://www.qunar.com/twell/redirect.jsp?url=http://flight.qunar.com?dh=ffx">去哪儿。机票</a></em>
            
            <em><a title="起点中文网" target="_blank" href="http://www.qidian.com/">起点中文网</a></em>

		 </li>
    </ul>
    <ul class="mhot_1" style="display: none;">
        <li class="row-list">        
           
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>   
		 </li>
        <li class="row-list_l">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             

		 </li>
		 <li class="row-list">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>            

		 </li>
		 <li class="row-list_l">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             

		 </li>
    </ul>
    <ul class="allhot_1" style="display: none;">
        <li class="row-list">        
           
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>   
		 </li>
        <li class="row-list_l">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             

		 </li>
		 <li class="row-list">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>            

		 </li>
		 <li class="row-list_l">        
          
				<em><a title="百 度" target="_blank" href="http://www.baidu.com/index.php?tn=monline_5_dg">百 度</a></em>            
				<em><a title="Google" target="_blank" href="http://www.google.com/webhp?rls=org.mozilla:en-US:official&amp;client=firefox-a">Google</a></em>             
				<em><a title="新浪" target="_blank" href="http://www.sina.com.cn/">新浪</a></em>            
				<em><a title="搜狐" target="_blank" href="http://www.sohu.com/">搜狐</a></em>             
				<em><a title="网 易" target="_blank" href="http://www.163.com/">网 易</a></em>             
				<em><a title="MSN中文网" target="_blank" href="http://cn.msn.com/">MSN中文网</a></em>             

		 </li>
    </ul>
</div>
	</div>	
<!--{if empty($_SGLOBAL[supe_uid])}-->
	<div class="nbox_s side_rbox" id="nlogin_box">
		<h3 class="ntitle">登录</h3>
		<div class="side_rbox_c">
			<form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post">
				<p><label for="username">用户名</label> <input type="text" name="username" id="username" class="t_input" value="$membername" /></p>
				<p><label for="password">密　码</label> <input type="password" name="password" id="password" class="t_input" value="$password" /></p>
				<p class="checkrow"><input type="checkbox" id="cookietime" name="cookietime" value="315360000" $cookiecheck style="margin-bottom: -2px;" /><label for="cookietime">下次自动登录</label></p>
				<p class="submitrow">
					<input type="hidden" name="refer" value="space.php?do=home" />
					<input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="submit" />
					<a href="do.php?ac=lostpasswd">忘记密码?</a>
					<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
				</p>
			</form>
		</div>
	</div>
<!--{else}-->
	<div class="nbox_s side_rbox" id="nlogin_box">
		<h3 class="ntitle">登录</h3>
		<div class="side_rbox_c">
			<form name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post">
				<div class="logined">
           <div class="d_avatar avatar48">
           	<a title=admin href="http://192.168.115.2/uc/home/space.php?uid=1" target=_blank>
            <img onerror="this.onerror=null;this.src='websample_files/1_1264944904t7cl.jpg'" src="./template/default/image/1_1264944905dc86.jpg">
            </a>
           </div>
           <div class=p_menu>
               <ul class="login_menu">
               	  <li><a href="space.php?do=bookmark&browserid=$browserid">我的收藏</a></li>
                  <li class=login_menu_r><a href="cp.php?ac=common&op=logout&uhash=$_SGLOBAL[uhash]">退出登录</a></li>
                  <li><a href="javascript:;" onclick="getbmview('lastvisit')">最近访问</a></li>
                  <li class=login_menu_r"><a href="javascript:;" onclick="getbmview('lastadd')">最近添加</a></li>
                  <li><a href="javascript:;" onclick="getbmview('oftenvisit')">经常访问</a></li>
                  <li class=login_menu_r>
					<!--<a href="javascript:;" onclick="getbmview('lastrecommend')">我的上榜</a>-->
					<a href="javascript:;" onclick="getlinkview('mycharts')">我的上榜</a>
				  </li>                 
               </ul>
           </div>
           <div class="login_adv">
	      <div class="login_adv_top">	
									 <span style="padding: 0px 0px 0px 16px; background-position: 0% 50%; background-image: url(template/default/image/rss_icon.gif); background-repeat: no-repeat;"><a target="_blank" href="http://v.goalhi.com/v18698.html">&nbsp;</a></span>
									  <span style="padding: 0px 0px 0px 18px; background-position: 0% 50%; background-image: url(template/default/image/rss_icon.gif); background-repeat: no-repeat;"><a target="_blank" href="http://v.goalhi.com/v18698.html">职业队</a></span>
									  <span style="padding: 0px 0px 0px 18px; background-position: 0% 50%; background-image: url(template/default/image/rss_icon.gif); background-repeat: no-repeat;"><a target="_blank" href="http://v.goalhi.com/v18698.html">职业队</a></span>
									 <span style="padding: 0px 0px 0px 18px; background-position: 0% 50%; background-image: url(template/default/image/rss_icon.gif); background-repeat: no-repeat;"><a target="_blank" href="http://v.goalhi.com/v18698.html">职业队</a></span>
									 
		   </div>
           <div id="login_adv_bottom">	                     
                                	  <ul>
									  <!--{loop $digglist $key $value}-->		
										<li><a href="$value[url]" class="digg_qi">$value[cutsubject]</a></li>
									  <!--{/loop}-->
                                	  </ul>
		  </div>
           </div>
			  </div>
			</form>
		</div>
	</div>
<!--{/if}-->
</div>
