<p>
		<!--{loop $_SGLOBAL['linktoolbartype'] $key $value}-->
					<!--{if $key==1 }-->
							<span id="toolbar_$key" class="currentx">$value</span>
					<!--{else}-->
							<span id="toolbar_$key">$value</span>
					<!--{/if}-->
		<!--{/loop}--> 
</p>
		<!--{loop $_SGLOBAL['linktoolbar'] $key $value}-->
					<!--{if $key==1 }-->
							<ul class="toolbar_$key" style="display: block;">
					<!--{else}-->
							<ul class="toolbar_$key" style="display: none;">
					<!--{/if}-->
					<!--{loop $value $k $val}-->
									<!--{if ($k%8)==0 }-->
											<!--{if (($k%16)==0)}-->
												<li class="row-list">
											<!--{else}-->
												<li class="row-list_l">
											<!--{/if}-->
									<!--{/if}-->
									<!--{if $ac=='linktoolbar'}-->
											<em><a title="$val[name]" target="_blank" href="admincp.php?ac=linktoolbar&op=edit&linktoolbarid=$val[toolbarid]">$val[name]</a></em>  
									<!--{else}-->
											<!--{if empty($val[namecolor]) }-->
											<em><a title="$val[name]" target="_blank" href="$val[url]" >$val[name]</a></em>  
											<!--{else}-->
											<em><a title="$val[name]" target="_blank" href="$val[url]" style="color:$val[namecolor]">$val[name]</a></em>  
											<!--{/if}-->
									<!--{/if}-->
					<!--{/loop}-->
							</ul>
			<!--{/loop}-->    