<div  class="nbox">
			<h4>下面可能有你感兴趣的内容哦</h4>
			<div class="recommleft">
			<div style="width:320px;height:151px;overflow:hidden;">
				<div id="user_recomm">
					<h2>站长推荐</h2>
					<div class="s_avatar">
						<a href="./template/default/image/001.jpg" title="title0">
									<img src="./template/default/image/001.jpg" alt="Title #0" />
						</a>
					</div>
					<div class="s_cnts">
						<h3><a href="http://www.sohu.com" title="{$_SN[$value[uid]]}">搜狐网</a></h3>
						<p>收藏数: $value[viewnum]</p>
						<p>推荐指数: $value[credit]</p>
						<hr />
						<p><a href="space.php?do=top">我要上榜</a></p>
					</div>	
				</div>
			</div>
				<div class="description">
						美国《福布斯》杂志近日根据美国专利商标局所提供的专利，评出14项最怪异发明，入
						<p style="height:20px;line-height:20px;">标签:足球 欧冠<span style="float:right;"><a href="#">我要收藏</a></span></p>
						
				</div>
			</div>
			<div id="container">
				<!-- Start Advanced Gallery Html Containers -->
				<div id="gallery" class="content">					
							<div id="slideshow" class="slideshow">
								<a href="./template/default/image/001.jpg" title="title0">
									<img src="./template/default/image/001.jpg" alt="Title #0" />
								</a>
								<p style="text-indent:5px;height:55px;padding-top:2px;">
								<a href="http://www.sohu.com" style="color:red;">搜狐网</a>:美国《福布斯》杂志近日根据美国专利商标局所提供的专利，评出14项最怪异发明，入
								</p>
								<p style="height:20px;line-height:20px;">标签:足球 欧冠<span style="float:right;"><a href="#">我要收藏</a></span></p>
							</div>

				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" name="leaf" href="./template/default/image/001.jpg" title="title0">
								<img src="./template/default/image/001.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>

						<li>
							<a class="thumb" name="leaf1" href="./template/default/image/002.jpg" title="title0">
								<img src="./template/default/image/002.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>
						
						<li>
							<a class="thumb" name="leaf2" href="./template/default/image/003.jpg" title="title0">
								<img src="./template/default/image/003.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>

						<li>
							<a class="thumb" name="leaf3" href="./template/default/image/004.jpg" title="title0">
								<img src="./template/default/image/004.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>	
												<li>
							<a class="thumb" name="leaf" href="./template/default/image/001.jpg" title="title0">
								<img src="./template/default/image/001.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>

						<li>
							<a class="thumb" name="leaf1" href="./template/default/image/002.jpg" title="title0">
								<img src="./template/default/image/002.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>
						
						<li>
							<a class="thumb" name="leaf2" href="./template/default/image/003.jpg" title="title0">
								<img src="./template/default/image/003.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>

						<li>
							<a class="thumb" name="leaf3" href="./template/default/image/004.jpg" title="title0">
								<img src="./template/default/image/004.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>
					</ul>
				</div>


				<div style="clear: both;"></div>
			</div>	

</div>
