<!--search bar start-->
<script>
/*
	function searchsubmit()
	{
		if($('searchkey').value==''||$('searchkey').value=='请输入关键词')
			{
				$('searchkey').value='请输入关键词';
				return false;
			}
		var key=$('searchkey').value;
		$('searchbaidukey').value=$('searchgooglekey').value=key;
		if($('searchgoogleck').checked==true)
			{
				$('googlesearchform').action="http://www.google.com/search";
				$('googlesearchform').submit();
			}
		if($('searchbaiduck').checked==true)
		{
			$('baidusearchform').action="http://www.baidu.com/s";		
			$('baidusearchform').submit();
		}
		return false;
	}
*/
</script>
    <div class="floatleft searchForm">
         <ul>
		<form id="searchform" target="_blank" action=""  method="get" style="float:left">
                <li>
					<input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="q" maxlength="255" id="searchkey" class="t_input" style="padding:5px" size="50">
                    <input class="submit" type="submit" value="搜索" onclick="return searchsubmit();">
				</li>
		</form>		
         </ul>
       
    </div>
<!--searchBar end-->