<div id="network">
	<div class="box">
	<div class="box_l">
		<h2 class="ntitle">
			<p>$item[subject]</p>			
		</h2>
		<div class="seio">
					<div class="sepc">
						<a target="_target" href="$item['url']" onclick="updatestatics('site','updatesiteviewnum','$item[siteid]')">
								 <!--{if empty($item['picflag'])}-->
									<img src="$item['tmppic']">
								 <!--{else}-->
									<img src="$item['pic']/$item['md5url'].$_SC['link_image_suffix']">
								 <!--{/if}-->							
						</a>
					</div>
					<div class="sedl">
						<p>
							<strong>名称: </strong>
							<a class="url">$item['subject']</a>
						</p>
						<p><strong>地址: </strong><a class="url">$item['url']</a></p>		
						<p><strong>所属分类: </strong><a href="space.php?do=navigation&classid=$item['class']" target="_blank">$item['classname']</a></p>						
						<p>
						<strong>标签: </strong>
						<!--{loop $item['tag'] $subkey $subvalue}-->
								<a class="tags" id="$subkey">$subvalue</a>						
						<!--{/loop}-->
						</p>
						<p>
						<div style="float:left;width:220px;">
						<p><strong>收录日期: </strong><span><!--{date('Y-m-d',$item[link_dateline],1)}--></span></p>
						<p><strong>收藏人数: </strong><span>$item[storenum]</span></p>
						<p><strong>浏览次数: </strong><span id="view_num">$item[viewnum]</span></p>
						<p>
						<a class="url">访问</a> 
						<!--{if $ac=='site' }-->
						<a href="cp.php?ac=site&siteid=$item[siteid]&op=bookmark">收藏</a>
						<a class="reporterr"  id="$item[siteid]">举报</a>
						<!--{/if}-->
						<!--{if $_SGLOBAL[supe_uid]&&checkperm('managelink') }-->
							<a class="edit"  id="$item[siteid]" >编辑</a>
							<a class="delete"  id="$item[siteid]" >删除</a>
						<!--{/if}-->
						</p>
					</div>
					<div class="sese">
							<p><strong>评价</strong> <span id='site_ud_$item[siteid]'>(点击顶踩评价)</span></p>
							<span>
								<span class="rateup">
								<!--{if empty($_SGLOBAL[supe_uid]) }-->
									<a target="_self" class="thickbox" href="do.php?ac=$_SCONFIG['login_action']">
								<!--{else}-->
									<a target="_self" onclick="updatestatics('site','updatesiteupnum',$item[siteid],'up_num')"  href="javascript:void(0)">
								<!--{/if}-->
									</a>
								</span>
								(<span id="up_num">$item['up']</span>人顶)</span>&nbsp;&nbsp;&nbsp;
								<span class="ratedown">
								<!--{if empty($_SGLOBAL[supe_uid]) }-->
									<a target="_self" class="thickbox" href="do.php?ac=$_SCONFIG['login_action']">
								<!--{else}-->
									<a  target="_self" onclick="updatestatics('site','updatesitedownnum',$item[siteid],'down_num')" 
									href="javascript:void(0)"></a>
								<!--{/if}-->
								</span>
								(<span id="down_num">$item['down']</span>人踩)
							</span>	  
					</div>
				</div>	
				</div>
				<h3>站点简介</h3>
					<p style="height:60px;padding:10px 0;">$item[description]</p>
					<p>&nbsp;</p>
	
	</div>
<script language="javascript" type="text/javascript">	
		var url = $(".sepc > a").attr("href");
		var click = $(".sepc > a").attr("onclick");
		$(".url").attr("href",url).attr("onclick",click);
		$(".tags").each(function(){
			$(this).attr("href","space.php?do=sitetag&tagid="+this.id);
		});
		$(".reporterr").each(function(){
			$(this).attr("href","cp.php?ac=site&op="+$(this).attr('class')+"&siteid="+this.id).attr("class","thickbox");
		});	
		$(".edit").each(function(){
			$(this).attr("href","cp.php?ac=site&op="+$(this).attr('class')+"&siteid="+this.id).attr("class","thickbox");
		});	
		$(".delete").each(function(){
			$(this).attr("href","cp.php?ac=site&op="+$(this).attr('class')+"&siteid="+this.id).attr("class","thickbox");
		});	
		tb_init('.sedl a.thickbox');
</script>
	<div class="box_r">
		<h2 class="ntitle">
			<em>类似站点&raquo;</em>
		</h2>
		<div style="padding:10px 22px;">
			<img src="template/default/image/adv_240x200.jpg">
		</div>
		<!--
		-->
		   <dl class="drank">
				<!--{template hotdigg}-->
		   </dl>
		<!--
		-->
	</div>
	<div class="box_l" style="height:250px;">			
		<h2 class="ntitle">				
			<p>相似站点&raquo;</p>
		</h2>
			<!--{template space_navigation_list}-->	
	</div>
</div>
</div>

