<script language="javascript" type="text/javascript" >
	jQuery(document).ready(function(){
		jQuery("#softbtn a:first").addClass("cur");  
			jQuery("#softbtn a").hover(function(){ 
				jQuery("#softbtn a").removeClass("cur"); 
				jQuery(this).addClass("cur"); 
		});
	});
</script>
<h1>
	<ul>
			<li>零售价格看到类离开大家发个</li>
			<li>零售价格看到类离开大家发个</li>
			<li>零售价格看到类离开大家发个</li>
			<li>零售价格看到类离开大家发个</li>
			<li>零售价格看到类离开大家发个</li>
	</ul>
	  <p id="softbtn">
			<a href="#" class="btn" >注  册</a>
			<a href="#" class="btn" >下  载</a>
			<a href="#" class="btn" >使  用</a>
	  </p>
</h1>
<img src="./template/default/image/soft.gif">
<ul id="step" class="thst">
		<li>
			<a href="#"><em>1: 注册</em><span>10秒内轻松完成注册</span></a>
		</li>
		<li>
			<a href="#"><em>2: 下载并安装</em><span>提供安装版本与绿色版本供您选择</span></a>
		</li>
		<li >
			<a href="#"><em>3: 使用</em><span>了解软件功能及解决使用中的疑惑</span></a>
		</li>
</ul>	