<div  id="thumbs">
<ul style="width:285px;">
<!--{loop $todayhotcollect['site'] $key $value}-->
<!--{if $key>=3 }-->
<li>
	<a href="$value[url]" title="{$value[subject]}" target="_blank" class="thumb">
			<!--{eval echobookmarkimagepath($value,0)}-->
	</a>
	<p><a href="$value[url]">$value[subject]</a></p>							
</li>
<!--{/if}-->
<!--{/loop}-->
</ul>


<div class="big" >
<!--{loop $todayhotcollect['site'] $key $value}-->
<!--{if $key<3 }-->
		<div class="big_l">
				<a href="$value[url]" title="{$value[subject]}" class="bimg">
					<!--{eval echobookmarkimagepath($value,1)}-->
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top:2px; overflow: hidden;color:#777;clear:both;">
					<a style="color: #74AE00;" href="$value[url]">$value[subject]</a>:
					$value['description']...
				</p>
		</div>
<!--{/if}-->
<!--{/loop}-->
		<div class="hottag">
						<p><span>特色分类:</span>								
							<!--{loop $todayhotcollect['class'] $key $value}-->								
								<a  href="space.php?do=navigation&classid=$value[classid]">$value[classname]</a>|
							<!--{/loop}-->
						</p>
						<p><span>热门标签:</span>
						<!--{loop $todayhotcollect['tag'] $key $value}-->								
								<a href="space.php?do=sitetag&tagid=$value[tagid]">$value[tagname]</a>|
						<!--{/loop}-->						
						</p>
		</div>

</div>
</div> 