<div style="width:100%;height:600px;">
			<ul class="bloglist">
			<!--{loop $bookmarklist $key $value}-->
			<li <!--{if $key%2==1}-->class="list_r"<!--{/if}-->>
					<h3>
						<a class="url id_bm_$value['bmid']" id="$value['bmid']"></a>
						<p class="num_con"><span><strong><!--{eval linkaward($value[award],0);}--></strong>.<!--{eval linkaward($value[award],1);}--></span><em>(<em>$value['storenum']</em>人收)</em></p>
					</h3>
					<!--{if empty($space['style'])}-->
						<div class="d_avatar avatar125">
								<a class="url id_bm_$value['bmid']" id="$value['bmid']">
									 <!--{if empty($value['picflag'])}-->
										<img src="$value['tmppic']">
									 <!--{else}-->
										<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
									 <!--{/if}-->										
								</a>
						</div>						
						<!--{if !empty($value['description'])}-->
						<p class="message">
									$value['description'] ...
						<!--{else}-->
						<p class="message ">
							<span class="id_nodes" id="$value['bmid']"></span>
						<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{else}-->						
							<!--{if !empty($value['description'])}-->
							<p class="messagenopic">
									$value['description'] ...
							<!--{else}-->
							<p class="message">
								<span class="id_nodes" id="$value['bmid']"></span>
							<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{/if}-->
					<p class="tags"> 
						<!--{if !empty($value['taglist'])}-->
							<!--{loop $value[taglist] $subkey $subvalue}-->
								<a id="$subkey" class="id_bm_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
							$_SC['unknown_tag']
						<!--{/if}-->
					</p>				
					
					<p class="oper">
					<!--{if empty($isFromCache)}-->
						<a href="space.php?uid=$value[uid]&do=blog&id=$value[linkid]" class="nhot">$value[storenum] 人收藏</a>
					<!--{else}-->
						<a href="space.php?uid=$value[uid]&do=blog&id=$value[linkid]" class="nhot"><!--{eval getLinkStorenum($value[linkid])}--> 人收藏</a>
					<!--{/if}--> 
					 
				     <a class="get" id="$value['bmid']">详情</a>
					 | 				  
					 <a class="delete" id="$value['bmid']">删除</a>
					 |
					 <a class="edit" id="$value['bmid']">编辑</a>
					</p> 
				</li>

				<!--{/loop}-->
			</ul>
<div class="page">$bookmark_multi</div>
</div>
<div class="bloglist_ad">
		<img src="./template/default/image/468x60.jpg">
</div>

<script language="javascript" type="text/javascript">	
		var gpid=$value[groupid];
		var bsid=$value[browserid];		
		jQuery(".id_nodes").each(function(){
			jQuery(this).html("暂时没有对&nbsp;<a class=\"url id_bm_"+this.id+"\" id=\""+this.id+"\"></a>&nbsp;的描述，你可以点击<a class=\"edit id_bm_edit_"+this.id+"\" id=\""+this.id+"\">编辑</a>按钮或者等待服务器更新 ...");
		});
<!--{loop $bookmarklist $key $value}-->	
		var id_bm_$value['bmid']_title="$value['subject']";
		jQuery(".id_bm_$value['bmid']").attr("href","$value[url]").attr("title",id_bm_$value['bmid']_title);		
		jQuery(".id_bm_$value['bmid']:empty").html(id_bm_$value['bmid']_title);
<!--{/loop}-->
		jQuery(".bloglist >li >h3 >a").attr("style","float:left;width:250px;overflow:hidden;");
		jQuery(".id_bm_tag").each(function(){
			this.href = "space.php?do=linktag&tagid=" + this.id;
		});	
		jQuery(".bloglist .edit").each(function(){
			this.href = "cp.php?ac=bookmark&bmid="+this.id+"&groupid="+gpid+"&browserid="+bsid+"&op=edit";			
			jQuery(this).attr("onclick","ajaxmenuEx(event,'img_seccode_"+this.id+"', this.id,1);");
			this.id="bookmark_edit_"+this.id;
		});	
		jQuery(".bloglist .delete").each(function(){
			this.href = "cp.php?ac=bookmark&bmid="+this.id+"&groupid="+gpid+"&browserid="+bsid+"&op=delete";
			this.id="bookmark_delete_"+this.id;
			jQuery(this).attr("onclick","ajaxmenu(event, this.id,1)");
		});	
		jQuery(".bloglist .get").each(function(){
			this.href="cp.php?ac=bookmark&op=get&bmid="+this.id;
		});	
		jQuery(".bloglist .url").each(function(){
			//jQuery(this).attr("onclick","updatebookmarkview("+this.id+");this.href=this.href+'&title="+jQuery(".id_bm_"+this.id).attr("title")+"';");
			jQuery(this).attr("onclick","updatebookmarkview("+this.id+")");
		});	
		
		jQuery(".bloglist a").attr("target","_blank");
</script>
	

