<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_digg_list}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_digg").addClass("current");
</script>
<div id="login">
	<!--{template login}-->
</div>


<div class="box">
	<div class="box_l">
		<h2 class="ntitle">
			<span><a href="space.php?do=thread&view=all">更多话题</a></span>
			<p>话题 &raquo;</p>
		</h2>
		<div id="diggcontent">
			<!--{template space_digg_list}-->
		</div>
	</div>
	<div id="npoll" class="box_r">
			<h2 class="ntitle">
				<span><a href="space.php?do=poll">更多投票</a></span>
				<em>投票 &raquo;</em>
			</h2>
			<ul>
			<!--{loop $polllist $key $value}-->
				<li class="poll_$key"><a href="space.php?uid=$value[uid]&do=poll&pid=$value[pid]" target="_blank">$value[subject]</a><!--{if $key == 0}--><p><a href="">已有 $value[voternum] 位会员投票</a></p><!--{/if}--></li>
			<!--{/loop}-->
			</ul>
	</div>
</div>
<div class="fbbottom"></div>
<!--{template bm_footer}-->
<!--{/if}-->
