<div style="float:left;height:92px;padding:0px 3px;" id="thumbs" >
<ul class="thumbs noscript">
<!--{loop $bookmarklist['son'] $key $value}-->
<li class="mgn2">
	<a href="$value[url]" title="{$value[link_subject]}" target="_blank" name="leaf" class="thumb">
	<!--{if empty($value[picflag])}-->
		<img  src="$value['tmppic']">
	<!--{else}-->
		<img  src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
	<!--{/if}-->
	</a>
	<span><a >$value[link_subject]</a></span>							
</li>
<!--{/loop}-->
</ul>
</div>
<script language="javascript" type="text/javascript">	
		jQuery(".mgn2").each(function(){
		});
		jQuery(".mgn2 > span").css({"height": "15px", "text-align": "center","width":"82px" });
		
</script>