<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_bookmark_list}-->
<!--{else}-->
<div id="network">
<!--{template login}-->
<div  style="height:505px;padding-top:10px;">

	<div class="nbox_c" style="height:500px;">
		<h2 class="ntitle">				
			<div class="groupname">最热收藏&raquo;</div>
		</h2>




	

<!----------------------------------------------------->
<div class="navigation floatleft nav_1ogin" id="thumbs">
<ul class="thumbs noscript">
<li>
	<a onclick="getrelatedlinkfromid(1);" title="数万首歌曲音乐在线试听" href="javascript:;" name="leaf" class="thumb">
	<img alt="数万首歌曲音乐在线试听" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
	</a>
	<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(2);" title="数万首歌曲音乐在线试听" href="javascript:;" name="leaf" class="thumb">
	<img alt="数万首歌曲音乐在线试听" src="snapshot/7/4/1/5/52dda3cf118965987ad84a533706da47.jpg">
	</a>
	<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bwofrdf%3D%25C7%25F4%25C4%25F1%26amp%3Btype%3D1%26amp%3Bmore%3Dtrue">好听音乐网</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(3);" title="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" href="javascript:;" name="leaf" class="thumb">
	<img alt="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" src="snapshot/6/3/1/5/580b23629f65c8455cd4baa93b5a0da2.jpg">
	</a>
	<p><a href="link.php?url=http://www.goalhi.com">GoalHi足球</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(4);" title="" href="javascript:;" name="leaf" class="thumb">
	<img alt="" src="snapshot/4/4/0/5/9e9ccd263c2c516efd96da226e4556c5.jpg">
	</a>
	<p><a href="link.php?url=http://www.txzqw.com">天下足球网</a></p>							
	</li>
<li>
	<a onclick="getrelatedlinkfromid(5);" title="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" href="javascript:;" name="leaf" class="thumb">
	<img alt="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" src="snapshot/1/7/4/6/4f12a25ee6cc3d6123be77df850e343e.jpg">
	</a>
	<p><a href="link.php?url=http://www.sina.com.cn">新浪首页</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(6);" title="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" href="javascript:;" name="leaf" class="thumb">
	<img alt="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" src="snapshot/6/5/3/5/8239c5d74a80ad380e7e415cc7356b1b.jpg">
	</a>
	<p><a href="link.php?url=http://www.dangdang.com">当当网&mdash;网</a></p>							
</li>
</ul>
</div>


	<div class="content_login_r" >
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="txt_tag">
						<p><span>热门分类:</span>
						<a blockid="2217" title="动作" href="http://movies.xunlei.com/type,genre/movie,Action">动作</a>|<a blockid="2217" title="冒险" href="http://movies.xunlei.com/type,genre/movie,Adventure">冒险</a>|<a blockid="2217" title="喜剧" href="http://movies.xunlei.com/type,genre,tab/movie%2CComedy%2Cvod_free">喜剧</a>|<a blockid="2217" title="恐怖" href="http://movies.xunlei.com/type,genre,tab/movie%2CHorror%2Cvod_free">恐怖</a>|<a blockid="2217" title="科幻" href="http://movies.xunlei.com/type,genre,tab/movie%2CSci-Fi%2Cvod_free">科幻</a>|<a blockid="2217" title="警匪" href="http://movies.xunlei.com/type,genre/movie,Crime">警匪</a>
						</p>
						<p><span>特色频道:</span>
						<a blockid="2218" title="720P" href="http://hd.xunlei.com/">720P</a>|<a blockid="2218" title="首播" href="http://movie.xunlei.com/shoubo/">首播</a>|<a blockid="2218" title="大片" href="http://movie.xunlei.com/online/dapian_index.html">大片</a>|<a blockid="2218" title="新片" href="http://movie.xunlei.com/new,movie">新片</a>|<a blockid="2218" title="风云榜" href="http://movie.xunlei.com/top/">风云榜</a>|<a blockid="2218" title="组合查询" href="http://movies.xunlei.com/list,movie/">组合查询</a>
						</p>
		</div>

	</div>
<!----------------------------------------------------->
		<div style="clear:both;width:680px;margin-top:10px;">			
			<h2 class="ntitle">				
			<div class="groupname">最热收藏&raquo;</div>
			</h2>
		</div>
<div class="navigation floatleft nav_1ogin" id="thumbs">
<ul class="thumbs noscript">
<li>
	<a onclick="getrelatedlinkfromid(1);" title="数万首歌曲音乐在线试听" href="javascript:;" name="leaf" class="thumb">
	<img alt="数万首歌曲音乐在线试听" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
	</a>
	<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(2);" title="数万首歌曲音乐在线试听" href="javascript:;" name="leaf" class="thumb">
	<img alt="数万首歌曲音乐在线试听" src="snapshot/7/4/1/5/52dda3cf118965987ad84a533706da47.jpg">
	</a>
	<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bwofrdf%3D%25C7%25F4%25C4%25F1%26amp%3Btype%3D1%26amp%3Bmore%3Dtrue">好听音乐网</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(3);" title="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" href="javascript:;" name="leaf" class="thumb">
	<img alt="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" src="snapshot/6/3/1/5/580b23629f65c8455cd4baa93b5a0da2.jpg">
	</a>
	<p><a href="link.php?url=http://www.goalhi.com">GoalHi足球</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(4);" title="" href="javascript:;" name="leaf" class="thumb">
	<img alt="" src="snapshot/4/4/0/5/9e9ccd263c2c516efd96da226e4556c5.jpg">
	</a>
	<p><a href="link.php?url=http://www.txzqw.com">天下足球网</a></p>							
	</li>
<li>
	<a onclick="getrelatedlinkfromid(5);" title="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" href="javascript:;" name="leaf" class="thumb">
	<img alt="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" src="snapshot/1/7/4/6/4f12a25ee6cc3d6123be77df850e343e.jpg">
	</a>
	<p><a href="link.php?url=http://www.sina.com.cn">新浪首页</a></p>							
</li>
<li>
	<a onclick="getrelatedlinkfromid(6);" title="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" href="javascript:;" name="leaf" class="thumb">
	<img alt="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" src="snapshot/6/5/3/5/8239c5d74a80ad380e7e415cc7356b1b.jpg">
	</a>
	<p><a href="link.php?url=http://www.dangdang.com">当当网&mdash;网</a></p>							
</li>
</ul>
</div>


	<div class="content_login_r" >
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="content_login_r_1">
				<a title="好听音乐网" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">
				<img alt="好听音乐网" src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
				<a style="color: #74AE00;" href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
				</span>
				</p>
		</div>
		<div class="txt_tag">
						<p><span>热门分类:</span>
						<a blockid="2217" title="动作" href="http://movies.xunlei.com/type,genre/movie,Action">动作</a>|<a blockid="2217" title="冒险" href="http://movies.xunlei.com/type,genre/movie,Adventure">冒险</a>|<a blockid="2217" title="喜剧" href="http://movies.xunlei.com/type,genre,tab/movie%2CComedy%2Cvod_free">喜剧</a>|<a blockid="2217" title="恐怖" href="http://movies.xunlei.com/type,genre,tab/movie%2CHorror%2Cvod_free">恐怖</a>|<a blockid="2217" title="科幻" href="http://movies.xunlei.com/type,genre,tab/movie%2CSci-Fi%2Cvod_free">科幻</a>|<a blockid="2217" title="警匪" href="http://movies.xunlei.com/type,genre/movie,Crime">警匪</a>
						</p>
						<p><span>特色频道:</span>
						<a blockid="2218" title="720P" href="http://hd.xunlei.com/">720P</a>|<a blockid="2218" title="首播" href="http://movie.xunlei.com/shoubo/">首播</a>|<a blockid="2218" title="大片" href="http://movie.xunlei.com/online/dapian_index.html">大片</a>|<a blockid="2218" title="新片" href="http://movie.xunlei.com/new,movie">新片</a>|<a blockid="2218" title="风云榜" href="http://movie.xunlei.com/top/">风云榜</a>|<a blockid="2218" title="组合查询" href="http://movies.xunlei.com/list,movie/">组合查询</a>
						</p>
		</div>

	</div>


  <!-------->
	</div>
 <!--login-->
	<div class="nbox_s side_rbox side_rbox_w" style="height:500px;">
		<h2 class="ntitle">
		</h2> 
		<div class="side_rbox_c" >

	<div style="display: block;" class="wbbg" id="htm_user_signin">
		<div style="border-bottom: 3px solid rgb(143, 195, 32);" class="right1">
			<img height="13" width="13" src="http://img.tuke.com/dl_green.gif"><span class="green1">图客登录</span> 可以使用时代图片phototime用户登录
		</div>
		<form id="loginform" name="loginform" method="POST" action="/user/login.php">
			<div class="zc_index">
				<div class="ward_border">
				<div class="ward_borderl">登录账号：</div>
				<div class="ward_borderr">
				<label>
				<input type="text" value="Email/用户名" id="html_unlogin" name="html_unlogin" class="srkuanga"><span id="html_unerr" class="cwxx"></span>
				</label>
				</div>
				</div>
				<div class="ward_border">
				<div class="ward_borderl">密&nbsp;&nbsp; 码：</div>
				<div class="ward_borderr">
				<label>
				<input type="password" id="html_up" name="html_up" class="srkuanga"><span id="html_uperr" class="cwxx"></span>
				</label>
				</div>
				</div>
				<div class="ward_border">
				<label>
				<input type="submit" value="登  录" class="buttong1" id="loginsubmit" name="loginsubmit" style="float: right; margin-right: 43px; margin-top: 5px;">
				</label>
				</div>
				<div class="ward_border">
				<div style="float: right; width: 72%;" class="ward_borderr">
				记住我<input type="checkbox" checked="checked" id="cookie" name="cookie" value="1">
				<span style="margin-left: 60px;"><a class="linkf" href="/user/findpwd.html">忘记密码</a></span>
				</div>
				</div>
			</div>
		</form>
    </div>


	<div style="margin-top: 10px; display: block;" class="wbbg" id="htm_user_register">
    <div style="border-bottom: 3px solid rgb(120, 171, 215);" class="right1">
    <img height="13" width="13" src="http://img.tuke.com/dl_bule.gif"><span class="green2">免费注册</span> 成为“图客”tuker！</div>
    <form method="post" action="/user/register.php" id="register_form" name="register_form">
    <input type="hidden" value="" name="url">
    <div class="zc_index">
    <div class="ward_border">
    <div class="ward_borderl"><span class="rded">*</span>EMAIL：</div>
    <div class="ward_borderr">
    <input type="text" size="100" name="html_ue" id="html_ue" class="srkuanga">
    </div><div class="cv"></div>
    </div>
    <div class="ward_border">
    <div class="ward_borderl"><span class="rded">*</span>设置密码：</div>
    <div class="ward_borderr">
    <input type="text" name="html_ups" id="html_ups" class="srkuanga">
    </div><div class="cv"></div>
    </div>
    <div class="ward_border">
    <div class="ward_borderl"><span class="rded">*</span>真实姓名：</div>
    <div class="ward_borderr">
    <input type="text" name="html_realname" id="realname" class="srkuanga">
    </div><div id="realnamespan" class="cv"></div>
    </div>
    <div class="ward_border">
    <div class="ward_borderl">昵称：</div>
    <div class="ward_borderr">
    <input type="text" id="html_un" name="html_un" class="srkuangb">
    <input type="radio" checked="checked" value="1" name="html_sex">
    男
    <input type="radio" value="0" name="html_sex">
    女
    </div><div class="cv"></div></div>
    <div class="ward_border">
    <div class="ward_border">
    <div class="cv"></div>
    </div>
    
    <div class="ward_border">
    <label>
    &nbsp;&nbsp;&nbsp;&nbsp; 
    <input type="checkbox" value="1" checked="checked" id="contract" name="contract">
    </label>
    我已经看过并同意《<a href="/group/pv/1/276" class="linkf">图客网络服务使用协议</a>》 </div>
    <div class="ward_border">
    <label>
    <input type="submit" value="立即注册" class="buttong2" name="register" id="register" style="float: right; margin-right: 43px; margin-top: 5px;">
    </label>
    </div>
    </div>
    </form>
    </div>



		</div>
	</div>	  						
</div>

<!--{template footer}-->
<!--{/if}-->
