<!--{template header}-->
<!--{template board}-->	
<div class="box">
	<div class="box_l">
				<h2 class="ntitle">				
					<p>弹指桌面工具&raquo;</p>
				</h2>	
			<div class="soft">
					<!--{template soft}-->	
			</div>
			<div class="box_l">			
					<h3>今日热荐&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
					<div class="headline">
						<a class="pic" href="http://www.douban.com/minisite/ukculture/">
							<img height="100" width="100" alt="新英伦" src="http://img3.douban.com/icon/ul501024-2.jpg">
						</a>
						<div class="desc">
							<h3>[日记]<a href="http://www.douban.com/note/126889026/">这辈子一定要去的地方</a></h3>
							<p>总有太多流浪的理由，然而我们没有去流浪。于是留着那些我们理想中的生活在脑海中，日复一日，年复一年。这两周，让我们暂且允许这只是幻想好了，贴出那个你这辈子一定要去的地方，顺便赢取英国旅游手册。</p>
							<span>282人推荐</span>
							<span></span>
						</div>
					</div>
					<h3>弹友热藏&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
						 <!--{template hotsite}-->
					<h3>快速导航&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
						 <!--{template expressnav}-->
			</div>
	</div>
	<div class="box_r">
			<h2 class="ntitle" >
				<em>
					弹指登录&raquo;
					<cite style="color:#aaa;font-size:85%;font-weight:normal;font-style:normal;">&nbsp;&nbsp;请使用email登录</cite>	
				</em>
			</h2> 
			<div  class="slogin">
					<!--{template slogin}-->	
			</div>
			<div class="feeds" >
					<!--{template feeds}-->	
			</div>
	</div>	
</div>
<!--{template footer}-->

