<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->

<!--{else}-->
<div id="network">
<!--{template login}-->
<!--{template searchbar}-->
<div class="nbox" style="height:640px;">

	<div class="nbox_c">
	<div id="bmcontent">
			<!--{template space_bookmark_list}-->
	</div>
	</div>

	<div class="nbox_s side_rbox side_rbox_w">
		<h2 class="ntitle">菜单 &raquo;</h2>
		<div class="side_rbox_c" style="height:605px;">
		        <div class="menu_item">
                            	<div class="tabs_header">
										<ul class="tabs">
                                	       <!--{eval mkbrowsertab($browserid)}-->
										</ul>
								</div>                            	
                                <ul  class="menu_list">
                                	<!--{eval usermenu($browserid)}-->
                                </ul>
						<div class="side_rbox_adv">
						<a title=admin href="http://192.168.115.2/uc/home/space.php?uid=1" target=_blank>
                              <img onerror="this.onerror=null;this.src='./template/default/image/1_1264944905dc86.jpg'"
                                        src="./template/default/image/imgad.gif">
                        </a>
				</div>
                </div>
		</div>
	</div>
 						
</div>
<!--{template relatedsite}-->


<div class="nbox">
	<div class="nbox_c">
		<h2 class="ntitle"><span class="r_option"><a href="space.php?do=thread&view=all">更多话题</a></span>话题 &raquo;</h2>
		<div id="diggcontent">
		<!--{template space_digg_list}-->
		</div>
	</div>
	<div id="npoll" class="nbox_s side_rbox side_rbox_w">
		<div class="side_rbox_c">
			<h2 class="ntitle"><span class="r_option"><a href="space.php?do=poll">更多投票</a></span>投票 &raquo;</h2>
			<ul>
			<!--{loop $polllist $key $value}-->
				<li class="poll_$key"><a href="space.php?uid=$value[uid]&do=poll&pid=$value[pid]" target="_blank">$value[subject]</a><!--{if $key == 0}--><p><a href="">已有 $value[voternum] 位会员投票</a></p><!--{/if}--></li>
			<!--{/loop}-->
			</ul>
		</div>
	</div>
</div>
		<div class="fbbottom"></div>
	</div>

</div>

<!--{template footer}-->
<script>
function getbmview(type) {
	ajaxget('space.php?uid=$space[uid]&do=bookmark&see='+type+'&ajaxdiv=bmcontent', 'bmcontent');
}
function getbmfromid(id) {
	//var plus = '';
	//if(type == 'event') plus = '&type=self';
	//ajaxget('space.php?uid=$space[uid]&do='+type+'&view=me'+plus+'&ajaxdiv=maincontent', 'maincontent');
	if(id==0)
	        jQuery('#menu ul').hide();
	ajaxget('space.php?uid=$space[uid]&do=bookmark&groupid='+id+'&browserid=$browserid&ajaxdiv=bmcontent', 'bmcontent');
}
function ajaxresponse(objname, data) {
	var x = new Ajax('XML', objname);
	x.get('cp.php?ac=bookmark&' + data, function(s){
	});
}
function updatevisitstat(id) {
	ajaxresponse('visitstat', 'op=updatevisitstat&bmid=' + id);
}
</script>
<!--{/if}-->
