<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	   	   <!--{template space_site_list_sub}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_navigation").addClass("current");
</script>
<div id="login">
	<!--{template login}-->
</div>

<!--{if empty($classid)}-->
<div class="boxb">
	<div class="box_l">
	<!--{loop $navlist $key $bookmarklist}-->
		<div  style="height:105px;" class="ntitle">
				<a style="float:left;width:10px;padding-top:20px;color:#FF6A00;font-size:14px;font-weight:bold;"id="groupname" href="space.php?do=navigation&classid=$bookmarklist['siteclassid']">
				$bookmarklist['classname']
				</a>
	
				<!--{template space_navigation_class}-->				  
		</div>	

	<!--{/loop}-->
	</div>
	<div class="box_r" >	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{else}-->	
<div class="boxb" style="height:805px;">
	<div class="box_l" style="height:800px;">		
		<h2 class="ntitle">
				<p id="groupname">$classitem['classname']&raquo;</p>
				<!--{template space_catelog_tab}-->	
		</h2>
		<div id="bmcontent"> 			  
				<!--{template space_site_list_sub}-->				  
		</div>
	</div>
	<div class="box_r" style="height:800px;">	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{/if}-->
<!--{template footer}-->
<!--{/if}-->
