<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->

<!--{else}-->
<div id="network">

<!--{template login}-->
<!--{template searchbar}-->

<div class="nbox">
	<div class="nbox_c">
		<h2 class="ntitle"><span class="r_option"><a href="space.php?do=thread&view=all">更多话题</a></span>话题 &raquo;</h2>
		<div class="diggcontent">
		<div class="tlist">		
		<ul>
<!--{loop $digglist $key $value}-->			
			<li>
				<div class="left">
						<div class="left_top"><a href="#" ><img src="./template/default/image/act_headpicture.jpg" /></a></div>
						<div class="left_bot">
							<div class="support"><a href="#"><img src="./template/default/image/icon_support.jpg" /></a></div>
							<div class="data">($value[upnum])</div>
							<div class="support"><a href="#"><img src="./template/default/image/icon_bury.jpg" /></a></div>
							<div class="data">($value[downnum])</div>
						</div>
				</div>
				<div class="mid">
						 <div class="dig_title"><a href="$value[url]">$value[subject]</a></div>
						 <div class="descript">
							$value[description]... 
						</div>
						 <div class="action">
							 <div style="float:left;width:210px;overflow:hidden;">
								    <span style="float:left">标签:
											<!--{loop $value[tag] $tagid $tagname}-->
											<a href="space.php?uid=$_SGLOBAL[supe_uid]&do=diggtag&diggid=$tagid">$tagname</a>
											<!--{/loop}-->					
									</span>
							 </div>
							 
							 <div style="float:right;width:180px;">
								<a href="$value[url]" target=_blank class="diggbtn">点击访问</a>		
								<!--{if $value[uid]=$_SGLOBAL[supe_uid]||checkperm('allowdigg') }-->
								<a onclick="ajaxmenu(event, this.id,1)" id="digg_delete_$value[diggid]" href="cp.php?ac=digg&diggid=$value[diggid]&op=delete" class="diggbtn">删除</a>
								<a onclick="ajaxmenu(event, this.id,1)" id="digg_edit_$value[diggid]" href="cp.php?ac=digg&diggid=$value[diggid]&op=edit" class="diggbtn">编辑</a>
								<!--{else}-->
								发布者:
								<a href="#" >$value[username]</a>
								<!--{/if}-->
							 </div>
							  <div style="float:right;width:120px">
								    <span>时间:</span><span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
							 </div>
						 </div>
				</div>
				<div class="right">
					<div class="d_avatar avatar125">
                       <a title=admin href="$value[url]" target=_blank>
                            <img onerror="this.onerror=null;this.src='./template/default/image/1_1264944905dc86.jpg'"
                                src="./template/default/image/1_1264944905dc86.jpg">
                       </a>
				  </div>
				</div>
			</li>
<!--{/loop}-->    
		</ul>
		<div class="page">$diggmulti</div>
		</div>
		</div>
	</div>
	<div id="npoll" class="nbox_s side_rbox side_rbox_w">
		<div class="side_rbox_c">
			<h2 class="ntitle"><span class="r_option"><a href="space.php?do=poll">更多投票</a></span>投票 &raquo;</h2>
			<ul>
			<!--{loop $polllist $key $value}-->
				<li class="poll_$key"><a href="space.php?uid=$value[uid]&do=poll&pid=$value[pid]" target="_blank">$value[subject]</a><!--{if $key == 0}--><p><a href="">已有 $value[voternum] 位会员投票</a></p><!--{/if}--></li>
			<!--{/loop}-->
			</ul>
		</div>
	</div>
</div>
		<div class="fbbottom"></div>
	</div>

</div>

<!--{template footer}-->
<script>
function getbmview(type) {
	ajaxget('space.php?uid=$space[uid]&do=bookmark&see='+type+'&ajaxdiv=bmcontent', 'bmcontent');
}
function getbmfromid(id) {
	//var plus = '';
	//if(type == 'event') plus = '&type=self';
	//ajaxget('space.php?uid=$space[uid]&do='+type+'&view=me'+plus+'&ajaxdiv=maincontent', 'maincontent');
	if(id==0)
	        jQuery('#menu ul').hide();
	ajaxget('space.php?uid=$space[uid]&do=bookmark&groupid='+id+'&browserid=$browserid&ajaxdiv=bmcontent', 'bmcontent');
}
function ajaxresponse(objname, data) {
	var x = new Ajax('XML', objname);
	x.get('cp.php?ac=bookmark&' + data, function(s){
	});
}
function updatevisitstat(id) {
	ajaxresponse('visitstat', 'op=updatevisitstat&bmid=' + id);
}
</script>
<!--{/if}-->
