<h2 class="ntitle">
		<span class="r_option" style="padding-right:150px;">
		<ul>
		 <!--{if isset($_GET['groupid'])}-->
        		<li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=add" id="bmdir_add_$_GET['groupid']" onclick="ajaxmenu(event, this.id,1)">增加</a></li>
            <li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=edit" id="bmdir_edit_$_GET['groupid']" onclick="ajaxmenu(event, this.id,1)">修改</a></li>
           	<li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=delete" id="bmdir_delete_$_GET['groupid']" onclick="ajaxmenu(event, this.id)">删除</a></li>
          <!--{/if}-->
        </ul>	
			</span> $groupname &raquo;</h2>
			<ul class="bloglist">
			<!--{loop $bookmarklist $key $value}-->
			<li <!--{if $key%2==1}-->class="list_r"<!--{/if}-->>
					<h3><a href="$value[url]" target="_blank" onclick="updatevisitstat($value[bmid])">$value[subject]</a></h3>
					<div class="d_avatar avatar125">
							<a href="$value[url]" title="{$value[subject]}" target="_blank">
								 <!--{if empty($value['picflag'])}-->
									<img src="$value['tmppic']">
								 <!--{else}-->
									<img src="$value['pic']$value['md5url']$_SC['link_image_suffix']">
								 <!--{/if}-->
									
							</a>
					</div>
					<p class="message">$value[description] ...</p>
					<p class="c_date"></p>
					<p class="bmtag">
					<!--{loop $value[tag] $subkey $subvalue}-->
                    <a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
					<!--{/loop}-->
					&nbsp;
					</p>
					<p class="nhot"><a href="space.php?uid=$value[uid]&do=blog&id=$value[linkid]">$value[hot] 人推荐</a></p>
					<p class="c_date"></p>
					<p class=ndate><span><!--{date('Y-m-d H:i',$value[dateline],1)}--></span></p>	
				  <span class=bvisit><a href="$value[url]"  target="_blank" onclick="updatevisitstat($value[bmid])" >点击访问<span id="visitstat"></span></a></span>
				  
					<span class=deletebtn><a href="cp.php?ac=bookmark&uid=$_SGLOBAL['supe_uid']&bmid=$value[bmid]&browserid=$value[browserid]&op=delete" id="bookmark_delete_$value[bmid]" onclick="ajaxmenu(event, this.id,1)">删除</a></span>
					 <span class=editbtn><a href="cp.php?uid=$_SGLOBAL['supe_uid']&ac=bookmark&bmid=$value[bmid]&groupid=$value[groupid]&browserid=$value[browserid]&op=edit" id="bookmark_edit_$value[bmid]" onclick="ajaxmenu(event, this.id,1)">编辑</a></span>
				</li>
				<!--{/loop}-->

			</ul>
<div class="page">$bookmark_multi</div>
<div id="relatehtm" style="display:none">
			<!--{template relatedsite}-->
</div>

