<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	   	   <!--{template site_list_sub}-->
	<!--{if $isSecClass }-->
		   <!--{template space_catelog_tab}-->	
	<!--{/if}-->
<!--{else}-->
<!--{template board}-->
<!--{if empty($classid)}-->
<div class="box">
	<div class="box_l">
		<!--{if empty($nopic)}-->
			<h2 class="navtab"></h2>
			<div id="bmcontent">
				<!--{template navigation_index}-->
			</div>
		<!--{else}-->
			<h2 class="ntitle navtab">
				<p id="groupname">快速导航&raquo;</p>
			</h2>
			<div id="bmcontent">
				<!--{template expressnav}-->
			</div>
		<!--{/if}-->	
	</div>
	<div class="box_r" >	
			 <!--{template navigation_menu}-->	 
	</div> 
</div>
<!--{else}-->	
<div class="boxb" style="height:805px;">
	<div class="box_l">		
		<h2 class="ntitle navtab">
				<p id="groupname">$classitem['classname']&raquo;</p>
				<!--{template space_catelog_tab}-->	
		</h2>
		<div id="bmcontent"> 			  
				<!--{template site_list_sub}-->				  
		</div>
	</div>
	<div class="box_r">	
			 <!--{template navigation_menu}-->	 
	</div> 
</div>
<!--{/if}-->
<!--{template footer}-->
<!--{/if}-->
