<div class="tlist">		
<ul>
<!--{loop $digglist $key $value}-->			
			<li>
				<div class="lf">
						<div style="float: left;" class="avatar48">
							<a href="space.php?do=digg&type=$value[categoryid]" class="$_SGLOBAL['diggcategory'][$value[categoryid]]['categoryname']" >
								<!--<img src="template/default/image/diggtype.jpg">-->
								<img onerror="this.onerror=null;this.src='http://192.168.115.2/ucenter/images/noavatar_small.gif'" src="http://192.168.115.2/ucenter/images/noavatar_small.gif">
							</a>
						</div>						
				</div>
				<div class="rt">
						<!--{if $value[picflag] }-->
						<div class="lfx_p">
						<!--{else}-->
						<div class="lfx">
						<!--{/if}-->	
							 <div class="tle">
								<a class="id_dg_$value['diggid']"></a>
								<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
							 </div>
							 <div class="ds">
								<a class="id_dg_$value['diggid']">$value[description]...</a> 
							</div>
						</div>
						<div class="rb gray">
							   <span class="tags">					
							   标签:
								<!--{loop $value[tag] $tagid $tagname}-->
									<a id="$tagid" class="id_dg_tag">$tagname</a>
								<!--{/loop}-->					
							   </span>						
							   发布者:
							   <a href="space.php?do=digg&uid=$value[postuid]" class="publisher">$value[username]</a>
								     有
							   <span class="emnum" id="digg_view_num_id_$value[diggid]">$value[viewnum]</span>
								弹指人参与围观								
								<span class="rateup">
										<a class="up" id="$value[diggid]"></a>
								</span>
								(<span id="digg_up_num_id_$value[diggid]">$value[upnum]</span>)	
								<span class="ratedown">
										<a class="down" id="$value[diggid]"></a>
								</span>
								(<span id="digg_down_num_id_$value[diggid]">$value[downnum]</span>)
								<!--{if $value[uid]=$_SGLOBAL[supe_uid]||checkperm('allowdigg') }-->
								<a class="edit" id="$value[diggid]">编辑</a>
								<a class="delete diggbtn" id="$value[diggid]">删除</a>			
								<!--{/if}-->
						</div>				
				</div>
					<!--{if $value[picflag] }-->	
						<div class="rightx">						
							<div class="d_avatar avatar125">
							   <a class="id_dg_$value['diggid']">
									<img onerror="this.onerror=null;this.src='./template/default/image/1_1264944905dc86.jpg'"
										src="$value[pic]">
							   </a>
						  </div>				  
						</div>
					<!--{/if}-->
			</li>
<!--{/loop}-->    
</ul>
<div class="page">$diggmulti</div>
</div>
<script language="javascript" type="text/javascript">	
<!--{loop $digglist $key $value}-->	
		var id_dg_$value['diggid']_title="$value['subject']";
		jQuery(".id_dg_$value['diggid']").attr("href","$value[url]").attr("title",id_dg_$value['diggid']_title). attr("onclick","updatediggview($value[diggid])");		
		jQuery(".id_dg_$value['diggid']:empty").html(id_dg_$value['diggid']_title);
<!--{/loop}-->
		jQuery(".id_dg_tag").each(function(){
			this.href = "space.php?do=diggtag&tagid=" + this.id;
		});	
		jQuery(".tlist .edit").each(function(){
			jQuery(this).attr("onclick","ajaxmenuEx(event,'img_seccode_"+this.id+"', this.id,1);").attr("href","cp.php?ac=digg&op=edit&diggid="+this.id).attr("id","digg_edit_"+this.id);
		});	
		jQuery(".tlist .delete").each(function(){
			jQuery(this).attr("onclick","ajaxmenu(event,this.id,1)").attr("href","cp.php?ac=digg&op=delete&diggid="+this.id).attr("id","digg_delete_"+this.id);
		});	
		jQuery(".tlist .up").each(function(){
			jQuery(this).attr("href","javascript:void(0)").attr("onclick","updatediggup("+this.id+")").attr("target","_self");
		});	
		jQuery(".tlist .down").each(function(){
			jQuery(this).attr("href","javascript:void(0)").attr("onclick","updatediggdown("+this.id+")").attr("target","_self");
		});	
</script>		

