<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<div class="tlist">		
		<ul>
			<!--{loop $sitefeed_list $value}-->	
			<!--{eval $value = mkfeed($value);}-->
			<li>
				<div class="lf">
					<div class="avatar48" style="float:left">
						<a href="space.php?uid=$value[uid]">
							<!--{avatar($value[uid],small)}-->
						</a>
					</div>
				</div>
							<!--{if $value[icon]=='digg' }-->
								   <!--{template feed_digg_li}-->
						    <!--{elseif $value[icon]=='site'}-->
								   <!--{template feed_site_li}-->
							<!--{elseif $value[icon]=='bookmark' }-->
									<!--{template feed_bookmark_li}-->
							<!--{/if}-->
			</li>
			<!--{/loop}-->
		</ul>
		<div class="page">$feedmulti</div>
	</div>
<!--{else}-->	
	<!--{template board}-->
<div  class="boxb" style="height:705px;">
	<div class="box_l" style="height:700px;">		
				<h2 class="ntitle">
					<p>$username 最近动态 &raquo;</p>
					<!--{if !empty($username) }-->
						<a href="space.php?do=feed" style="float:right;padding-right:5px;">全部</a>
					<!--{/if}-->
				</h2>
		<div id="bmcontent">
				<div class="tlist">		
					<ul>
						<!--{loop $sitefeed_list $value}-->	
						<!--{eval $value = mkfeed($value);}-->
						<li>
							<div class="lf">
								<div class="avatar48" style="float:left">
										<a href="space.php?do=feed&uid=$value[uid]">
										<!--{avatar($value[uid],small)}-->
										</a>
								</div>
							</div>
							<!--{if $value[icon]=='digg' }-->
								   <!--{template feed_digg_li}-->
						    <!--{elseif $value[icon]=='site'}-->
								   <!--{template feed_site_li}-->
							<!--{elseif $value[icon]=='bookmark' }-->
									<!--{template feed_bookmark_li}-->
							<!--{/if}-->
						 <!--{/if}-->
						</li>
						<!--{/loop}-->
					</ul>
					<div class="page">$feedmulti</div>
				</div>
				
		</div>		
	</div>
	<div class="box_r" style="height:700px;">	
			  
	</div> 						
</div>
<!--{template footer}-->
<!--{/if}-->
