<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_link_list}-->
<!--{else}-->
<div id="login">
	<!--{template login}-->
</div>
<div class="box" style="height:650px;">

	<div class="box_l">
		<h2 class="ntitle">
			<span style="padding-right:150px;"></span>
<!--{if $op=='manage'}-->
		待验证站点 &raquo;
<!--{elseif $op=='checkerror'}-->
		举报站点 &raquo;
<!--{else}-->
		我的上榜 &raquo;
<!--{/if}-->			 
		</h2>
		<div id="bmcontent">
			<!--{template space_link_list}-->	
		</div>
	</div>

	<div class="box_r">
		<!--{template usermenu}-->	 
	</div> 						
</div>
<!--{template footer}-->
<!--{/if}-->
