<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->

<!--{else}-->
<div id="network">
<!--{template login}-->
<!--{template searchbar}-->
<div class="nbox" style="height:640px;">

	<div class="nbox_c">
		<div id="bmcontent">
				<!--{template space_bookmark_list}-->
		</div>
	</div>

	<div class="nbox_s side_rbox side_rbox_w">	
			 <!--{template usermenu}-->	 
	</div> 						
</div>
<div  class="nbox">
	<div id="relatedcontent">
		<!--{template relatedsite}-->
	</div>
</div>
<div class="nbox">
	<div class="nbox_c">
		<h2 class="ntitle"><span class="r_option"><a href="space.php?do=thread&view=all">更多话题</a></span>话题 &raquo;</h2>
		<div id="diggcontent">
		<!--{template space_digg_list}-->
		</div>
	</div>
	<div id="npoll" class="nbox_s side_rbox side_rbox_w">
		<div class="side_rbox_c">
			<h2 class="ntitle"><span class="r_option"><a href="space.php?do=poll">更多投票</a></span>投票 &raquo;</h2>
			<ul>
			<!--{loop $polllist $key $value}-->
				<li class="poll_$key"><a href="space.php?uid=$value[uid]&do=poll&pid=$value[pid]" target="_blank">$value[subject]</a><!--{if $key == 0}--><p><a href="">已有 $value[voternum] 位会员投票</a></p><!--{/if}--></li>
			<!--{/loop}-->
			</ul>
		</div>
	</div>
</div>
		<div class="fbbottom"></div>
	</div>

</div>

<!--{template footer}-->
<!--{/if}-->
