<!--{template header}-->
<!--{template board}-->	
<div class="box">
	<div class="box_l">
			<h3>弹指桌面工具&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
			<div class="soft" style="height:180px;">
					<!--{template soft}-->	
			</div>
			<div class="box_l">			
					 <!--{template softdetail}-->						
			</div>
	</div>
	<div class="box_r" id="inhe">
			<h3>
				<span class="yellow">如何安装$_SC['softname']......</span>
			</h3> 
			<ol>
	         <li><p><span>1</span>下载安装文件至硬盘驱动器</p></li>
	         <li><p><span>2</span>打开安装文件并接受许可协议</p></li>
	         <li><p><span>3</span>根据安装向导进行操作</p></li>
	        </ol>

			<h3>
				<span class="yellow">常见问题......</span>
			</h3> 
			<ul>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
				<li><a href="#">下载安装文件至硬盘驱动器</a></li>
	        </ul>
	</div>	
</div>
<!--{template footer}-->

