<h4>下面可能有你感兴趣的内容哦</h4>
<div class="recommleft">
		<div id="user_recomm">
			<h2>站长推荐</h2>
			<div class="s_avatar">
					<a href="$todayhot['url']" title="$todayhot['link_description']">
						<img src="$todayhot['pic']/$todayhot['md5url'].$_SC['link_image_suffix']" alt="$todayhot['link_description']" />
					</a>
			</div>
			<div class="s_cnts">
					<h3><a href="$todayhot['url']" title="{$value['link_subject']}">$todayhot['link_short_subject']</a></h3>
					<p>收藏数: $todayhot['storenum']</p>
					<p>推荐指数: $todayhot[up]</p>
					<hr />
					<p><a href="cp.php?ac=link">我要上榜</a></p>
			</div>	
		</div>
	<p class="rlt_des">
		<a href="$relatedlist[0]['url']" class="aqua">$todayhot['link_short_subject']</a>:
					$todayhot['link_short_description']...
	</p>
	<p class="rlt_line">
			<span class="tag"> 标签:
					<!--{loop $todayhot['link_tag'] $subkey $subvalue}-->
					<a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
					<!--{/loop}-->
			</span>
			<span style="float:right;padding-right:5px;">
					<a  id="bookmark_add_$todayhot[linkid]" href="cp.php?ac=link&linkid=$todayhot[linkid]&op=bookmark" >我要收藏</a>
			</span>
	</p> 						
</div>	
