<h2 class="ntitle">	
	<p>菜单&raquo;</p>
</h2>
<div class="muim">
       	<div class="tabs_header">
			<ul class="tabs">
                <!--{eval mkbrowsertab($browserid)}-->
			</ul>
		</div> 
<!--{loop $_SGLOBAL['browser'] $key $value}-->
<!--{if $key==$browserid }-->
		<ul  class="menu_list menu_list_$key">
<!--{else}-->
        <ul  class="menu_list menu_list_$key" style="display:none">
<!--{/if}-->
            <!--{eval usermenu($key,$groupid,'getbmfromid')}-->
        </ul>
<!--{/loop}-->
<!--{if empty($_SGLOBAL['client'])}-->	
		<div class="feeds" >
				<!--{template feeds}-->
		</div>
<!--{else}-->
<!--{/if}-->
</div>
<script language="javascript"  type="text/javascript">
	$(function(){
			$(".tabs_header .tabs #"+$browserid).addClass("active");  
			$(".menu_list").hide();
			$(".menu_list_"+$browserid).show();
			$(".tabs_header .tabs >li").click(function(){ 
				Cookie.set("tanzhi_browser", $(this).attr("id"), 1E3 * 3600 * 24 * 5);
				$(".tabs_header .tabs >li").removeClass("active"); 
				$(this).addClass("active"); 
				$(".muim .menu_list").hide();
				$(".muim .menu_list_"+$(this).attr("id")).show();  
			});
			//if($(".tabs_header .tabs #"+Cookie.get("tanzhi_browser")))
			//	$(".tabs_header .tabs #"+Cookie.get("tanzhi_browser")).click();
	});
</script>

