<h2 class="ntitle">
菜单&raquo;
</h2>

		<div class="side_rbox_c" >
				<div class="menu_item">
                            	<div class="tabs_header">
										<ul class="tabs">
                                	       <!--{eval mkbrowsertab($browserid)}-->
										</ul>
								</div> 

                                <ul  class="menu_list">
                                			<!--{eval usermenu($browserid,$groupid,'getbmfromid')}-->
                                </ul>
						<div class="side_rbox_adv">
						<a title=admin href="http://192.168.115.2/uc/home/space.php?uid=1" target=_blank>
                              <img onerror="this.onerror=null;this.src='./template/default/image/1_1264944905dc86.jpg'"
                                        src="./template/default/image/imgad.gif">
                        </a>
						</div>
                </div>
		</div>
