html,body{background:#EDEFE8;margin:0px;font:12px verdana;color:#3b591b;}
#wrap{clear:left;float:left;margin:0px;width:850px;height:400px;}
ul{list-style-type:none; overflow:hidden; text-align:left; margin: 0; padding: 0;}
li a {display:inline-block;	text-decoration: none;}
li a:link,li a:visited {color:#3b591b;}
li a:hover { font-weight: bold;}
ul li a{padding-left:20px;background:url("qrc:image/arrow_g.gif") no-repeat 10px center;}
ul li ul li a{	padding-left:40px;background:url("qrc:image/arrow_y.gif") no-repeat 30px center;}
#lm{float:left;width:180px;height:300px;border:solid 1px #ccc;background-color:#fff;margin:5px 0px 0px 5px;}
#rm{float:left;width:620px;height:300px;margin:5px 5px 0;}
#header{float:left;width:820px;height:80px;background:url("qrc:image/top.jpg") no-repeat;margin:0px;}
.main{float:left;width:820px;height:300px;background:#EDEFE8;margin:5px 0px 0px;}
#taitou{  clear:left;float:left;margin:0px 5px;width:600px;height:25px;line-height:25px;font-weight:bold;border:solid 1px #cccccc;text-align:center;background-color:#fafafa;/*background:url("qrc:image/tt_bg.gif") repeat-x left bottom;*/}
#area{clear:left;float:left;margin:2px 5px;	width:600px;font:12px verdana;border:solid 1px #cccccc;}
table { font:12px verdana;	color:#3b591b; }
.btn a,.btn a:hover{float:right;display:block;height:25px;line-height:25px;width:113px;text-align:center;color:#676767;text-decoration: none;font-weight:normal;border:solid 1px #ccc;}
.btn a{background:url("qrc:image/button.gif");font-weight:normal;}
.btn a:hover{background:url("qrc:image/button_green.gif");font-weight:bold;}
.btn_little a,.btn_little a:hover{float:right;display:block;height:25px;line-height:25px;width:80px;text-align:center;color:#676767;text-decoration: none;font-weight:normal;border:solid 1px #ccc;}
.btn_little a{background:url("qrc:image/button_gray_80.gif");font-weight:normal;}
.btn_little a:hover{background:url("qrc:image/button_green_80.gif");font-weight:bold;}
.select_b{border:1px solid #ccc;  width:118px;   height:18px;   display:block;overflow:hidden}
.select{  width:120px;   height:20px;   position:relative;   line-height:20px;top:-3px;   left:-2px;background-color:#fff;text-align:center;  }
#applybtn{clear:left;float:left;margin:0px;width:800px;height:30px;}

.tip{display:block;float:left; width:350px; height:90px; border:#cccccc 1px solid; margin:5px; }

.tip_input{width:350px; height:50px;}
.tip_input_img{ display:block;float:left; background:url(qrc:image/loading.gif) no-repeat; width:25px; height:25px; margin:10px 0px 0px 10px;}
.tip_input_text{ display:block;float:left; white-space:normal;  width:285px; height:25px; padding:15px 10px 10px 10px; margin-left:10px;}

.tip_btn{ width:350px; height:40px; padding-left:0px;}
.tip_btn_ok a{
	float:left;
	margin-left:40px;
}
.tip_btn_cancel a{
	float:right;
	margin-right:40px;
}
.tip_btn_ok a,.tip_btn_cancel a{background:url(qrc:image/button_green_80.gif) no-repeat;width:80px; height:25px; text-align:center;color:#676767;text-decoration: none;font-weight:normal; padding-top:5px;}
.tip_btn_ok a:link,.tip_btn_cancel a:link{background:url(qrc:image/button_green_80.gif) no-repeat;width:80px; height:25px; text-decoration:none; }
.tip_btn_ok a:visited,.tip_btn_cancel a:visited{background:url(qrc:image/button_green_80.gif) no-repeat;width:80px; height:25px; text-decoration:none; }
.tip_btn_ok a:hover,.tip_btn_cancel a:hover{text-decoration:none;background:url(qrc:image/button_gray_80.gif) no-repeat; height:25px; width:80px; }