/*************************************************GLOBALS***/
* { word-wrap: break-word; word-break: break-all; }
body, th, td, input, select, textarea, button { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style: none; }
/*********************************network css****************************************************************/
#header{width:800px;height:60px;clear:both;margin:0 auto 5px}
#header .h_logo{background:url("qrc:image/g.png") no-repeat scroll 0 -200px transparent;float:left;margin:2px 0 0;width:200px;}
#header .h_logo a {color:#FFF;display:block;height:58px;overflow:hidden;text-indent:-3000px;width:200px;}
#header .h_adv {float:left;margin:10px 0 0 auto;position:relative;width:365px;}

#toolbar  {background:url("qrc:image/g.png") repeat-x scroll 0 -950px transparent;height:32px;min-width:800px;position:relative;z-index:0;}
#toolbar .tb_m {height:32px;margin:0 auto;position:relative;width:800px;}
#toolbar #tmenu  {clip:rect(-3px, 900px, 3000px, 0pt);height:32px;left:0;position:absolute;top:0;}
#toolbar #tmenu li {background:url("qrc:image/g.png") no-repeat scroll -150px -571px transparent;float:left;padding:0px 0px;z-index:-99;width:100px;}
#toolbar #tmenu a {color:#FFF;display:block;font-size:14px;height:32px;line-height:32px;outline:medium none;text-align:center;text-decoration:none;width:100%;}
#toolbar #tmenu .current a,#toolbar .tb_menu .current a:hover {background:url("qrc:image/g.png") no-repeat scroll 5px -570px transparent;}
#toolbar #tmenu li a:hover,#toolbar .tb_menu li.selected a {background:url("qrc:image/g.png") no-repeat scroll 5px -570px;text-decoration:none;}


body{overflow:hidden;margin: 0px auto;padding:0px;height:420px;}
#wrapper {overflow: hidden;padding:0px;width: 800px;margin: 2px auto;}
#page{height:370px;}
.content{overflow:hidden;margin: 0px auto;padding:0px;width:800px;height:360px;}


a:hover, a:link, a:visited{ text-decoration:none; }
.itext{border:1px solid #ddd;line-height:20px;height:20px;margin:0 2px;padding:0 2px;color:#333;width:150px;}

#TB_iframeContent .cfgitem, .cfgitem{clear:left;;margin:2px 0px 5px 0px;padding:0px;}
#TB_iframeContent .cfgitem h2,.cfgitem h2{background: url("qrc:image/g.png") no-repeat scroll 0 -80px transparent;color:#2C629E;width:100%;height:32px;margin:0px;line-height:32px;font-size:14px;padding-left:5px;}
#TB_iframeContent .cfgitem p,.cfgitem p {width:95%;margin:2px 0px;padding:4px 0 4px 10px;clear:left;height:22px;}
#TB_iframeContent .cfgitem span,.cfgitem span{display:block;float:left;}
#TB_iframeContent .cfgitem p .tl,.cfgitem p .tl{padding:2px 3px;}
#TB_iframeContent .cfgitem p .ip,.cfgitem p .ip{padding:2px 3px;}
#TB_iframeContent .cfgitem input,.cfgitem input {display:block;float:left;padding:0px 5px;margin:0px 5px;}
#TB_iframeContent .cfgitem input[type=checkbox],.cfgitem input[type=checkbox]{margin-top:2px;}
#TB_iframeContent .cfgitem ul ,.cfgitem ul {margin:0px;padding:0px 5px;list-style:none;}
#TB_iframeContent .cfgitem li ,.cfgitem li {padding:2px;clear:both;}
#TB_iframeContent .cfgitem table,.cfgitem table{clear:left;float:left;width:100%;}

div.tableContainer table,.clt table {float: left;width: 100%;}
thead.fixedHeader tr,thead.clt_h tr {position: relative;display: block}
thead.fixedHeader th,thead.clt_h th {
	margin-top:0px;
	border:solid 1px #ccc;
	border-width:0px 1px 1px 0px;
	padding: 2px 3px;
	text-align: center;
	display: block;
	overflow-x:hidden;
	float:left;
}
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited ,thead.clt_h a,thead.clt_h a:link,thead.clt_h a:visited {
	display: block;
	text-decoration: none;
	width: 100%;
	font-size:12px;
	text-align:center;
}
thead.fixedHeader a:hover,thead.clt_h a:visited {
	display: block;
	text-decoration: none;
	width: 100%
}

html>body tbody.scrollContent,tbody.clt_c {
	display: block;
	height: 14em;
	width: 100%;
	overflow-x:hidden;
}
tbody.scrollContent tr.even td,tbody.scrollContent tr.odd td,tbody.clt_c tr.even td,tbody.clt_c tr.odd td {
	border:solid 1px #ccc;
	border-width:0px 1px 1px 0px;
	padding: 4px 3px;
	height:1em;
	overflow-x:hidden;
	display: block;
	float:left;
	font-size:12px;
}
tbody.scrollContent tr.even td,tbody.clt_c tr.even td{
	background: #FFF;
}
tbody.scrollContent tr.odd td,tbody.clt_c tr.odd td{
	background: #EEE;
}

thead.fixedHeader th ,tbody.scrollContent td {	width: 460px}
thead.fixedHeader th + th,tbody.scrollContent td + td  {width: 160px;text-align: center;}
thead.fixedHeader th + th + th,tbody.scrollContent td + td +td  {width: 50px;text-align: center;}
thead.fixedHeader th + th + th + th,tbody.scrollContent td + td +td +td {width:50px;text-align: center;}
thead.fixedHeader th + th + th + th+th,tbody.scrollContent td + td +td +td+td {width:40px;text-align: center;}

thead.clt_h th,tbody.clt_c td {width: 147px;text-align: center;}
thead.clt_h th + th,tbody.clt_c td + td  {width: 420px;text-align: center;}
thead.clt_h th + th + th,tbody.clt_c td + td +td  {width: 150px;text-align: center;}
thead.clt_h th + th + th+th,tbody.clt_c td + td +td +td {width: 40px;text-align: center;}

.editicon,.delicon  {
    float: left;
    height: 14px;
    overflow: hidden;
    width: 14px;
	padding:0px 1px;
	margin:0px 2px;
}
.delicon { background: url("qrc:image/g.png") no-repeat scroll -955px -440px transparent;}
.editicon { background: url("qrc:image/g.png") no-repeat scroll -955px -440px transparent;}
.inc,.exc{
	float: left;
    height: 14px;
    overflow: hidden;
    width: 14px;
	padding:0px 2px;
	margin:0 20px;
}
.inc{background: url("qrc:image/g.png") no-repeat scroll -955px -440px transparent;}
.exc{background: url("qrc:image/g.png") no-repeat scroll -955px -440px transparent;}
#footer{margin:0px;padding-top:5px;/*border:solid 1px #ccc;border-width:1px 0px 0px 0px;*/}
#footer .appname{color: #FF6600;text-decoration: none;}



.success{width:25px;height:25px;background: url("qrc:image/success.png") no-repeat scroll 0 -2px transparent;}
.fail{width:25px;height:25px;background: url("qrc:image/fail.png") no-repeat scroll 0 -2px transparent;}



#TB_window {color: #333;}

#TB_window .t_input{padding:2px;}
#TB_window *{margin:0px;padding:1px 0 0 0;}
#TB_window h1{font-size:1.2em;color:#FF6A00;border-bottom: 1px solid #ccc;padding-bottom:5px;}
#TB_secondLine {font-size:10px;color:#666;}

#TB_ajaxWindowTitle {color:#2C629E;width:100%;height:32px;margin:0px;line-height:32px;font-size:14px;padding-left:5px;font-weight:bold;}

#TB_window a:link,#TB_window a:visited,#TB_window a:active,#TB_window a:focus {color: #666;}
#TB_window a:hover {color: #000;}
#TB_overlay {position: fixed;z-index:100;top: 0px;left: 0px;height:100%;width:100%;}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {background-color:#000;filter:alpha(opacity=55);-moz-opacity: 0.55;opacity: 0.55;}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {position: fixed;background: #fff;z-index: 102;color:#000;display:none;border: 4px solid #525252;text-align:left;top:200px;left:50%;}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {display:block;margin: 15px 0 0 15px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;border-top: 1px solid #666;border-left: 1px solid #666;}
#TB_caption{line-height:32px;height:32px;padding:7px 30px 10px 25px;float:left;}
#TB_closeWindow{line-height:32px;height:32px;padding:11px 25px 10px 0;float:right;}
#TB_closeWindowButton {background:url("qrc:image/g.png") no-repeat scroll -958px -565px transparent;display:block;height:14px;overflow:hidden;position:absolute;right:5px;text-indent:-999em;top:2px;width:13px;}
#TB_closeWindowButton:hover { background-position: -958px -579px; }
#TB_title{height:32px;}
#TB_load{position: fixed;display:none;height:13px;width:208px;z-index:103;top: 50%;left: 50%;margin: -6px 0 0 -104px; }
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{	z-index:99;	position:fixed;	top: 0;	left: 0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity: 0;opacity: 0;height:100%;width:100%;}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;	_margin-bottom:1px;}

.box,.boxnb{ margin:6px 0 0; width: 750px; overflow: hidden;float:left;}
.box{background:url("qrc:image/boxb.png") no-repeat scroll 0 bottom transparent}
.box .gray, .box .gray a { color: #aaa; }
.box h2 , .boxnb h2 { font-size: 12px; }
.box h3 , .boxnb h3{ font-size:15px;color:#438E0B;margin-bottom:5px; }
.box h4 , .boxnb h4 {margin-bottom:5px;font-size:15px;color:#438E0B; width: 970px; border-bottom: #438E0B 2px solid; position: relative; height: 22px}
	.ntitle{ padding: 0 6px; height: 32px; line-height: 32px; color: #333; font-size: 12px; }
		.footerbar .ntitle { margin: 0; height: 25px; line-height: 25px; font-size: 12px; }
	.ntitle a{ display:block;font-weight: normal; font-size: 12px;padding-top:-2px;line-height:12px; }
		.ntl{ float: left; padding: 0 0 0 30px; background: transparent url(image/nlr.gif) no-repeat left top; }
		.ntr{ float: right;  padding: 0 30px 0 0;  background: transparent url(image/nlr.gif) no-repeat right center;}

	.ntitle em,.ntitle  p{float:left;overflow:hidden;white-space:nowrap;font-size:110%;font-weight: blod;font-style:normal;}
	.ntitle p {color:#FF6A00;}
	.ntitle em {color:#438E0B;}

	.ntitle span { float: right; font-size: 12px; font-weight: normal;height:18px;line-height:18px;padding-top:10px;overflow:hidden; }
	/*.ntitle span .addcomment, .ntitle span .addtrackback {display:block;float:left;font-size:11px;height:15px;line-height:15px;margin-right:5px;padding-left:20px;}*/
	.ntitle ul .bkad a{padding: 5px 0 5px 16px;background:url("qrc:image/g.png") no-repeat scroll -954px -510px transparent;}
	.ntitle ul .bket a{padding: 5px 0 5px 16px;background:url("qrc:image/g.png") no-repeat scroll -954px -477px transparent;}
	.ntitle ul .bkde a{padding: 5px 0 5px 16px;background:url("qrc:image/g.png") no-repeat scroll -954px -493px transparent;}
	/*.nbox_c{ float: left; margin: 0 0px 0 0; padding: 1px;  width: 710px; border: 1px solid #DDD; overflow: hidden; }*/
.box_l{float: left; width: 500px;height:100%;overflow: hidden;margin-bottom:5px;}
	.box_l .ntitle{  background: url("qrc:image/g.png") no-repeat scroll 0 -80px transparent;}
.box_r{padding:0px;float: right; width:250px;height:100%;overflow:hidden;}
		.box_r .ntitle { height: 32px; background: url("qrc:image/g.png") no-repeat scroll -391px -80px transparent; line-height: 32px; }

	.nelt {float:right;height:18px;line-height:18px;padding:8px 2px 0 0;}
	.nelt li{float:left;list-style: none;}
	.nelt li a{display: block;text-decoration: none;width: 30px;white-space: nowrap;color:#2C629E}
	.nelt #qkmua{background: url("qrc:image/g.png") no-repeat scroll -909px -456px transparent;width: 60px;padding: 5px 0px;}
	.nelt li ul{margin-top:-2px;padding: 0;position: absolute;visibility: hidden;z-index:200;background:none repeat scroll 0 0 #FFFFFF;}
	.nelt li ul li	{float: none;display: inline}
	.nelt li ul li a {width: auto;padding: 5px 0px;}
	.nelt li ul li a:hover {color:#FF6600;}
	.nelt #qkmut{font-style:normal;}
.green,.green a{color: #438E0B;}

.muim{	padding: 1px;width:250px;}
.muim .menu_list{	width:230px;height:215px;overflow:auto;}
.muim .menu_list ul {padding:0 10px 0 0;overflow: hidden; }
.muim .menu_list li {padding:0 0 0 10px; background: url("qrc:image/g.png") no-repeat scroll -964px -122px transparent; width:160px;text-align:left;overflow:hidden;}

#menu { float: left;padding-left:5px; width: 50%; line-height: 180%; text-align: center; }

#TB_iframeContent .btn,.btn {display:block;float:right;padding-right:25px;}
.btn a,.btn a:hover{float:left;height:25px;line-height:25px;width:90px;text-align:center;color:#676767;text-decoration: none;}

.btn a{background:url("qrc:image/btn_g.png");}
.btn a:hover{background:url("qrc:image/btn.png");}
