.tableContainer_h{	clear: both;height: 1.8em;width:750px;overflow:hidden;border-bottom: 2px solid #bebebe;}
div.tableContainer ,.clt{clear: both;height: 22em;width: 750px;overflow:hidden;overflow-y:scroll;}
div.tableContainer table,.clt table {float: left;width: 723px;}
thead.dirHeader tr,thead.cmdHeader tr {position: relative;display: block;}
thead.dirHeader th,thead.cmdHeader th {font-weight: bold;	padding:4px 3px;text-align: left;display: block;	overflow-x:hidden;float:left;}
thead.dirHeader a, thead.dirHeader a:link, thead.dirHeader a:visited ,thead.cmdHeader a,thead.cmdHeader a:link,thead.cmdHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%;
	font-size:12px;
	text-align:center;
}
thead.dirHeader a:hover,thead.cmdHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

html>body tbody.dirContent,tbody.cmdContent {
	display: block;
	height: 8em;
	width: 100%
}
tbody.dirContent tr.even td,tbody.dirContent tr.odd td,tbody.cmdContent tr.even td,tbody.cmdContent tr.odd td {
	border-bottom: 1px solid #DDD;
	padding: 4px 3px;
	height:1.5em;
	overflow:hidden;
	display: block;
	float:left;
	text-overflow:ellipsis;
	word-break:keep-all;
	white-space:nowrap;
}
tbody.dirContent tr:hover,tbody.cmdContent tr:hover{
	background: #eee;
}


thead.dirHeader th,tbody.dirContent td {width: 50px}
thead.cmdHeader th,tbody.cmdContent td {width: 50px}
thead.dirHeader th + th,tbody.dirContent td + td {	width: 413px}
thead.cmdHeader th+th,tbody.cmdContent td+td {width: 100px}
thead.dirHeader th + th + th,tbody.dirContent td + td + td  {width: 150px}
thead.cmdHeader th + th + th,tbody.cmdContent td + td + td  {width: 400px}
thead.dirHeader th + th + th + th,tbody.dirContent td + td + td +td  {	width: 50px}
thead.cmdHeader th + th + th + th,tbody.cmdContent td + td + td +td  {	width: 149px}
thead.dirHeader th + th + th + th + th,tbody.dirContent td + td + td +td +td {	width: 30px}

.del_dir_span,.del_cmd_span{font-weight: bold;}
.dirContent .ind{background: url("../images/icons.png") no-repeat scroll -87px -33px;height:100%;margin:0px;padding:0px;width:25px;text-indent: -9999px;}
.dirContent .exd{background: url("../images/icons.png") no-repeat scroll -115px -33px;height:100%;margin:0px;padding:0px;width:25px;text-indent: -9999px;}