div.tableContainer ,.clt{
	clear: both;
	/*border: 1px solid #ccc;*/
	height: 24em;
	width: 750px;
	overflow:scroll;
	overflow-x:hidden;	
}
div.tableContainer table,.clt table {float: left;width: 735px;}

thead.fixedHeader th{border-bottom: 2px solid #bebebe;}

thead.fixedHeader tr,thead.clt_h tr {position: relative;display: block;}

thead.fixedHeader th,thead.clt_h th {
	font-weight: bold;
	padding: 4px 3px;
	text-align: left;
	display: block;
	overflow-x:hidden;
	float:left;
}
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited ,thead.clt_h a,thead.clt_h a:link,thead.clt_h a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%;
	font-size:12px;
	text-align:center;
}
thead.fixedHeader a:hover,thead.clt_h a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%
}

html>body tbody.scrollContent,tbody.clt_c {
	display: block;
	height: 8em;
	width: 100%
}
tbody.scrollContent tr.even td,tbody.scrollContent tr.odd td,tbody.clt_c tr.even td,tbody.clt_c tr.odd td {
	border-bottom: 1px solid #DDD;
	padding: 4px 3px;
	height:1.5em;
	overflow-x:hidden;
	display: block;
	float:left;

}
tbody.scrollContent tr.even td,tbody.clt_c tr.even td{
	background: #FFF;
}
tbody.scrollContent tr.odd td,tbody.clt_c tr.odd td{
	background: #EEE;
}

thead.fixedHeader th,tbody.scrollContent td {width: 50px}
thead.clt_h th,tbody.clt_c td {width: 50px}
thead.fixedHeader th + th,tbody.scrollContent td + td {	width: 420px}
thead.clt_h th+th,tbody.clt_c td+td {width: 107px}
thead.fixedHeader th + th + th,tbody.scrollContent td + td + td  {width: 150px}
thead.clt_h th + th + th,tbody.clt_c td + td + td  {width: 400px}
thead.fixedHeader th + th + th + th,tbody.scrollContent td + td + td +td  {	width: 50px}
thead.clt_h th + th + th + th,tbody.clt_c td + td + td +td  {	width: 150px}
thead.fixedHeader th + th + th + th + th,tbody.scrollContent td + td + td +td +td {	width: 30px}
