<div id="hhlt"> 
	<p>
		<span id="todayviewnum" class="currentx" style="border-color:#FFF">今日访问</span>
		<span id="todaystorenum" style="background-color:#FF8901">今日收藏</span>
		<span id="viewnum" style="background-color:#7BAD00">历史访问</span>
		<span id="storenum" style="background-color:#FF8901">历史收藏</span>
	</p>
	<!--{loop $hightlightlist $key $value}-->
		<dl  class="drank $value">
		<!--{loop $_SGLOBAL[$value] $k $v}-->
			<!--{eval $k=$k+1;}-->
				<dt class="l$k">
					<a target="new" title="$v[subject]" href="$v[url]">$v[subject]</a>
					<div class="num_con">
								<strong><!--{eval linkaward($v[award],0);}--></strong>
								.<!--{eval linkaward($v[award],1);}--> 
					</div>
				</dt> 
		<!--{/loop}-->
		</dl>
	<!--{/loop}-->		
</div>
