<div id="network">
	<div class="nbox_c">
		<h2 class="ntitle">
			$item[subject]			
		</h2>
		<div class="siteinfo">
					<div class="sitepic">
					<a target="_target" class="playpic" href="$item['url']" onclick="updatelinkview($item[linkid])">
					<img alt="$item['$subject']" src="$item['pic']/$item['md5url'].$_SC['link_image_suffix']">
					<em></em>
					</a>
					</div>
					<div class="sitedetail">
						<p>
							<strong>名称: </strong>
							<a href="$item['url']" target="_blank" onclick="updatelinkview($item[linkid])">$item['subject']</a>
							<span class="num_con"><span><strong><!--{eval linkaward($item[award],0);}--></strong>.<!--{eval linkaward($item[award],1);}--></span><em>(<em>$item['storenum']</em>人收)</em></span>
						</p>
						<p>
							<strong>地址: </strong>
							<a href="$item['url']" target="_blank" onclick="updatelinkview($item[linkid])">$item['url']</a>
						</p>
						<p>
							<strong>所属分类: </strong>
							<a href="type,area/movie,1" target="_blank">韩国</a>
						</p>						
						<p>
							<strong>标签: </strong>
							<!--{loop $item['link_tag'] $subkey $subvalue}-->
									<a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
							<!--{/loop}-->
						</p>
						<p>
						<div class="siteact">
							<p><strong>收录日期: </strong><span><!--{date('Y-m-d',$item[link_dateline],1)}--></span></p>
							<p><strong>收藏人数: </strong><span>$item[storenum]</span></p>
							<p><strong>浏览次数: </strong><span id="view_num">$item[viewnum]</span></p>
						<p>
							<a target="_target" href="$item['url']" onclick="updatelinkview($item[linkid])">访问</a> 
							<!--{if $ac=='link' }-->
							<a  href="cp.php?ac=link&linkid=$item[linkid]&op=bookmark">收藏</a>
							<a  onclick="ajaxmenuEx(event,'img_seccode_$linkitem[linkid]', this.id,1);" id="bookmark_reporterr_$item[linkid]" href="cp.php?ac=link&op=reporterr&linkid=$item[linkid]">举报</a>
							<!--{/if}-->
							<!--{if $_SGLOBAL[supe_uid]&&checkperm('managelink') }-->
								<a onclick="ajaxmenuEx(event,'img_seccode_$item[bmid]', this.id,1);" id="link_edit2_$item[bmid]" href="cp.php?ac=bookmark&bmid=$item[bmid]&op=edit">编辑</a>
								<a onclick="ajaxmenuEx(event,'img_seccode_$item[bmid]', this.id,1);" id="link_delete_$item[bmid]" href="cp.php?ac=bookmark&bmid=$item[bmid]&op=delete">删除</a>
							<!--{/if}-->
						</p>
						</div>
						<div class="sitescore">
							<p><strong>评价</strong> <span>(点击顶踩评价)</span></p>
							<span>
								<span class="rate">
									<a target="_self" onclick="updatelinkup($item[linkid])"  href="javascript:void(0)"></a>
								</span>
								(<span id="up_num">$item['up']</span>人顶)</span>&nbsp;&nbsp;&nbsp;
								<span class="rate">
									<a  target="_self"  onclick="updatelinkdown($item[linkid])"  href="javascript:void(0)"></a>
								</span>
								(<span id="down_num">$item['down']</span>人踩)
							</span>	  
						</div>
					</div>
					


				</div>
				<h3>站点简介</h3>
				<div class="siteintro">
					<p>$item[description]</p>
					<p>&nbsp;</p>
				</div>
		
	</div>
	<div class="nbox_s side_rbox side_rbox_w">
		<h2 class="ntitle">类似站点</h2>
		<div style="padding:10px 22px;">
			<img src="template/default/image/adv_240x200.jpg">
		</div>
		<!--
		-->
		   <dl style="display: block;" class="rank">
				<!--{template hotdigg}-->
		   </dl>
		<!--
		-->
	</div>
	<div class="nbox_c">			
		<h2 class="ntitle">				
		<div class="groupname">相似站点»</div>
		</h2>
		<!--
		-->
		<div id="thumbs" class="navigation floatleft nav_1ogin">
			<ul class="thumbs noscript">
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="数万首歌曲音乐在线试听" onclick="getrelatedlinkfromid(1);">
			<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="数万首歌曲音乐在线试听">
			</a>
			<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp">好听音乐网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="数万首歌曲音乐在线试听" onclick="getrelatedlinkfromid(2);">
			<img src="snapshot/7/4/1/5/52dda3cf118965987ad84a533706da47.jpg" alt="数万首歌曲音乐在线试听">
			</a>
			<p><a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bwofrdf%3D%25C7%25F4%25C4%25F1%26amp%3Btype%3D1%26amp%3Bmore%3Dtrue">好听音乐网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比" onclick="getrelatedlinkfromid(3);">
			<img src="snapshot/6/3/1/5/580b23629f65c8455cd4baa93b5a0da2.jpg" alt="足球,GoalHi足球是英超,意甲,五大联赛,欧冠,冠军杯,中超,国足,亚冠等足球赛事为主的网站,包含最新足球比">
			</a>
			<p><a href="link.php?url=http://www.goalhi.com">GoalHi足球</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="" onclick="getrelatedlinkfromid(4);">
			<img src="snapshot/4/4/0/5/9e9ccd263c2c516efd96da226e4556c5.jpg" alt="">
			</a>
			<p><a href="link.php?url=http://www.txzqw.com">天下足球网</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资" onclick="getrelatedlinkfromid(5);">
			<img src="snapshot/1/7/4/6/4f12a25ee6cc3d6123be77df850e343e.jpg" alt="新浪网为全球用户24小时提供全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资">
			</a>
			<p><a href="link.php?url=http://www.sina.com.cn">新浪首页</a></p>							
			</li>
			<li>
			<a class="thumb" name="leaf" href="javascript:;" title="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、" onclick="getrelatedlinkfromid(6);">
			<img src="snapshot/6/5/3/5/8239c5d74a80ad380e7e415cc7356b1b.jpg" alt="全球领先的综合性网上购物中心。超过100万种商品在线热销！图书、音像、母婴、美妆、家居、数码3C、服装、">
			</a>
			<p><a href="link.php?url=http://www.dangdang.com">当当网&mdash;网</a></p>							
			</li>
			</ul>
		</div>
	  	<!--
		-->
		<div class="content_login_r">
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="content_login_r_1">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" title="好听音乐网">
				<img src="snapshot/2/4/5/0/0e778cb0173f43e7f42114557045969d.jpg" alt="好听音乐网">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden; color: rgb(119, 119, 119);">
				<a href="link.php?url=http://search.haoting.com%2Fuser%2Fsearch1.asp%3Fword%3D%25C7%25F4%25C4%25F1%26amp%3Bamp" style="color: rgb(116, 174, 0);">好听音乐网</a>:
				数万首歌曲音乐在线试听...
				</p>
				<p style="height: 20px; line-height: 20px;">
				<span style="float: right;">
				<a id="bookmark_add_1" href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark">我要收藏</a>
				</span>
				</p>
				</div>
				<div class="txt_tag">
				<p><span>热门分类:</span>
				<a href="http://movies.xunlei.com/type,genre/movie,Action" title="动作" blockid="2217">动作</a>|<a href="http://movies.xunlei.com/type,genre/movie,Adventure" title="冒险" blockid="2217">冒险</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CComedy%2Cvod_free" title="喜剧" blockid="2217">喜剧</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CHorror%2Cvod_free" title="恐怖" blockid="2217">恐怖</a>|<a href="http://movies.xunlei.com/type,genre,tab/movie%2CSci-Fi%2Cvod_free" title="科幻" blockid="2217">科幻</a>|<a href="http://movies.xunlei.com/type,genre/movie,Crime" title="警匪" blockid="2217">警匪</a>
				</p>
				<p><span>特色频道:</span>
				<a href="http://hd.xunlei.com/" title="720P" blockid="2218">720P</a>|<a href="http://movie.xunlei.com/shoubo/" title="首播" blockid="2218">首播</a>|<a href="http://movie.xunlei.com/online/dapian_index.html" title="大片" blockid="2218">大片</a>|<a href="http://movie.xunlei.com/new,movie" title="新片" blockid="2218">新片</a>|<a href="http://movie.xunlei.com/top/" title="风云榜" blockid="2218">风云榜</a>|<a href="http://movies.xunlei.com/list,movie/" title="组合查询" blockid="2218">组合查询</a>
				</p>
				</div>
		</div>
		<!--
		-->
	</div>
</div>
