<ul class="bklt" id="bklist">
			<!--{loop $bookmarklist $key $value}-->
			<li>
					<h3>
						<a class="url id_bm_$value['bmid']" id="$value['bmid']""></a>
					</h3>
					<!--{if empty($space['style'])}-->
						<div class="d_avatar avatar125">
								<a class="url id_bm_$value['bmid']" id="$value['bmid']">
									 <!--{eval echobookmarkimagepath($value,0)}-->
								</a>
						</div>	
						<p class="message">
						<!--{if !empty($value['description'])}-->
								$value['description'] ...
						<!--{else}-->
								<span class="id_nodes" id="$value['bmid']"></span>
						<!--{/if}-->
								<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{else}-->	
						<p class="messagenopic">
							<!--{if !empty($value['description'])}-->
									$value['description'] ...
							<!--{else}-->
									<span class="id_nodes" id="$value['bmid']"></span>
							<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
					<!--{/if}-->
					<p class="tags"> 
						<!--{if !empty($value['tag'])}-->
							<!--{loop $value[tag] $subkey $subvalue}-->
								<a id="$subkey" class="id_bm_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
							$_SC['unknown_tag']
						<!--{/if}-->
					</p>					
					<p class="oper">
						<span id="share_bm_$value['bmid']"></span>
						<a class="share nhot" id="$value['bmid']"></a>
						<span>|</span>
						<a class="edit" id="$value['bmid']|$value['groupid']|$value['browserid']"></a>
						<span>|</span>
						<a class="delete" id="$value['bmid']|$value['groupid']|$value['browserid']"></a>
					</p> 
				</li>  
				<!--{/loop}-->
			</ul>
<div class="page">$bookmark_multi</div>
<div class="bloglist_ad">
		
</div>
<script language="javascript" type="text/javascript" charset="$_SC[charset]">	
		bookmarkload();
		$(".bklt .delete").each(function(){
			this.href =this.href+"&at=$at";	
		});
		$(".bklt .edit").each(function(){
			this.href =this.href+"&at=$at";	
		});	
		
		$(".bklt a").each(function(){
			$(this).css("color","#888");		
		});	
		$(".bklt h3 a").each(function(){
			$(this).css("color","#2C629E");		
		});	

<!--{loop $bookmarklist $key $value}-->	
		var id_bm_$value['bmid']_title="$value['subject']";
		$(".id_bm_$value['bmid']").attr("href","$value[url]").attr("title",id_bm_$value['bmid']_title);		
		$(".id_bm_$value['bmid']:empty").html(id_bm_$value['bmid']_title);
<!--{/loop}-->		
</script>
	

