<ul class="bklt" id="bklist">
	<!--{loop $bookmarklist $key $value}-->
			<li style="width:100%;max-height:75px;">
				<div class="lf">
					<div class="avatar48" style="float: left;">
						<a class="url id_bm_$value['bmid']" id="$value['bmid']">
							 <!--{eval echobookmarkimagepath($value,1)}-->
						</a>
					</div>						
				</div>

				<div class="lfx">		
						 <p style="font-weight:bold;">
							<a class="url id_bm_$value['bmid']" id="$value['bmid']"></a>
						 <p>
			
						<p style="text-indent:15px;max-height:40px;overflow:hidden;color:#666">
						<!--{if !empty($value['description'])}-->
							$value['description'] ...
						<!--{else}-->
							<span class="id_nodes" id="$value['bmid']"></span>
						<!--{/if}-->
							<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
						</p>
				 </div>
					<p class="tags" style="max-width:150px;float:left;"> 
						<!--{if !empty($value['tag'])}-->
							<!--{loop $value[tag] $subkey $subvalue}-->
								<a id="$subkey" class="id_bm_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
							$_SC['unknown_tag']
						<!--{/if}-->
					</p>					
					<p class="oper">
						<span id="share_bm_$value['bmid']"></span>
						<a class="share nhot" id="$value['bmid']"></a>
						<span>|</span>
						<a class="edit" id="$value['bmid']|$value['groupid']|$value['browserid']"></a>
						<span>|</span>
						<a class="delete" id="$value['bmid']|$value['groupid']|$value['browserid']"></a>
					</p> 
				</li>  
				<!--{/loop}-->
</ul>
<div class="page">$bookmark_multi</div>
<div class="bloglist_ad">
		
</div>
<script language="javascript" type="text/javascript" charset="$_SC[charset]">	
		bookmarkload();
		$(".bklt .delete").each(function(){
			this.href =this.href+"&at=$at";			
		});
		$(".bklt .edit").each(function(){
			this.href =this.href+"&at=$at";			
		});	
		$(".bklt a").each(function(){
			$(this).css("color","#888");		
		});	
		$(".bklt .lfx p > a").each(function(){
			$(this).css("color","#2C629E");		
		});	
<!--{loop $bookmarklist $key $value}-->	
		var id_bm_$value['bmid']_title="$value['subject']";
		$(".id_bm_$value['bmid']").attr("href","$value[url]").attr("title",id_bm_$value['bmid']_title);		
		$(".id_bm_$value['bmid']:empty").html(id_bm_$value['bmid']_title);
<!--{/loop}-->		
</script>
	

