<!--{template header}-->
<!--{if $_GET[op] == 'delete'}-->
<div style="padding:1px;">
<h1>删除收藏</h1>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=bookmark&op=delete&bmid=$bmid&browserid=$browserid">
	<p>确定删除标题为<span style="color:#368332">$item['subject']</span>的收藏吗？</p>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$url" />
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
</div>

<!--{elseif $_GET[op] == 'edithot'}-->

<h1>调整热度</h1>
<a href="javascript:hideMenu();" class="float_del" title="关闭">关闭</a>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=blog&op=edithot&blogid=$blogid">
	<p class="btn_line">
		新的热度：<input type="text" name="hot" value="$blog[hot]" size="5"> 
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="hotsubmit" value="true" />
		<input type="submit" name="btnsubmit" value="确定" class="submit" />
	</p>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
</div>
<!--{elseif $op == 'get'}-->
	<!--{template bookmark_item_detail}-->
<!--{else}-->
<!--{if !empty($_SGLOBAL['inajax'])}-->
<div style="padding:1px;" id="innerdiv">
<h1>编辑书签</h1>
<p>请正确填写以下书签信息。带<span style="color:red">*</span>为必填项目。</p>
<div class="popupmenu_inner">
<form method="post" action="cp.php?ac=bookmark&op=edit&bmid=$bmid&browserid=$browserid">
<table cellspacing="0" cellpadding="3" class="formtable">
<!--{else}-->
<form method="post" action="cp.php?ac=bookmark&op=edit&bmid=$bmid&browserid=$browserid" class="c_form">
<table cellspacing="0" cellpadding="3" class="formtable">
<caption>
		<h2>编辑书签</h2>
		<p>请正确填写以下书签信息。带<em>*</em>为必填项目。</p>
</caption>
<!--{/if}-->
<tr>
<th width="40"><label for="subject">名称：</label></th>
<td>	
<input type="text" id="subject" name="subject" value="$item[subject]" onfocus="clearwarning($('subject_tip'));" style="width: 396px;" class="t_input" tabindex="1"  /><em>*</em>
<p id="subject_tip"></p>
</td>
</tr>
<tr>
<th><label for="address">地址：</label></th>
<td>
<input type="text" id="address" name="address" value="$item[url]" onfocus="clearwarning($('address_tip'));" style="width: 396px;" class="t_input" tabindex="2"  /><em>*</em>
<p style="color:gray">请正确填写网页地址(http(s)://)</p>
<p id="address_tip"></p>
</td>
</tr>
<tr>
<th><label for="tag">标签：</label></th>
<td>
<input type="text" id="tag" name="tag" value="$item['tags']" style="width: 396px;" class="t_input" tabindex="3"  />
<p style="color:gray">多个标签请用空格隔开</p>
</td>
</tr>

<tr>
<th style="vertical-align: top;"><label for="description">描述：</label></th>
<td><textarea id="description" name="description" cols="40" rows="4" style="width: 400px; height: 150px;" tabindex="4">$item['description']</textarea></td>
</tr>
	<!--{if $_SCONFIG['seccode_register']}-->
	<!--{if $_SCONFIG['questionmode']}-->
	<tr>
		<th style="vertical-align: top;">请先回答问题</th>
		<td>
			<p><!--{eval question();}--></p>
			<input type="text" id="seccode" name="seccode" value="" class="t_input"  tabindex="1" autocomplete="off" />&nbsp;<span id="checkseccode">&nbsp;</span>
		</td>
	</tr>
	<!--{else}-->
	<tr>
		<th style="vertical-align: top;">验证码</th>
		<td>
		<!--{if empty($_SGLOBAL['inajax'])}-->
			<script>seccode()</script>
			<input type="text" id="seccode" name="seccode" value="" size="4" class="t_input"  onfocus="clearwarning($('checkseccode'));" tabindex="5" autocomplete="off" /><em>*</em>
			<p id="checkseccode"></p>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccode()">更换一张</a></p>			
		<!--{else}-->
			<img id="img_seccode_$item[bmid]" src='' align="absmiddle">
			<input type="text" id="seccode" name="seccode" value="" maxlength="4" onfocus="clearwarning($('checkseccode'));" class="t_input"  tabindex="5" autocomplete="off" /><em>*</em>
			<p id="checkseccode"></p>
			<p>请输入上面的4位字母或数字，看不清可<a href="javascript:updateseccodeex('img_seccode_$item[bmid]')">更换一张</a></p>
		<!--{/if}-->
		</td>
	</tr>
	<!--{/if}-->
	<!--{/if}-->
<tr>
<th>&nbsp;</th>
<td>
<input type="hidden" name="refer" value="$url" />
<input type="hidden" name="category" value="$_SC['bookmark_type_site']" />
<input type="hidden" name="editsubmit" value="true" />
<input type="button" name="btnsubmit" value="确定" class="submit"   onclick="bookmark_validate(this,'seccode',$_SGLOBAL['browser'][$browserid]['titlelen'],$_SGLOBAL['browser'][$browserid]['dirlen'] , $_SGLOBAL['browser'][$browserid]['urllen'], $_SGLOBAL['browser'][$browserid]['speicalchar']);"/>
</td>
</tr>
</table>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>
<!--{if !empty($_SGLOBAL['inajax'])}-->
</div> 
</div>
<!--{/if}-->

<!--{/if}-->
<!--{template footer}-->
