<div class="tlist">		
<ul>
<!--{loop $digglist $key $value}-->			
			<li>
				<div class="lf">
						<div style="float: left;" class="avatar48">
							<a href="space.php?do=diggpool&uid=$value[postuid]">
								<!--{avatar($value[uid],small)}-->
							</a>
						</div>						
				</div>
				<!--{if $value[picflag] }-->
				<div class="rt_p">
						<div class="lfx_p">
				<!--{else}-->
				<div class="rt">
						<div class="lfx">
				<!--{/if}-->	
							 <div class="tle">
								<a class="id_dg_$value['diggpoolid']"></a>
								<span class="gray"><!--{date('Y-m-d',$value[dateline],1)}--></span>
							 </div>
							 <div class="ds">
								<a class="id_dg_$value['diggpoolid']">$value[description]...</a> 
							</div>
						</div>
						<div class="rb gray">
							   <p class="tags">					
							   标签:
									<a>$value[tag]</a>			
							   </p>	
							   <p>
								发布者:
								 <a href="space.php?do=diggpool&uid=$value[postuid]" class="publisher">$value[username]</a>
								</p>
							  	<!--{if $value[uid]=$_SGLOBAL[supe_uid]||checkperm('allowdigg') }-->
								<p>
									<a class="publish" id="$value[diggpoolid]"></a>
								</p>
								<p>
									<a class="delete diggbtn" id="$value[diggpoolid]"></a>			
								</p>
								<!--{/if}-->
						</div>				
				</div>
					<!--{if $value[picflag] }-->	
						<div class="rightx">						
							<div class="d_avatar avatar125">
							   <a class="id_dg_$value['diggpoolid']">
									<img src="$value[pic]">
							   </a>
						  </div>				  
						</div>
					<!--{/if}-->
			</li>
<!--{/loop}-->    
</ul>
<div class="page">$diggmulti</div>
</div>
<script language="javascript" type="text/javascript">	
		diggpoolload();
<!--{loop $digglist $key $value}-->	
		var id_dg_$value['diggpoolid']_title="$value['subject']";
		$(".id_dg_$value['diggpoolid']").attr({
			href:"link.php?url=$value[url]",
			title:id_dg_$value['diggpoolid']_title, 
			target:"_blank"
		});		
		$(".id_dg_$value['diggpoolid']:empty").html(id_dg_$value['diggpoolid']_title);
<!--{/loop}-->
</script>		

