<div class="expressnav">	
		<dl>						   		
			<dt><a title="购物" target="_blank" href="channel/channel_97.html">购物</a></dt>
		
			<dd><a title="淘宝热卖" target="_blank" href="http://www.taobao.com/go/act/mmbd/pd01.php?pid=mm_12811289_2324927_9001404">淘宝热卖</a></dd>
		
			<dd><a title="淘宝商城" target="_blank" href="http://s.click.taobao.com/t_9?p=mm_12811289_2324927_9001404&amp;l=http%3A%2F%2Fmall.taobao.com%2F">淘宝商城</a></dd>
		
			<dd><a title="卓越网" target="_blank" href="http://www.amazon.cn/?source=Mozilla">卓越网</a></dd>
		
			<dd><a title="当当网" target="_blank" href="http://union.dangdang.com/transfer/transfer.aspx?from=P-270288d&amp;backurl=http://www.dangdang.com/">当当网</a></dd>
		
			<dd><a title="京东商城" target="_blank" href="http://click.union.360buy.com/JdClick/?unionId=206&amp;siteId=5&amp;to=http://www.360buy.com/">京东商城</a></dd>
		
			<dd><a title="佑一良品包包" target="_blank" href="http://www.uiyi.cn/?source=mozilla">佑一良品包包</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="channel/channel_97.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="淘宝" target="_blank" href="http://pindao.huoban.taobao.com/channel/channelCode.htm?pid=mm_12811289_2324927_9001404">淘宝</a></dt>
		
			<dd><a title="淘宝商城" target="_blank" href="http://pindao.huoban.taobao.com/tms/channel/channelmall.htm?pid=mm_12811289_2324927_9001404">淘宝商城</a></dd>
		
			<dd><a title="皇冠店铺" target="_blank" href="http://pindao.huoban.taobao.com/channel/huangguan.htm?pid=mm_12811289_2324927_9001404">皇冠店铺</a></dd>
		
			<dd><a title="品牌折扣" target="_blank" href="http://pindao.huoban.taobao.com/channel/channelMall.htm?pid=mm_12811289_2324927_9001404">品牌折扣</a></dd>
		
			<dd><a title="美容护肤" target="_blank" href="http://pindao.huoban.taobao.com/channel/beauty.htm?pid=mm_12811289_2324927_9001404">美容护肤</a></dd>
		
			<dd><a title="饰品鞋包" target="_blank" href="http://pindao.huoban.taobao.com/channel/jewelry.htm?pid=mm_12811289_2324927_9001404">饰品鞋包</a></dd>
		
			<dd><a title="数码热卖" target="_blank" href="http://pindao.huoban.taobao.com/channel/digital.htm?pid=mm_12811289_2324927_9001404">数码热卖</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="http://pindao.huoban.taobao.com/channel/channelCode.htm?pid=mm_12811289_2324927_9001404">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="交友" target="_blank" href="channel/channel_42.html">交友</a></dt>
		
			<dd><a title="世纪佳缘" target="_blank" href="http://www.jiayuan.com/st/?id=5358&amp;url=http://www.jiayuan.com/register/?style=2">世纪佳缘</a></dd>
		
			<dd><a title="珍爱婚恋网" target="_blank" href="http://love.zhenai.com/901358.html">珍爱婚恋网</a></dd>
		
			<dd><a title="红娘网" target="_blank" href="http://www.7651.com/reg/index.html?wf=hh&amp;st=dx&amp;sid=&amp;66vv.com">红娘网</a></dd>
		
			<dd><a title="网易V交友" target="_blank" href="http://love.163.com/">网易V交友</a></dd>
		
			<dd><a title="百合网" target="_blank" href="http://www.baihe.com/">百合网</a></dd>
		
			<dd><a title="绝对100婚恋" target="_blank" href="http://p.yiqifa.com/c?s=c9609b47&amp;w=87791&amp;c=248&amp;i=422&amp;l=0&amp;d=7622&amp;e=&amp;t=http://www.juedui100.com/">绝对100婚恋</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="channel/channel_42.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="社区" target="_blank" href="channel/channel_45.html">社区</a></dt>
		
			<dd><a title="天涯社区" target="_blank" href="http://www.tianya.cn/bbs/index.shtml">天涯社区</a></dd>
		
			<dd><a title="猫扑大杂烩" target="_blank" href="http://dzh.mop.com/">猫扑大杂烩</a></dd>
		
			<dd><a title="百度贴吧" target="_blank" href="http://tieba.baidu.com/">百度贴吧</a></dd>
		
			<dd><a title="新浪微博" target="_blank" href="http://t.sina.com.cn/">新浪微博</a></dd>
		
			<dd><a title="QQ论坛" target="_blank" href="http://bbs.qq.com/">QQ论坛</a></dd>
		
			<dd><a title="白社会" target="_blank" href="http://bai.sohu.com/">白社会</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="channel/channel_45.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="博客" target="_blank" href="channel/channel_38.html">博客</a></dt>
		
			<dd><a title="新浪博客" target="_blank" href="http://blog.sina.com.cn/">新浪博客</a></dd>
		
			<dd><a title="新浪微博" target="_blank" href="http://t.sina.com.cn/">新浪微博</a></dd>
		
			<dd><a title="豆瓣网" target="_blank" href="http://www.douban.com/">豆瓣网</a></dd>
		
			<dd><a title="51博客" target="_blank" href="http://www.51.com/">51博客</a></dd>
		
			<dd><a title="百度空间" target="_blank" href="http://hi.baidu.com/">百度空间</a></dd>
		
			<dd><a title="搜狐博客" target="_blank" href="http://blog.sohu.com/">搜狐博客</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="channel/channel_38.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="女性" target="_blank" href="channel/channel_41.html">女性</a></dt>
		
			<dd><a title="瑞丽女性网" target="_blank" href="http://www.rayli.com.cn/">瑞丽女性网</a></dd>
		
			<dd><a title="时尚网" target="_blank" href="http://www.trends.com.cn/">时尚网</a></dd>
		
			<dd><a title="ELLE女性网" target="_blank" href="http://www.ellechina.com/">ELLE女性网</a></dd>
		
			<dd><a title="搜狐女人" target="_blank" href="http://women.sohu.com/">搜狐女人</a></dd>
		
			<dd><a title="薄荷瘦身" target="_blank" href="http://www.boohee.com/">薄荷瘦身</a></dd>
		
			<dd><a title="爱丽女性网" target="_blank" href="http://www.27.cn/">爱丽女性网</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="channel/channel_41.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="品牌" target="_blank" href="http://s.click.taobao.com/t_9?p=mm_12811289_0_0&amp;l=http%3A%2F%2Fmall.taobao.com%2F">品牌</a></dt>
		
			<dd><a title="VANCL服装" target="_blank" href="http://www.vancl.com/?source=mozilla">VANCL服装</a></dd>
		
			<dd><a title="玛萨玛索男装" target="_blank" href="http://p.yiqifa.com/c?s=4fcce943&amp;w=87791&amp;c=4794&amp;i=7423&amp;l=0&amp;e=&amp;t=http://www.masamaso.com">玛萨玛索男装</a></dd>
		
			<dd><a title="品牌折扣网" target="_blank" href="http://www.xiu.com/?from=10641236">品牌折扣网</a></dd>
		
			<dd><a title="逛街网" target="_blank" href="http://p.yiqifa.com/c?s=37f0231e&amp;w=87791&amp;c=304&amp;i=2142&amp;l=0&amp;e=d&amp;t=http://www.togj.com">逛街网</a></dd>
		
			<dd><a title="唯品会" target="_blank" href="http://p.yiqifa.com/c?s=49c32f07&amp;w=87791&amp;c=4566&amp;i=6222&amp;l=0&amp;e=&amp;t=http://www.vipshop.com/index.php">唯品会</a></dd>
		
			<dd><a title="名鞋库" target="_blank" href="http://p.yiqifa.com/c?s=889904bf&amp;w=87791&amp;c=4156&amp;i=4162&amp;l=0&amp;e=&amp;t=http://www.skomart.com">名鞋库</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="http://s.click.taobao.com/t_9?p=mm_12811289_0_0&amp;l=http%3A%2F%2Fmall.taobao.com%2F">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	
		<dl class="line">
		
		
			<dt><a title="团购" target="_blank" href="http://i.g-fox.cn/tuan.html">团购</a></dt>
		
			<dd><a title="美团网" target="_blank" href="http://www.meituan.com/?source=mozilla">美团网</a></dd>
		
			<dd><a title="喜团网" target="_blank" href="http://www.xituan.com/team.php">喜团网</a></dd>
		
			<dd><a title="24券" target="_blank" href="http://www.24quan.com/ads.php?ads_source=23-303&amp;ads_sign=eaf4a0e3ce6db12fb120bc214e4787c9">24券</a></dd>
		
			<dd><a title="拉手网" target="_blank" href="http://www.lashou.com/?wp=68">拉手网</a></dd>
		
			<dd><a title="爱帮团" target="_blank" href="http://tuan.aibang.com/?frm=firefox">爱帮团</a></dd>
		
			<dd><a title="糯米网" target="_blank" href="http://www.nuomi.com/">糯米网</a></dd>
		
			<dd class="more"><a title="更多 &gt;&gt;" target="_blank" href="http://i.g-fox.cn/tuan.html">更多 &gt;&gt;</a></dd>
		
		
		</dl>
	


						
					</div>