<h2>
		过去几分钟弹友动态......
		<span class="more">
				<a href="space.php?do=feed">更多</a>
		</span>
</h2>
<div  id="feedscroll">
<ul>
		<!--{loop $sitefeed_list $value}-->
			<!--{eval $value = mkfeed($value);}-->
		<li>
			<div class="avatar48" style="float:left">
				<a href="space.php?do=feed&uid=$value[uid]">
					<!--{avatar($value[uid],small)}-->
				</a>
			</div>
			<div class="fdct"> 
				<span class="gray">
					<!--{date('Y-m-d',$value[dateline],1)}-->
				</span>
				<a href="#">$value[title_template]</a>
				<a href="#">$value[body_template]</a>
			</div>
		</li>
		<!--{/loop}-->
</ul>
</div>
<script type="text/javascript">
	function AutoScroll(){
			$('#feedscroll').find("ul:first").animate({
				marginTop:"-60px"
				},500,function(){
				$(this).css({marginTop:"0px"}).find("li:first").appendTo(this);
			});	
	}			
	var feedscroll_as;
	$('#feedscroll').mouseover(function(){
		$(this).find("ul:first").stop();
		clearInterval(feedscroll_as);
	});
	$('#feedscroll').mouseout(function(){
		feedscroll_as=setInterval('AutoScroll()',5000);
	});
	$(function(){
		feedscroll_as=setInterval('AutoScroll()',5000);
	});									
</script>