<!--{loop $_SGLOBAL['hotdigg'] $key $value}-->	
		<!--{if $key }-->
				<!--{eval $key=$key+1;}-->
					<dt class="n$key">
						<a target="new" title="$value[subject]" href="$value[url]" coords="_eB">$value[subject]</a>
					</dt>
				<!--{else}-->
					<dt class="n1">
						<div class="pack pack_video_brief  ">
								<div class="pic">							
									<a href="$value[url]" title="$value[subject]" target="new" class="inner">
										<img height="90" width="120" class="pack_clipImg" src="$value[pic]" coords="_eAA"></a>
								</div>
								<div class="txt">
										<h6 class="caption">
											<a title="$value[subject]" target="new" href="$value[url]" coords="_eAB"> $value[subject]</a>
											</h6>
											<dl class="info">
												<dt>分&nbsp;类:
													<a target="_blank" href="http://www.tudou.com/home/kenny1234/"  coords="_eK">$_SGLOBAL['diggcategory'][$value[categoryid]][categoryalias]</a>
												</dt>
											</dl>
									  </div>
								</div>
							</dt>
			<!--{/if}-->			
<!--{/loop}--> 					
					