<!--<static hotsite>--> 
<ul class="bklt" id="stlist">
	<!--{loop $hotsite $key $value}-->
		<li>
		<h3>
			<a class="url id_st_$value['siteid']" id="$value['siteid']"></a>
			<span>($value['storenum']人收)</span>
		</h3>
		<div class="d_avatar avatar125">
				<a class="url id_st_$value['siteid']" id="$value['siteid']">
						 <!--{if empty($value['picflag'])}-->
								<img src="template/default/image/webloading.gif">
						 <!--{else}-->
								<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
						 <!--{/if}-->							
				</a>
		</div>		
						<!--{if !empty($value['description'])}-->
		<p class="message">
								$value['description'] ...
						<!--{else}-->
		<p class="message ">
								<span class="id_nodes" id="$value['siteid']"></span>
						<!--{/if}-->
						<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
		</p>
		<p class="tags"> 
						<!--{if !empty($value['tag'])}-->
							<!--{loop $value[tag] $subkey $subvalue}-->
								<a id="$subkey" class="id_st_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
								<span></span>
						<!--{/if}-->
		</p>									
		<p class="oper">
					<!--{if empty($_SGLOBAL[supe_uid]) }-->
					<a target="_self" class="share thickbox" href="do.php?ac=$_SCONFIG['login_action']"></a>
					<span>|</span>
					<!--{else}-->
					<a  target="_self" class="share" onclick="updatestatics('site','updatesiteupnum',$value[siteid],'up_num')" 
									href="javascript:void(0)"></a>
					<span>|</span>
					<!--{/if}-->
					<a class="nhot collect" id="$value['siteid']"></a>
					<span>|</span>
				    <a class="get" id="$value['siteid']"></a>
					</p>					 
				</li>
				<!--{/loop}-->
			</ul>
<script language="javascript" type="text/javascript">
		siteload();
<!--{loop $hotsite $key $value}-->	
		var id_st_$value['siteid']_title="$value['subject']";
		$(".id_st_$value['siteid']").attr("href","$value[url]").attr("title",id_st_$value['siteid']_title);		
		$(".id_st_$value['siteid']:empty").html(id_st_$value['siteid']_title);
<!--{/loop}-->		
</script>
<!--</static>-->

