<!--<static hottoday>--> 
<div class="headline">
		<a class="pic" class="id_td_$todayhot[siteid]">
 <!--{if empty($todayhot['picflag'])}-->
			<img src="template/default/image/b_webloading.gif">
<!--{else}-->
			<img src="$todayhot['pic']/b_$todayhot['md5url'].$_SC['link_image_suffix']" alt="$todayhot['subject']" />
<!--{/if}-->	
		</a>
		<div class="desc">
					<h3>
					<a href="$todayhot['url']">$todayhot['subject']</a>
					
					</h3>
					<p>
<!--{if !empty($todayhot['description'])}-->
					$todayhot['description']...
<!--{else}-->
					&nbsp;&nbsp;&nbsp;&nbsp;暂时没有对站点&nbsp;<a class="" href="$todayhot['url']">$todayhot['subject']</a>&nbsp;的详细描述，请等待服务器更新 ...&nbsp;
<!--{/if}-->		
					<!--{date('Y-m-d',$value[dateline],1)}-->&nbsp;&nbsp; ($todayhot['storenum']人收藏)
					</p>
					<p>网址:&nbsp;&nbsp;<a href="$todayhot['url']">$todayhot['url']</a></p>
					<p>
						分类:&nbsp;&nbsp;<a href="space.php?do=navigation&classid=$todayhot['class']" target="_blank" style="color:#8ABC2B;">{$todayhot['classname']}</a>
					</p>
										
					
					<p>
						<span style="min-width:100px;float:left;">
								标签:&nbsp;&nbsp;
								<!--{loop $todayhot['tag'] $subkey $subvalue}-->
								<a id="$subkey">$subvalue</a>
								<!--{/loop}-->
						</span>
							<a href="cp.php?ac=site&siteid=$todayhot[siteid]&op=bookmark" >我要收藏</a>
					</p> 					
		</div>
</div>
<!--</static>-->