<div id="network">
<div  style="height:505px;padding-top:10px;">
	<div class="box_l" style="height:500px;">		
				<h2 class="ntitle">
					<p id="groupname">$classitem['classname']&raquo;</p>
				</h2>
				<div id="bmcontent"> 
					<div class="nnct">
						<dl class="nncg">
							<dt>							
								<div style="display:inline;">
								子分类 
										<form style="display:inline;padding-left:50px;" id="linkclass_$classid" name="linkclass_$classid" action="cp.php?ac=linkclass&op=add" method="post"     >		
											<input type="text" class="t_input" style="width: 50px;" value="" name="classname" id="tag" />
											<input type="submit"  class="submit" value="增加" onclick="ajaxpost('linkclass_$classid', 'linkclass_add')" />
											<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
											<input type="hidden" name="classid" value="$classid" />
											<input type="hidden" name="addsubmit" value="true" />
											<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
										</form>
								</div> 								
							</dt>
							<dd id="linkclass_$classitem['classid']_name">
								   <!--{loop $manageclass[son] $key $valueson}-->
											<a href="#">$valueson['classname']</a>
								   <!--{/loop}--> 
							</dd>
						</dl>
						<dl class="nncg">
							<dt> 								
								<div style="display:inline;">
								关键字
										<form style="display:inline;padding-left:50px;" id="linkclassform_$classid" name="linkclassform_$classid" action="cp.php?ac=linkclasstag&op=add" method="post"     >		
											<input type="text" class="t_input" style="width: 50px;" value="" name="tag" id="tag" />
											<input type="submit"  class="submit" value="增加" onclick="ajaxpost('linkclassform_$classid', 'linkclasstag_add')" />
											<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
											<input type="hidden" name="classid" value="$classid" />
											<input type="hidden" name="addsubmit" value="true" />
											<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
										</form>
								</div> 								
							</dt>
							<dd id="linkclassform_$classitem['classid']_tag" >
						   <!--{loop $manageclass[tag] $key $valuesontag}-->
									<a href="#">$valuesontag['tagname']</a>
						   <!--{/loop}--> 
						   	</dd>
						</dl>
					</div>
				</div>
	</div>

	<div class="box_r" style="height:500px;">			 
				<h2 class="ntitle">
						<p>导航菜单&raquo;</p>
				</h2> 
								<div class="nnct">
								<!--{loop $linkclasslist $key $value}-->
									<dl class="nncg">
										<dt>
											
											<div style="display:inline;">
											$value['classname']
												<form style="display:inline;padding-left:50px;" id="linkclass_$value['classid']" name="linkclass_$value['classid']" action="cp.php?ac=linkclass&op=add" method="post"     >		
													<input type="text" class="t_input" style="width: 50px;" value="" name="classname" id="tag" />
													<input type="submit"  class="submit" value="增加" onclick="ajaxpost('linkclass_$value['classid']', 'linkclass_add')" />
													<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
													<input type="hidden" name="classid" value="$value['classid']" />
													<input type="hidden" name="addsubmit" value="true" />
													<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
												</form>
											</div> 						
										</dt>
											<dd id="linkclass_$value['classid']_name">
												<!--{loop $value[son] $key $valueson}--> 
												<a href="cp.php?ac=linkclass&op=manage&classid=$valueson['classid']">$valueson['classname']</a>
												<!--{/loop}-->
											</dd>
									</dl>
								<!--{/loop}-->						
							</div> 

	</div> 						
</div>
</div>
<script language="javascript"  type="text/javascript">
function showlinkclassid(id)
{
	if($(id).style.display=="none")
			$(id).style.display="block";
	else
		    $(id).style.display="none";
}
</script>

