<h2 class="ntitle">
	<em>导航菜单&raquo;</em>
</h2> 
<div class="nnct">
		<!--{loop $_SGLOBAL['siteclass'] $key $value}-->
					<dl class="nncg">
						<dt>$value['classname']</dt>
							<dd >
								<!--{loop $value[son] $key $valueson}-->  								
								<a  id="$valueson['classid']">$valueson['classname']</a>
								<!--{/loop}-->
							</dd>
					</dl>
		<!--{/loop}-->						
</div> 
<script language="javascript" type="text/javascript">	
		$(".nncg a").each(function(){
			this.href ="javascript:;";
			$(this).attr("onclick","getAjax('siteview',"+this.id+");");
		});
</script>
