<div id="rdsect">
	<div id="slideshow" class="link200">
		<a href="$relatedlist[0]['url']" title="$relatedlist[0]['link_subject']">
			<img src="$relatedlist[0]['pic']/$relatedlist[0]['md5url'].$_SC['link_image_suffix']" alt="$relatedlist[0]['link_subject']" />
		</a>
	</div>
	<p class="relate_desc">
			<a href="$relatedlist[0]['url']" class="aqua">$relatedlist[0]['link_subject']</a>:
			$relatedlist[0]['link_description']...
	</p>
	<p class="relate_tag">
			<span class="tag" style="width:180px;">
				<!--{loop $relatedlist[0]['link_tag'] $subkey $subvalue}-->
						<a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
				<!--{/loop}-->
			</span>
			<span style="float:right;">
				<a  id="bookmark_add_$relatedlist[0][linkid]" href="cp.php?ac=link&linkid=$relatedlist[0][linkid]&op=bookmark" >我要收藏</a>
			</span>
	</p>
</div>
