
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
					<!--{loop $relatedlist $value}-->
						<li>
							<a class="thumb" name="leaf" href="javascript:;" title="$value['link_description']" onclick="getrelatedlinkfromid($value['linkid']);">
								<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']" alt="$value['link_description']" />
							</a>
							<p><a href="$value['url']">$value['link_subject']</a></p>							
						</li>
					<!--{/loop}-->
					</ul>
				</div>
				<div style="clear: both;"></div>


