<div id="thumbs">
		<ul style="width:375px;">
			<!--{loop $relatedlist $value}-->
				<li>
					<a  title="$value['description']" onclick="getAjax('siterelate','$value['siteid']');">
						<img src="$value['pic']/l_$value['md5url'].$_SC['link_image_suffix']"/>
					</a>
					<p><a href="$value['url']">$value['subject']</a></p>							
				</li>
			<!--{/loop}-->
		</ul>
</div>
<script language="javascript" type="text/javascript">	
	$("#thumbs li>a").attr("class","thumb").attr("href","javascript:;");
</script>

