<div id="rdsect">
	<div id="slideshow" class="link200">
		<a>
			<img src="$relatedlist[0]['pic']/b_$relatedlist[0]['md5url'].$_SC['link_image_suffix']"/>
		</a>
	</div>
	<p class="relate_desc">
			<a></a>:
			$relatedlist[0]['link_description']...
	</p>
	<p class="relate_tag">
			<span class="tag" style="width:180px;">
				<!--{loop $relatedlist[0]['link_tag'] $subkey $subvalue}-->
						<a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
				<!--{/loop}-->
			</span>
			<a  id="bookmark_add_$relatedlist[0][linkid]" href="cp.php?ac=link&linkid=$relatedlist[0][linkid]&op=bookmark" >我要收藏</a>
	</p>
</div>
<script language="javascript" type="text/javascript">
	var relateurl = $relatedlist[0]['url'];
	var relatesubject = $relatedlist[0]['link_subject'];
	$('#slideshow > a').attr("href",relateurl);
    $('#rdsect .relate_desc a').attr("href",relateurl);
	$('#rdsect .relate_desc a').html(relatesubject);
	$('#slideshow > a').attr("title",relatesubject);
	$('#slideshow > a >img').attr("title",relatesubject);
</script>
