<!--search bar start-->
<div class="s_clear searchbar">
    <div class="floatleft searchForm">
         <ul>
		<form target="google_window" action="http://www.google.com/search" method="get" style="float:left">
                <li>
					<input type="text" value="请输入关键词" onfocus="if(this.value=='请输入关键词'){this.value='';}" onblur="if(this.value==''){this.value='请输入关键词';}" name="searchgooglekey" maxlength="255" id="sbi" class="t_input" style="padding:5px" size="50">
                    <input class="submit" type="submit" value="搜索" name="searchsubmit">
                </li>
                <li>
                    <input type="checkbox" size="2" maxlength="2" value="googleck" checked>
                </li>
                <li>
                    <a href="#" class="logogoogle">&nbsp;</a>
                </li>
                <li>
                    <select name="baidu_judet">
					    <option value="web">网页</option>
                        <option value="news">新闻</option>                    
                        <option value="Alba">图片</option>
                        <option value="mp3">mp3</option>
                    </select>
                </li>
		</form>
		<form target="google_window" action="http://www.google.com/search" method="get" style="float:left">
				<input type="text" name="searchbaidukey" style="display:none" >
                <li>
                    <input type="checkbox" size="2" maxlength="2" value="baiduck" checked>
                </li>
                <li>
                    <a href="#" class="logobaidu">&nbsp;</a>
                </li>
                <li>
                    <select name="google_judet" style="z-index:-10;">
                		<option value="web">网页</option>
                        <option value="news">新闻</option>                    
                        <option value="Alba">图片</option>
                        <option value="mp3">mp3</option>
                    </select>
                </li>
		 </form>
         </ul>
       
    </div>
    <div class="floatright search_r">
        <form action=space.php method=get>
            <input class=t_input style="padding-right: 5px; padding-left: 3px; padding-bottom: 5px; padding-top: 5px"
            size=15 name=searchkey>
            <select name=do>
                <option value=blog selected>
                    日志
                </option>
                <option value=album>
                    相册
                </option>
                <option value=thread>
                    话题
                </option>
                <option value=poll>
                    投票
                </option>
                <option value=event>
                    活动
                </option>
            </select>
            <input class=submit type=submit value=搜索 name=searchsubmit>
            <input type=hidden value=all name=view>
            <input type=hidden value=dateline name=orderby>
        </form>
    </div>
</div>
<!--searchBar end-->