<h3>今日热荐&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="third">
         <h5>定制您的浏览器</h5>
         <p>您可以添加、删除、移动浏览器界面上的任何按钮和工具栏，<a href="http://www.opera.com/browser/tutorials/personalize/ui/#toolbar_customize">这一切都非常容易</a>… 恢复亦是如此。</p>       
         <h5>快速访问书签</h5>
         <p>方便的书签栏令经常访问的站点及书签文件夹保持在最前，方便您快速访问。您可以选择 Opera 菜单 -&gt; 工具栏 -&gt; 书签栏(Mac 下是查看 -&gt; 工具栏 -&gt; 书签栏)来启用。</p>
      
 </div>

<div class="third last">
         <img rel="platform" src="template/default/image/scr-tabs.png">
         <h5>保护标签不会被意外关闭</h5>
         <p>右键点击标签，您可以从菜单中选择锁定标签，以避免被意外关闭。锁定的标签现在占用极小的空间，且会自动的整齐排列在标签栏最左侧。</p>
</div>

<h3>今日热荐&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="third">
            <h5>从地址栏搜索网络</h5>
         <p>从地址栏输入关键词搜索可以帮您节约时间，您可以选择您喜欢的任何搜索引擎来使用此功能。</p>
      
            <h5>获取您搜索内容的建议</h5>
         <p>搜索建议会预测您输入的内容，令搜索更快更容易。Google 搜索建议已经内嵌在 Opera 中，此外还有 Wikipedia、Bing、Baidu、Yandex 等，在使用搜索框或者在地址通过关键字搜索时会看到对应搜索引擎的搜索建议。比如，要查看 Google 搜索建议，在地址输入 “g 关键词”即可。</p>
      
         </div>

<div class="third last">
            <h5>轻松找到已访问的页面</h5>
         <p>通过在地址栏中输入关键词，您可以在地址栏中搜索历史和书签。搜索结果将会匹配页面正文，可以很方便的从已访问的页面中找到需要的内容。您还可以从下拉列表中直接删除历史页面。</p>
      
            <img rel="platform" src="template/default/image/scr-addressfield.png">
         </div>
      