<h3>$_SC['softname']用来干什么的&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="olne">
<p>您想轻敲几个键盘按键就打开您常使用的目录吗?</p>
<p>您想轻敲几个键盘按键就打开指定的程序吗?</p>
<p>您想轻敲几个键盘按键就打开您喜欢的网站吗?</p>
<p>您想在随便一台电脑都可以访问自己收藏的站点而不用为记住域名而烦恼吗?</p>
<p>您想在不使用鼠标的情况下网页搜索您需要的信息吗?</p>
<p>那就选择她吧！远离&nbsp;<a href="http://baike.baidu.com/view/10901.htm">鼠标手</a>&nbsp;,还有更多的趣味技巧，她会让您工作学习更加从容！更加得心应手！</p>
</div>
<h3>快捷&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="olne">
	<div class="third">        
			 <h5>快速访问书签</h5>
			 <p>智能学习您电脑上指定浏览器的书签，这样只要您在键盘输入书签的部分或完整名字或者书签的域名即可实现您快速访问。</p>
			 <img rel="platform" src="template/default/image/scr-tabs.png">      
	</div>

	<div class="third last">
			<h5>快速访问文件,目录,程序</h5>
			<p>智能学习电脑文件,目录,安装的软件程序，您只要在键盘上输入部分或完整的名字即可访问您所需要的目录,文件,程序<a href="space.php?do=help#toolbar_customize">这一切都非常容易</a>… 。</p>  
			 <img rel="platform" src="template/default/image/scr-tabs.png">
	</div>
</div>

<h3>同步与安全&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="olne">
	<div class="third">        
			 <h5>同步书签</h5>
			 <p>不需要改变的您的使用习惯,按照浏览器原来的方式增加,修改,删除,管理收藏书签,工具会智能自动更新到网络上,实现多台电脑书签同步化,方便学习与工作.</p>		      
	</div>

	<div class="third last">
			<h5>安全</h5>
			<p>保证您的书签安全,不受系统崩溃和电脑丢失的影响.无论何时何地,您只需登录就即可还原您的书签信息</p>  
	</div>
</div>
<h3>自定义&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
<div class="olne">
	<div class="third">
			 <h5>定制您的程序文件目录</h5>
			 <p>您可以自由添加,删除，修改目录地址,且可以指定所关注的文件的扩展名,工具会智能学习相关的文件与程序,以便您快速的使用它们</p>
	</div>
	 <div class="third last">
			<h5>个性化的快捷键</h5>
			 <p>您可以根据您的个人习惯,单独给您常使用的目录,文件,程序设置不同的快捷键,让您工作学习更加从容</p>
			<img rel="platform" src="template/default/image/scr-addressfield.png">
	 </div>    
 </div>
 <h3>优化与高效&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
 <div class="olne">
	 <div class="third">
			 <h5>高效的搜索</h5>
			 <p>无需鼠标的情况下,可以实现快速多个网络搜索引擎进行网页搜索.且支持您选择自己喜欢的搜索引擎,提升搜索效率,是您工作学习的好帮手</p>
	 		 <h5>数据优化</h5>
			 <p>优化保证工具不会因为学习大量的数据而导致运行过程中占用大量的系统资源,也不会明显影响搜索匹配的效率</p>
	 </div>
	 <div class="third last">
			 <h5>轻松找到已访问的站点,程序,文件</h5>
				 <p>只需轻轻点击PageDown按键,即可出现您最近访问站点,程序,文件,方便您快速再次的访问.</p>
				<img rel="platform" src="template/default/image/scr-addressfield.png">
	 </div>     
 </div>