<h1>
	<ul>
			<li><span>易用</span>--几分钟即可上手,从此如虎添翼</li>
			<li><span>快捷</span>--轻巧键盘即可打开指定网页或程序</li>
			<li><span>安全</span>--不受系统崩溃影响,轻松还原收藏网址</li>
			<li><span>免费</span>--本工具及其相关服务永久免费</li>
	</ul>
</h1>
<img src="./template/default/image/soft.gif">
<!--{if !empty($indexpage) }-->
<ul id="step" class="thst">
		<li>
			<a href="do.php?ac=$_SCONFIG[register_action]"><em>1: 注册</em><span>10秒内轻松完成注册</span></a>
		</li>
		<li>
			<a href="space.php?do=soft"><em>2: 下载并安装</em><span>提供安装版本与绿色版本供您选择</span></a>
		</li>
		<li >
			<a href="space.php?do=help"><em>3: 使用</em><span>了解软件功能及解决使用中的疑惑</span></a>
		</li>
</ul>
<!--{/if}-->