<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->

<!--{else}-->
<div id="network">
<!--{template login}-->
<div  style="height:705px;">
	<div class="nbox_c" style="height:700px;">		
				<!--{template space_bookmark_title}-->
		<div id="bmcontent">
				<!--{template space_bookmark_list}-->
		</div>
	</div>

	<div class="nbox_s side_rbox side_rbox_w" style="height:700px;">	
			 <!--{template usermenu}-->	 
	</div> 						
</div>
<div  class="nbox">
		<!--{template todayhot}-->
	<div id="relatedcontent">  
		
	</div>	
</div>
<script language="javascript"  type="text/javascript">
	$('relatedcontent').innerHTML=$('relatehtm').innerHTML;
	$('relatehtm').parentNode.removeChild($('relatehtm'));
</script>
<div class="nbox">
	<div class="nbox_c">
		<h2 class="ntitle"><span class="r_option"><a href="space.php?do=thread&view=all">更多话题</a></span>话题 &raquo;</h2>
		<div id="diggcontent">
		<!--{template space_digg_list}-->
		</div>
	</div>
	<div id="npoll" class="nbox_s side_rbox side_rbox_w">
		<div class="side_rbox_c">
			<h2 class="ntitle"><span class="r_option"><a href="space.php?do=poll">更多投票</a></span>投票 &raquo;</h2>
			<!--{template space_digg_sortlist}-->
		</div>
	</div>
</div>
		<div class="fbbottom"></div>
	</div>

</div>
<!--{template footer}-->
<!--{/if}-->
