<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_link_list}-->
<!--{else}-->
<div id="network">
<!--{template login}-->
<div class="nbox" style="height:650px;">

	<div class="nbox_c">
	<h2 class="ntitle">
		<span class="r_option" style="padding-right:150px;"></span>
<!--{if $op=='manage'}-->
		待验证站点 &raquo;
<!--{elseif $op=='checkerror'}-->
		举报站点 &raquo;
<!--{else}-->
		我的上榜 &raquo;
<!--{/if}-->			 
	</h2>
	<div id="bmcontent">
		<!--{template space_link_list}-->	
	</div>
	</div>

	<div class="nbox_s side_rbox side_rbox_w">
		<!--{template usermenu}-->	 
	</div>
 						
</div>
<!--{template footer}-->
<!--{/if}-->
