<!--{template header}-->
<script language="javascript" type="text/javascript" >
	$("#nav_menu li").removeClass("current"); 
	$("#nav_menu #nav_index").addClass("current");
</script>
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_bookmark_list}-->
<!--{else}-->
<!--{template board}-->	
<div class="boxb" style="height:470px;">
	<div class="box_l" style="height:470px;">
				<h2 class="ntitle">				
					<p>弹指桌面工具&raquo;</p>
				</h2>	
			<div class="soft">
					<!--{template soft}-->	
			</div>
			<div class="box_l" style="height:250px;">			
					<h2 class="ntitle">				
						<p>最热收藏&raquo;</p>
					</h2>			
					<!--{template space_navigation_list}-->	
			</div>
	</div>
	<div class="box_r" style="height:470px;">
			<h2 class="ntitle" >
				<em>
					弹指登录&raquo;<a style="color:#aaa;font-size:85%;font-weight:normal;">&nbsp;&nbsp;请使用email登录</a>			
				</em>
			</h2> 
			<div  class="slogin">
					<!--{template slogin}-->	
			</div>
			<div class="feeds" >
					<!--{template feeds}-->	
			</div>
	</div>	
</div>
<!--{template footer}-->
<!--{/if}-->
