<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{template space_bookmark_list}-->
<!--{else}-->
<div id="network">
<!--{template login}-->
<div  style="height:705px;padding-top:10px;">

	<div class="nbox_c" style="height:700px;">
		<!--{template space_bookmark_title}-->
	<div id="bmcontent">
		<!--{template space_bookmark_list}-->	
	</div>
	</div>	 
	<div class="nbox_s side_rbox side_rbox_w" style="height:700px;">
		<!--{template usermenu}-->	 
	</div>	  						
</div>
<div  class="nbox">
		<!--{template todayhot}-->
	<div id="relatedcontent">

	</div>	
</div>
<script language="javascript"  type="text/javascript">
	$('relatedcontent').innerHTML=$('relatehtm').innerHTML;
	$('relatehtm').parentNode.removeChild($('relatehtm'));
</script>
<!--{template footer}-->
<!--{/if}-->
