<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	   	   <!--{template space_site_list_sub}-->
<!--{if $isSecClass }-->
<h2 class="navtab_x" style="display:none;">
				<p id="groupname">$classitem['classname']&raquo;</p>
				<!--{template space_catelog_tab}-->	
</h2>
<script language="javascript" type="text/javascript" >		
	$(".navtab").html($(".navtab_x").html()); 
	$(".navtab").addClass("ntitle"); 
</script>
<!--{/if}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	$("#nav_menu li").removeClass("current"); 
	$("#nav_menu #nav_navigation").addClass("current");
</script>
<!--{template board}-->
<!--{if empty($classid)}-->
<div class="box">
	<div class="box_l">
		<h2 class="navtab"></h2>
		<div id="bmcontent">
			<!--{loop $navlist $key $bookmarklist}-->
				<div  style="height:105px;" class="ntitle">
						<a style="float:left;width:10px;padding-top:20px;color:#FF6A00;font-size:14px;font-weight:bold;line-height:20px;"id="groupname" href="space.php?do=navigation&classid=$bookmarklist['siteclassid']">
						$bookmarklist['classname']
						</a>						
						<!--{template space_navigation_class}-->						
				</div>	
			<!--{/loop}-->
		</div>
	</div>
	<div class="box_r" >	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{else}-->	
<div class="boxb" style="height:805px;">
	<div class="box_l" style="height:800px;">		
		<h2 class="ntitle navtab">
				<p id="groupname">$classitem['classname']&raquo;</p>
				<!--{template space_catelog_tab}-->	
		</h2>
		<div id="bmcontent"> 			  
				<!--{template space_site_list_sub}-->				  
		</div>
	</div>
	<div class="box_r" style="height:800px;">	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{/if}-->
<!--{template footer}-->
<!--{/if}-->
