<!--{template header}-->
<!--{template board}-->	
<div class="box">
	<div class="box_l">
			<h3>弹指桌面工具&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
			<div class="soft">
					<!--{template soft}-->	
			</div>
			<div class="box_l">			
					<h3>今日热荐&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
						 <!--{template hottoday}-->
					<h3>弹友热藏&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
						 <!--{template hotsite}-->
					<h3>快速导航&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·</h3>
						 <!--{template expressnav}-->
			</div>
	</div>
	<div class="box_r">
			<h3>
				<span class="yellow">弹指登录&raquo;</span>
					<cite style="color:#aaa;font-size:85%;font-weight:normal;font-style:normal;">&nbsp;&nbsp;请使用email登录</cite>	
				</em>
			</h3> 
			<div  class="slogin">
					<!--{template slogin}-->	
			</div> 
			<div class="feeds" >
					<!--{template digg_sortlist}-->
			</div>
			<div class="feeds" >
					<!--{template feeds}-->	
			</div>
	</div>	
</div>
<!--{template footer}-->

