<div class="navigation floatleft nav_1ogin" id="thumbs">
<ul class="thumbs noscript">
<!--{loop $bookmarklist['son'] $key $value}-->
<!--{if $key>=3}-->
<li class="mgn5">
	<a href="$value[url]" title="{$value[link_subject]}" target="_blank" name="leaf" class="thumb">
	<img alt="$value['link_subject']" src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
	</a>
	<p><a href="$value[url]">$value[link_subject]</a></p>							
</li>
<!--{/if}-->
<!--{/loop}-->
</ul>
</div> 

<div class="content_login_r" >
<!--{loop $bookmarklist['son'] $key $value}-->
<!--{if $key<3}-->
		<div class="content_login_r_1">
				<a href="$value[url]" title="{$value[link_subject]}">
					<img alt="$value['link_subject']" src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top: 2px; overflow: hidden;color:#777">
					<a style="color: #74AE00;" href="$value[url]">$value[link_subject]</a>:
					$value['link_description']...
				</p>
				<p style="height: 20px; line-height: 20px;">
					<span style="float: right;">
						<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
					</span>
				</p>
		</div>
<!--{/if}-->
<!--{/loop}-->
		<div class="hottag">
						<p><span>特色分类:</span>	
							
							<!--{if !empty($bookmarklist['classname'])}-->
								<a  href="space.php?do=$do&classid=$bookmarklist[classid]">$bookmarklist['classname']综合</a>|
							<!--{/if}-->
							<!--{loop $bookmarklist['sonclass'] $key $value}-->								
								<a  href="space.php?do=$do&classid=$value[classid]">$value[classname]</a>|
							<!--{/loop}-->
						</p>
						<p><span>热门标签:</span>
						<!--{loop $bookmarklist['sontag'] $key $value}-->								
								<a href="space.php?do=linktag&tagid=$value[tagid]">$value[tagname]</a>|
						<!--{/loop}-->						
						</p>
		</div>

</div>	