<script language="javascript" type="text/javascript" >
jQuery(document).ready(function(){
			jQuery(".nav_tab li:first").addClass("nav_on");
			jQuery(".nav_tab li").click(function(){
				jQuery(".nav_tab li").removeClass("nav_on"); 
				jQuery(this).addClass("nav_on");		
		});	
});
</script>
<ul class="nav_tab">
	<!--{loop $child_class $key $value}-->
			<!--{if $key }--> 			
					<li><a href="javascript:;" onclick="ajaxget('space.php?do=$do&classid=$value[classid]', 'bmcontent');">$value[classname]</a></li> 				
			<!--{else}-->
				<!--{if $isSecClass }-->
					<li class="nav_on"><a href="javascript:;" onclick="ajaxget('space.php?do=$do&classid=$value[classid]', 'bmcontent');">$value[classname]</a></li>
				<!--{else}-->
					<li class="nav_on"><a href="javascript:;" onclick="ajaxget('space.php?do=$do&classid=$value[classid]', 'bmcontent');">$value[classname]</a></li>
				<!--{/if}-->
			<!--{/if}-->
	<!--{/loop}-->
</ul>
