<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	   	   <!--{template space_link_list_sub}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_navigation").addClass("current");
</script>
<div id="login">
	<!--{template login}-->
</div>

<!--{if empty($classid)}-->
<div style="padding-top:10px;">
	<div class="box_l">
	<!--{loop $navlist $key $bookmarklist}-->
		<div  style="height:135px;">		
			<h2 class="ntitle">
				<div class="lgpnm" id="groupname">$bookmarklist['classname']&raquo;</div>
			</h2>
			<div id="bmcontent"> 			  
				<!--{template space_navigation_class}-->				  
			</div>
		</div>	

	<!--{/loop}-->
	</div>
	<div class="box_r" >	
			 <!--{template navigation}-->	 
	</div> 
<!--{else}-->	
<div  style="height:805px;padding-top:10px;">
<div class="box_l" style="height:800px;">		
	<h2 class="ntitle">
			<div class="lgpnm" id="groupname">$classitem['classname']&raquo;</div>
			<!--{template space_catelog_tab}-->	
	</h2>
	<div id="bmcontent"> 			  
		    <!--{template space_link_list_sub}-->				  
	</div>
</div>
	<div class="box_r" style="height:800px;">	
			 <!--{template navigation}-->	 
	</div> 
<!--{/if}-->

						
</div>
</div>
<!--{template bm_footer}-->
<!--{/if}-->
