<ul class="bloglist">
	<!--{loop $bookmarklist $key $value}-->
		<li>
		<h3>
			<a class="url id_st_$value['siteid']" id="$value['siteid']"></a>
			<p class="num_con">
				<span>
					<strong><!--{eval linkaward($value[award],0);}--></strong>.<!--{eval linkaward($value[award],1);}-->
				</span>
				<em>(<em>$value['storenum']</em>人收)</em>
			</p>
		</h3>
		<div class="d_avatar avatar125">
				<a class="url id_st_$value['siteid']" id="$value['siteid']">
						 <!--{if empty($value['picflag'])}-->
								<img src="$value['tmppic']">
						 <!--{else}-->
								<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
						 <!--{/if}-->							
				</a>
		</div>		
						<!--{if !empty($value['description'])}-->
		<p class="message">
								$value['description'] ...
						<!--{else}-->
		<p class="message ">
								<span class="id_nodes" id="$value['siteid']"></span>
						<!--{/if}-->
						<span class="ndate"><!--{date('Y-m-d',$value[dateline],1)}--></span>
		</p>
		<p class="tags"> 
						<!--{if !empty($value['tag'])}-->
							<!--{loop $value[tag] $subkey $subvalue}-->
								<a id="$subkey" class="id_st_tag">$subvalue</a>
							<!--{/loop}-->
						<!--{else}-->
								<span></span>
						<!--{/if}-->
		</p>									
		<p class="oper">
					<a class="nhot collect" id="$value['siteid']"></a>
					<span>|</span>
				    <a class="get" id="$value['siteid']"></a>
					<span>|</span>
				  	<!--{if $_SGLOBAL[supe_uid]&&checkperm('managesite') }-->
					<a class="edit" id="$value['siteid']"></a><span>|</span><a class="delete" id="$value['siteid']"></a>
					<!--{else}-->
					<!--{/if}-->
					</p>					 
				</li>
				<!--{/loop}-->
			</ul>
<div class="page">$bookmark_multi</div>
<div class="bloglist_ad">
		<img src="./template/default/image/468x60.jpg">
</div>

<script language="javascript" type="text/javascript">	
		siteload();
<!--{loop $bookmarklist $key $value}-->	
		var id_st_$value['siteid']_title="$value['subject']";
		jQuery(".id_st_$value['siteid']").attr("href","$value[url]").attr("title",id_st_$value['siteid']_title);		
		jQuery(".id_st_$value['siteid']:empty").html(id_st_$value['siteid']_title);
<!--{/loop}-->
		
</script>

