<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	  <!--{template space_bookmark_list}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_mytanzhi").addClass("current");
</script>
<div id="login">
		<!--{template login}-->
</div>
<div  class="boxb" style="height:705px;">
		<div class="box_l" style="height:700px;">		
					<!--{template space_bookmark_title}-->
			<div id="bmcontent">
					<!--{template space_bookmark_list}-->
			</div>
		</div>

		<div class="box_r" style="height:700px;">	
				 <!--{template usermenu}-->	 
		</div> 						
</div>
<div  class="box">
			<!--{template todayhot}-->
		<div id="relatedcontent">  
			
		</div>	
</div>
<script language="javascript"  type="text/javascript">
	$('relatedcontent').innerHTML=$('relatehtm').innerHTML;
	$('relatehtm').parentNode.removeChild($('relatehtm'));
</script>
<div class="boxb" style="height:890px;">
		<div class="box_l" style="height:890px;">
			<h2 class="ntitle">
				<span><a href="space.php?do=digg">更多话题</a></span>
				<p>话题 &raquo;</p>
			</h2>
			<div id="diggcontent">
				<!--{template space_digg_list}-->
			</div>
		</div>
		<div class="box_r" style="height:890px;">
				<h2 class="ntitle">
				</h2>
				<!--{template space_digg_sortlist}-->
		</div>
</div>
<div class="fbbottom"></div>

<!--{template footer}-->
<!--{/if}-->
