<h2 class="ntitle">
			<p id="groupname">$groupname &raquo;</p>
			<ul id="qkmu">
				<li>
					<a href="javascript:;" id="qkmua" >
					<cite id="qkmut">最近访问</cite><img align="absmiddle" src="image/more.gif" >
					</a>	
					<ul>
						<li><a href="javascript:;" onclick="setquickmenu('lastvisit');">最近访问</a></li>
						<li><a href="javascript:;" onclick="setquickmenu('oftenvisit');">经常访问</a></li>
						<li><a href="javascript:;" onclick="setquickmenu('lastadd');">最新添加</a></li>
						<li><a href="javascript:;" onclick="setquickmenu('mycharts');">我的上榜</a></li>
					</ul> 
				</li>
			</ul> 			
			  <span id="groupdo">
				 <!--{if ($op=='browser')}-->
						<span class="addcomment">
						<a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$groupid&browserid=$browserid&op=add" id="bmdir_add_$groupid]" onclick="ajaxmenuEx(event,'img_seccode_add_$groupid', this.id,1)">增加</a>
						</span>
						<!--{if ($browserid!=$_SGLOBAL['browsertype']['firefox']&&empty($groupid))||($browserid==$_SGLOBAL['browsertype']['firefox'])&&($groupid==$_SGLOBAL['firefox_menu_groupid']||$groupid==$_SGLOBAL['firefox_tool_groupid'])}-->
						<!--{else}-->
						<span class="addtrackback">
						<a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$groupid&browserid=$browserid&op=edit" id="bmdir_edit_$groupid" onclick="ajaxmenuEx(event,'img_seccode_edit_$groupid', this.id,1)">修改</a>
						</span>
						<span class="addtrackback">
						<a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$groupid&browserid=$browserid&op=delete" id="bmdir_delete_$groupid" onclick="ajaxmenuEx(event, this.id)">删除</a>
						</span>
						  <!--{/if}-->
				  <!--{/if}-->
			</span>				
</h2>  		