<div  id="thumbs">
<ul style="width:265px;">
<!--{loop $item['relate'] $key $value}-->
<li>
	<a href="$value[url]" title="{$value[subject]}" target="_blank" class="thumb">
			<!--{if empty($value['picflag'])}-->
				<img src="$value['tmppic']">
		    <!--{else}-->
				<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
			<!--{/if}-->							
	</a>
	<p><a href="$value[url]">$value[subject]</a></p>							
</li>
<!--{/loop}-->
</ul>


<div class="big" >
<!--{loop $item['bigrelate'] $key $value}-->
		<div class="big_l">
				<a href="$value[url]" title="{$value[subject]}" class="bimg">
					<!--{if empty($value['picflag'])}-->
						<img src="$value['tmppic']">
					<!--{else}-->
						<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']">
					<!--{/if}-->
				</a>
				<p style="text-indent: 5px; height: 55px; padding-top:2px; overflow: hidden;color:#777;clear:both;">
					<a style="color: #74AE00;" href="$value[url]">$value[subject]</a>:
					$value['description']...
				</p>
				<!--
				<p style="height: 20px; line-height: 20px;">
					<span style="float: right;">
						<a href="cp.php?ac=link&amp;linkid=1&amp;op=bookmark" id="bookmark_add_1">我要收藏</a>
					</span>
				</p>
				-->
		</div>
<!--{/loop}-->
		<div class="hottag">
						<p><span>特色分类:</span>								
							<!--{loop $hotclass $key $value}-->								
								<a  href="space.php?do=navigation&classid=$value[classid]">$value[classname]</a>|
							<!--{/loop}-->
						</p>
						<p><span>热门标签:</span>
						<!--{loop $hottag $key $value}-->								
								<a href="space.php?do=sitetag&tagid=$value[tagid]">$value[tagname]</a>|
						<!--{/loop}-->						
						</p>
		</div>

</div>
</div> 