<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template bm_header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	   	   <!--{template space_link_list_sub}-->
<!--{else}-->
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_navigation").addClass("current");
</script>
<div id="login">
	<!--{template login}-->
</div>

<!--{if empty($classid)}-->
<div class="boxb">
	<div class="box_l">
	<!--{loop $navlist $key $bookmarklist}-->
		<div  style="height:135px;">		
			<h2 class="ntitle">
				<p id="groupname">$bookmarklist['classname']&raquo;</p>
			</h2>
			<div> 			  
				<!--{template space_navigation_class}-->				  
			</div>
		</div>	

	<!--{/loop}-->
	</div>
	<div class="box_r" >	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{else}-->	
<div class="boxb" style="height:805px;">
	<div class="box_l" style="height:800px;">		
		<h2 class="ntitle">
				<p id="groupname">$classitem['classname']&raquo;</p>
				<!--{template space_catelog_tab}-->	
		</h2>
		<div id="bmcontent"> 			  
				<!--{template space_link_list_sub}-->				  
		</div>
	</div>
	<div class="box_r" style="height:800px;">	
			 <!--{template navigation}-->	 
	</div> 
</div>
<!--{/if}-->
<!--{template bm_footer}-->
<!--{/if}-->
