<h2 class="ntitle">
		<span class="r_option" style="padding-right:150px;">
		<ul>
		 <!--{if isset($_GET['groupid'])}-->
        		<li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=add" id="bmdir_add_$_GET['groupid']" onclick="ajaxmenu(event, this.id,1)">增加</a></li>
            <li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=edit" id="bmdir_edit_$_GET['groupid']" onclick="ajaxmenu(event, this.id,1)">修改</a></li>
           	<li><a href="cp.php?uid=$space[uid]&ac=bmdir&bmdirid=$_GET['groupid']&browserid=$browserid&op=delete" id="bmdir_delete_$_GET['groupid']" onclick="ajaxmenu(event, this.id)">删除</a></li>
          <!--{/if}-->
        </ul>	
			</span> $groupname &raquo;</h2>
			<ul class="bloglist">
			<!--{loop $bookmarklist $key $value}-->
			<li <!--{if $key%2==1}-->class="list_r"<!--{/if}-->>
					<h3><a href="$value[url]" target="_blank" onclick="updatevisitstat($value[bmid])">$value[subject]</a></h3>
					<div class="d_avatar avatar125">
							<a href="$value[url]" title="{$value[subject]}" target="_blank">
								 <!--{if empty($value['picflag'])}-->
									<img src="$value['tmppic']">
								 <!--{else}-->
									<img src="$value['pic']">
								 <!--{/if}-->
									
							</a>
					</div>
					<p class="message">$value[description] ...</p>
					<p class="c_date"></p>
					<p class="bmtag">
					<!--{loop $value[tag] $subkey $subvalue}-->
                    <a onclick="ajaxget('space.php?uid=$_SGLOBAL['supe_uid']&do=linktag&tagid=$subkey&ajaxdiv=bmcontent', 'bmcontent')" href="javascript:;">$subvalue</a>
					<!--{/loop}-->
					&nbsp;
					</p>
					<p class="nhot"><a href="space.php?uid=$value[uid]&do=blog&id=$value[linkid]">$value[hot] 人推荐</a></p>
					<p class="c_date"></p>
					<p class=ndate><span><!--{date('Y-m-d H:i',$value[dateline],1)}--></span></p>	
				  <span class=bvisit><a href="$value[url]"  target="_blank" onclick="updatevisitstat($value[bmid])" >点击访问<span id="visitstat"></span></a></span>
				  
					<span class=deletebtn><a href="cp.php?ac=bookmark&uid=$_SGLOBAL['supe_uid']&bmid=$value[bmid]&browserid=$value[browserid]&op=delete" id="bookmark_delete_$value[bmid]" onclick="ajaxmenu(event, this.id,1)">删除</a></span>
					 <span class=editbtn><a href="cp.php?uid=$_SGLOBAL['supe_uid']&ac=bookmark&bmid=$value[bmid]&groupid=$value[groupid]&browserid=$value[browserid]&op=edit" id="bookmark_edit_$value[bmid]" onclick="ajaxmenu(event, this.id,1)">编辑</a></span>
				</li>
				<!--{/loop}-->

			</ul>
<div class="page">$bookmark_multi</div>
<div id="relatehtm" style="display:none">
				<h4>$groupname &raquo;下面可能有你感兴趣的内容哦</h4>
			<div class="recommleft">
			<div style="width:320px;height:151px;overflow:hidden;">
				<div id="user_recomm">
					<h2>站长推荐</h2>
					<div class="s_avatar">
						<a href="./template/default/image/001.jpg" title="title0">
									<img src="./template/default/image/001.jpg" alt="Title #0" />
						</a>
					</div>
					<div class="s_cnts">
						<h3><a href="http://www.sohu.com" title="{$_SN[$value[uid]]}">搜狐网</a></h3>
						<p>收藏数: $value[viewnum]</p>
						<p>推荐指数: $value[credit]</p>
						<hr />
						<p><a href="cp.php?ac=link">我要上榜</a></p>
					</div>	
				</div>
			</div>
				<div class="description">
						美国《福布斯》杂志近日根据美国专利商标局所提供的专利，评出14项最怪异发明，入
						<p style="height:20px;line-height:20px;">标签:足球 欧冠<span style="float:right;"><a href="#">我要收藏</a></span></p>
						
				</div>
			</div>
			<div id="container">
				<!-- Start Advanced Gallery Html Containers -->
				<div id="gallery" class="content">					
							<div id="slideshow" class="slideshow">
								<a href="./template/default/image/001.jpg" title="title0">
									<img src="./template/default/image/001.jpg" alt="Title #0" />
								</a>
								<p style="text-indent:5px;height:55px;padding-top:2px;">
								<a href="http://www.sohu.com" style="color:red;">搜狐网</a>:美国《福布斯》杂志近日根据美国专利商标局所提供的专利，评出14项最怪异发明，入
								</p>
								<p style="height:20px;line-height:20px;">标签:足球 欧冠<span style="float:right;"><a href="#">我要收藏</a></span></p>
							</div>

				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" name="leaf" href="./template/default/image/001.jpg" title="title0">
								<img src="./template/default/image/001.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>

						<li>
							<a class="thumb" name="leaf1" href="./template/default/image/002.jpg" title="title0">
								<img src="./template/default/image/002.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>
						
						<li>
							<a class="thumb" name="leaf2" href="./template/default/image/003.jpg" title="title0">
								<img src="./template/default/image/003.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>

						<li>
							<a class="thumb" name="leaf3" href="./template/default/image/004.jpg" title="title0">
								<img src="./template/default/image/004.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>	
												<li>
							<a class="thumb" name="leaf" href="./template/default/image/001.jpg" title="title0">
								<img src="./template/default/image/001.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>

						<li>
							<a class="thumb" name="leaf1" href="./template/default/image/002.jpg" title="title0">
								<img src="./template/default/image/002.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>							
						</li>
						
						<li>
							<a class="thumb" name="leaf2" href="./template/default/image/003.jpg" title="title0">
								<img src="./template/default/image/003.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>

						<li>
							<a class="thumb" name="leaf3" href="./template/default/image/004.jpg" title="title0">
								<img src="./template/default/image/004.jpg" alt="Title #0" />
							</a>
							<p><a href="http://www.sohu.com">搜狐</a></p>
						</li>
					</ul>
				</div>


				<div style="clear: both;"></div>
			</div>	

</div>

