<!--{template header}-->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<div class="tlist">		
		<ul>
			<!--{loop $sitefeed_list $value}-->	
			<!--{eval $value = mkfeed($value);}-->
			<li>
				<div class="lf">
					<div class="avatar48" style="float:left">
						<a href="space.php?uid=$value[uid]">
							<!--{avatar($value[uid],small)}-->
						</a>
					</div>
				</div>
				<!--{if $value[icon]=='digg' }-->
					   <!--{template space_feed_digg_li}-->
			    <!--{else}-->
					<!--{if $value[icon]=='link' }-->
							<!--{template space_feed_link_li}-->
				 	<!--{else}-->
					<!--{/if}-->
				<!--{/if}-->
			</li>
			<!--{/loop}-->
		</ul>
		<div class="page">$feedmulti</div>
	</div>
<!--{else}-->	
<script language="javascript" type="text/javascript" >
	jQuery("#nav_menu li").removeClass("current"); 
	jQuery("#nav_menu #nav_mytanzhi").addClass("current");
</script>
<div id="login">
	<!--{template login}-->
</div>
<div  class="boxb" style="height:705px;">
	<div class="box_l" style="height:700px;">		
				<h2 class="ntitle">
					<p>$username 最近动态 &raquo;</p>
					<!--{if !empty($username) }-->
						<a href="space.php?do=feed" style="float:right;padding-right:5px;">全部</a>
					<!--{/if}-->
				</h2>
		<div id="bmcontent">
				<div class="tlist">		
					<ul>
						<!--{loop $sitefeed_list $value}-->	
						<!--{eval $value = mkfeed($value);}-->
						<li>
							<div class="lf">
								<div class="avatar48" style="float:left">
										<a href="space.php?do=feed&uid=$value[uid]">
										<!--{avatar($value[uid],small)}-->
										</a>
								</div>
							</div>
							<!--{if $value[icon]=='digg' }-->
								   <!--{template space_feed_digg_li}-->
						    <!--{else}-->
								<!--{if $value[icon]=='link' }-->
									<!--{template space_feed_link_li}-->
							 	<!--{else}-->
								<!--{/if}-->
						 <!--{/if}-->
						</li>
						<!--{/loop}-->
					</ul>
					<div class="page">$feedmulti</div>
				</div>
				
		</div>		
	</div>
	<div class="box_r" style="height:700px;">	
			  
	</div> 						
</div>
<!--{template footer}-->
<!--{/if}-->
