			<h4>下面可能有你感兴趣的内容哦</h4>
			<div class="recommleft">
			<!--{loop $todayhot $value}-->
			<div style="width:320px;height:151px;overflow:hidden;">
				<div id="user_recomm">
					<h2>站长推荐</h2>
					<div class="s_avatar">
						<a href="$value['url']" title="$value['link_description']">
									<img src="$value['pic']/$value['md5url'].$_SC['link_image_suffix']" alt="$value['link_description']" />
						</a>
					</div>
					<div class="s_cnts">
						<h3><a href="$value['url']" title="{$value['link_subject']}">$value['link_short_subject']</a></h3>
						<p>收藏数: $value['storenum']</p>
						<p>推荐指数: $value[hot]</p>
						<hr />
						<p><a href="cp.php?ac=link">我要上榜</a></p>
					</div>	
				</div>
			</div>
				<div class="description">
						$value['link_short_description']
						<p style="height:20px;line-height:20px;">标签:$value['link_tag']<span style="float:right;">
						<a  id="bookmark_add_$value[linkid]" href="cp.php?ac=link&linkid=$value[linkid]&op=bookmark" >我要收藏</a>
						</span>
						</p>
						
				</div>
			<!--{/loop}-->
			</div>	
