<h4>下面可能有你感兴趣的内容哦</h4>
<div class="recommleft">
		<div id="user_recomm">
			<h2>站长推荐</h2>
			<div class="s_avatar">
					<a class="id_td_$todayhot[siteid]">
						<img src="$todayhot['pic']/$todayhot['md5url'].$_SC['link_image_suffix']" alt="$todayhot['subject']" />
					</a>
			</div>
			<div class="s_cnts">
					<h3><a class="id_td_$todayhot[siteid]">$todayhot['short_subject']</a></h3>
					<p>
						推荐指数: 
						<span class="num_con">
							<span>
								<cite><!--{eval linkaward($todayhot[award],0);}--></cite>.<!--{eval linkaward($todayhot[award],1);}-->
							</span>
						</span>
					</p>
					<p>收藏数: $todayhot['storenum']</p>
					<p>浏览数: $todayhot['viewnum']</p>
					<hr />
					<p><a href="cp.php?ac=link">我要上榜</a></p>
			</div>	
		</div>
	<p class="rlt_des">
		<a class="id_td_$todayhot[siteid]" class="aqua">$todayhot['short_subject']</a>:
					$todayhot['short_description']...
	</p>
	<p class="rlt_line">
			<span class="tag" style="width:220px;">
					<!--{loop $todayhot['link_tag'] $subkey $subvalue}-->
					<a class="id_td_tag_$todayhot[siteid]" id="$subkey">$subvalue</a>
					<!--{/loop}-->
			</span>
			<span style="float:right;padding-right:5px;">
					<a  id="bookmark_add_$todayhot[siteid]" href="cp.php?ac=site&siteid=$todayhot[siteid]&op=bookmark" >我要收藏</a>
			</span>
	</p> 						
</div>	
<script language="javascript" type="text/javascript">	
		jQuery(".id_td_$todayhot[siteid]").attr("href","$todayhot['url']").attr("target","_blank").attr("title","$todayhot['subject']").attr("onclick","updatesiteview($todayhot['siteid']);this.href=this.href+'&title=$todayhot['subject']';");
		jQuery(".id_td_tag_$todayhot[siteid]").each(function(){
			this.href = "javascript:;";
			jQuery(this).attr("onclick","ajaxget('space.php?do=linktag&tagid="+this.id+"&ajaxdiv=bmcontent', 'bmcontent')");
		});
</script>