<h2 class="ntitle">	
	<em>菜单&raquo;</em>
</h2>
<div class="menu_item">
       	<div class="tabs_header">
			<ul class="tabs">
                <!--{eval mkbrowsertab($browserid)}-->
			</ul>
		</div> 
         <ul  class="menu_list menu_list_1">
                <!--{eval usermenu(1,$groupid,'getbmfromid')}-->
        </ul>
		 <ul  class="menu_list menu_list_2">
                <!--{eval usermenu(2,$groupid,'getbmfromid')}-->
        </ul>
		 <ul  class="menu_list menu_list_3">
                <!--{eval usermenu(3,$groupid,'getbmfromid')}-->
        </ul>
		<div class="feeds" >
				<!--{template feeds}-->
		</div>
</div>
<script language="javascript"  type="text/javascript">
	$(document).ready(function(){
			$(".tabs_header .tabs #"+$browserid).addClass("active");  
			$(".menu_list").hide();
			$(".menu_list_"+$browserid).show(); 
			$(".tabs_header .tabs >li").click(function(){ 
				$(".tabs_header .tabs >li").removeClass("active"); 
				$(this).addClass("active"); 
				$(".menu_item .menu_list").hide();
				$(".menu_item .menu_list_"+$(this).attr("id")).show();  
		});
	});
</script>

