<h2 class="ntitle">
菜单&raquo;
</h2>

		<div class="side_rbox_c" >
				<div class="menu_item">
                            	<div class="tabs_header">
										<ul class="tabs">
                                	       <!--{eval mkbrowsertab($browserid)}-->
										</ul>
								</div> 

                                <ul  class="menu_list">
                                			<!--{eval usermenu($browserid,$groupid,'getbmfromid')}-->
                                </ul>
						<!--
						<div class="side_rbox_adv">
						<a title=admin href="http://192.168.115.2/uc/home/space.php?uid=1" target=_blank>
                              <img onerror="this.onerror=null;this.src='./template/default/image/1_1264944905dc86.jpg'"
                                        src="./template/default/image/imgad.gif">
                        </a>
						</div>
						-->
						<div style="width: 280px; overflow: hidden;" >
							<h2 style="color:#F4950D;font-weight:bold;font-size:110%;">
								过去几分钟弹友动态......
								<span style="color:#ccc;font-weight:normal;font-size:90%;float:right;">
									<a href="space.php?do=feed">更多</a>
								</span>
								
							</h2>
							<ul class="sitefeed">
								<!--{loop $sitefeed_list $value}-->
									<!--{eval $value = mkfeed($value);}-->
									<li style="height:60px;overflow: hidden">
									<div class="avatar48" style="float:left">
										<a href="space.php?uid=$value[uid]">
										<!--{avatar($value[uid],small)}-->
										</a>
									</div>
									<div style="float:left;padding:2px;width:215px;">
									<a href="#">$value[title_template]</a><a href="#">$value[body_template]</a> <span class="gray">01-29 16:11</span>
									</div>
									</li>
								<!--{/loop}-->
							</ul>                       
						</div>
                </div>
		</div>
