# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

IDI_ICON1               ICON    DISCARDABLE     "touchAny.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "FileDescription", "www.tanzhi.com"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "www.tanzhi.com"
            VALUE "LegalCopyright", "Copyright (C) 2010 "
            VALUE "OriginalFilename", "hello.exe"
            VALUE "ProductName", "www.tanzhi.com"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
/* End of Version info */

